<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" ng-controller="mainCtrl" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" ng-controller="mainCtrl" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" ng-controller="mainCtrl" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" ng-controller="mainCtrl" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-if="!categoryName">Minipivovar TATRAS, Poprad</title>
    <title ng-if="categoryName">{{ categoryName | translate }} TATRAS, Poprad</title>

    <meta name="description" content="Ozajstné Pivo, to je TATRAS | Minipivovar | Reštaurácia | Penzión *** | Pivné Kúpele | v Poprade">
    <meta name="keywords"
          content="Tatras, Minipivovar Tatras, Minipivovar Poprad, Pivovar, Pivovar Poprad, Pivovar Tatras, Pivo, Beer, APA, IPA,
          Reštaurácia, Poprad, Tatry, Vysoké Tatry, Hight Tatras, Penzión, Accomodation, Hotel, Room, Rooms, Private, Pivné Kúpele, Masáž,
          Relax, Massage, Beer Spa, Beer Wellness, Wellness, podniky, bary, puby, krčmy, čapované, liter, sud, čapovat ">

    <meta name="robots" content="index,follow">

    <!-- facebook share image -->
    <meta property="og:site_name" content="Minipivovar TATRAS Poprad" />
    <meta property="og:site" content="minipivovartatras.sk" />
    <meta property="og:title" content="Minipivovar TATRAS Poprad" />
    <meta property="og:description" content="TATRAS | Minipivovar | Reštaurácia | Penzión *** | Pivné Kúpele | POPRAD" />
    <meta property="og:image" content="http://minipivovartatras.sk/components/assets/imgs/share.jpg?w=764&amp;h=400&amp;crop=1" />
    <meta property="og:url" content="http://minipivovartatras.sk/" />
    <meta property="og:type" content="website" />

    <!-- language versions -->
    <link rel="canonical" href="http://minipivovartatras.sk/">
    <link rel="alternate" href="http://minipivovartatras.sk/#/sk"
          hreflang="sk" />
    <link rel="alternate" href="http://minipivovartatras.sk/#/en"
          hreflang="en" />

    <!-- favicon -->
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="components/assets/imgs/icons/favicon.ico"/>

    <!-- icons -->
    <link rel="apple-touch-icon-precomposed" sizes="29x29" href="components/assets/imgs/icons/tatras_icon-29.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="50x50" href="components/assets/imgs/icons/tatras_icon-50.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="components/assets/imgs/icons/tatras_icon-57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="components/assets/imgs/icons/tatras_icon-72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="components/assets/imgs/icons/tatras_icon-114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="components/assets/imgs/icons/tatras_icon-144.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="components/bower/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="components/bower/html5-boilerplate/dist/css/main.css">

    <link rel="stylesheet" type="text/css" media="all" href="components/assets/css/hamburger.css">
    <link rel="stylesheet" type="text/css" media="all" href="components/bower/angular-material-icons/angular-material-icons.css">
    <link rel="stylesheet" type="text/css" media="all" href="components/bower/flexslider/flexslider.css">
    <link rel="stylesheet" type="text/css" media="all" href="components/bower/angularjs-datepicker/dist/angular-datepicker.css">
    <link rel="stylesheet" type="text/css" media="all" href="components/bower/wickedpicker/dist/wickedpicker.min.css">
    <!--<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="components/bower/bootstrap/dist/css/bootstrap.min.css" >
    <!-- Angular reservation minified css -->
    <link rel="stylesheet" href="components/bower/angular-reservation/dist/angular-reservation.min.css">

    <link rel="stylesheet" type="text/css" media="all" href="components/assets/css/main.min.css">
</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-view class="app">
    <p>Všetky pivá varené v Tatrase majú vlastnú tajnú receptúru. Aby sa zachovala ich nezameniteľná vôňa a chuť, pivá sa nefiltrujú ani nepasterizujú. Nepoužívajú sa žiadne konzervačné látky, prísady, náhrady sladu, ochucovadlá, arómy, stabilizátory peny či farbivá</p>
    <div class="index-links">
        <a href="http://minipivovartatras.sk/"  target="_self">Tatras</a>
        <a href="http://minipivovartatras.sk/#/"  target="_self">Pivo</a>
        <a href="http://minipivovartatras.sk/#/welcome"  target="_self">Tatras</a>

        <a href="http://minipivovartatras.sk/#/beer"  target="_self">Minipivovar</a>
        <a href="http://minipivovartatras.sk/#/beer#beers" target="_self">Ozajstné Pivo</a>
        <a href="http://minipivovartatras.sk/#/beer#history" target="_self">História</a>
        <a href="http://minipivovartatras.sk/#/beer#contact" target="_self">Kontakt</a>


        <a href="http://minipivovartatras.sk/#/restaurant" target="_self">Reštaurácia</a>
        <a href="http://minipivovartatras.sk/#/restaurant#menu" target="_self">Denné Menu</a>
        <a href="http://minipivovartatras.sk/#/restaurant#book" target="_self">Rezervovať stôl</a>
        <a href="http://minipivovartatras.sk/#/restaurant#contact" target="_self">Kontakt</a>
        <a href="http://minipivovartatras.sk/#/restaurant#hours" target="_self">Otváracie Hodiny</a>


        <a href="http://minipivovartatras.sk/#/pension" target="_self">Penzión</a>
        <a href="http://minipivovartatras.sk/#/pension#rooms" target="_self">Izby</a>
        <a href="http://minipivovartatras.sk/#/pension#about" target="_self">Info</a>
        <a href="http://minipivovartatras.sk/#/pension#book" target="_self">Rezervovať izbu</a>
        <a href="http://minipivovartatras.sk/#/pension#services" target="_self">Služby</a>
        <a href="http://minipivovartatras.sk/#/pension#contact" target="_self">Kontakt</a>


        <a href="http://minipivovartatras.sk/#/spa" target="_self">Pivné kúpele</a>
        <a href="http://minipivovartatras.sk/#/spa#info" target="_self">Špeciálna procedúra</a>
        <a href="http://minipivovartatras.sk/#/spa#prices" target="_self">Cenník</a>
        <a href="http://minipivovartatras.sk/#/spa#book" target="_self">Rezervovať</a>
        <a href="http://minipivovartatras.sk/#/spa#hours" target="_self">Otváracie Hodiny</a>
        <a href="http://minipivovartatras.sk/#/spa#contact" target="_self">Kontakt</a>

        <!-- <a href="www.minipivovartatras.sk/#/shop" class="btn" translate>shop</a> -->
    </div>
</div>

<!-- Libraries Dependences  -->
<script src="components/bower/jquery/dist/jquery.min.js"></script>
<script src="components/bower/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="components/bower/flexslider/jquery.flexslider.js"></script>
<script src="components/bower/html2canvas/build/html2canvas.min.js"></script>
<!-- Libraries Moment.js  -->
<script src="components/bower/moment/min/moment-with-locales.js"></script>
<script src="components/bower/moment-timezone/moment-timezone.js"></script>
<!-- Libraries wickedpicker.js  -->
<script src="components/bower/wickedpicker/dist/wickedpicker.min.js"></script>


<!-- Angular Dependences  -->
<script src="components/bower/angular/angular.js"></script>
<script src="components/bower/angular-route/angular-route.min.js"></script>
<script src="components/bower/angular-sanitize/angular-sanitize.min.js"></script>
<script src="components/bower/angular-animate/angular-animate.min.js"></script>
<script src="components/bower/angular-scroll/angular-scroll.min.js"></script>
<script src="components/bower/angular-messages/angular-messages.min.js"></script>
<!-- Angular Date Picker  -->
<script src="components/bower/angularjs-datepicker/dist/angular-datepicker.js"></script>
<!-- Angular Translate  -->
<script src="components/bower/angular-translate/angular-translate.min.js"></script>
<script src="components/bower/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<!-- AngularFire -->
<script src="components/bower/firebase/firebase.js"></script>
<script src="components/bower/firebase/firebase-firestore.js"></script>
<script src="components/bower/angularfire/dist/angularfire.min.js"></script>
<!-- Angular Material -->
<script src="components/bower/angular-material-icons/angular-material-icons.min.js"></script>
<script src="components/bower/promise-tracker/promise-tracker.js"></script>
<script src="components/bower/promise-tracker/promise-tracker-http-interceptor.js"></script>
<!-- Angular Flex Slider -->
<script src="components/bower/angular-flexslider/angular-flexslider.js"></script>
<!-- Angular Analytics -->
<script src="components/bower/angulartics/dist/angulartics.min.js"></script>
<script src="components/bower/angulartics-google-analytics/dist/angulartics-ga.min.js"></script>
<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    window['GoogleAnalyticsObject'] = 'ga';
    window['ga'] = window['ga'] || function() {
            (window['ga'].q = window['ga'].q || []).push(arguments)
        };
</script>

<!-- Latest compiled and minified JavaScript -->
<script src="components/bower/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- bootstrap-timepicker -->
<script src="components/bower/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<!-- Underscore.js -->
<script src="components/bower/underscore/underscore-min.js"></script>

<!--- development -->
<!--- controllers -->
<script src="controllers/mainCtrl.js"></script>
<script src="controllers/startCtrl.js"></script>
<script src="controllers/homeCtrl.js"></script>
<script src="controllers/restaurantCtrl.js"></script>
<script src="controllers/pensionCtrl.js"></script>
<script src="controllers/spaCtrl.js"></script>
<script src="controllers/shopCtrl.js"></script>
<script src="controllers/adminCtrl.js"></script>
<!--- main script -->
<script src="app.js"></script>


<!--&lt;!&ndash;- production &ndash;&gt;-->
<!--&lt;!&ndash;- controllers &ndash;&gt;-->
<!--<script src="modules.min.js"></script>-->
<!--&lt;!&ndash;- main script &ndash;&gt;-->
<!--<script src="app.min.js"></script>-->
</body>
</html>
