//* Extra Large Screen *//
@media all and(min-width: 80em) {
  //* helper *//
  body:before {
    content: 'Extra Large Screen';
  }
  .content-main {
    padding: 2em 3em 2em 6em;
  }
  .content-main .table-info .table-info-item span {
    font-size: 1.25em;
  }
  .right .content-main .table-info .table-info-item p {
    font-size: 2em;
  }

  .right .content-wrapper .content-main .boxer .box {
    width: 25em;
  }
  .right .content-wrapper .content-main .boxer .box .img {
    height: 25em;
  }
  .right .content-wrapper .content-main .boxer .salon {
    width: 18em;
    padding: 1em;
  }
  .content-main .daily-menu-list {
    max-width: 55em;
  }
  .book-form .book-wrap {
     margin-left: 0;
     padding: 0.5em;
   }
  .flex-nopadding {
    padding: 0 0 0 3.5em;
  }
}