

$url_logo:  url(../imgs/tatras_logo.png);
$url_logo_silueta:  url(../imgs/tatry-silueta.svg);
$url_logo_korunka:  url(../imgs/korunka.png);

$url_photo_01:  url(../imgs/new/_RK_0005.JPG);
$url_photo_02:  url(../imgs/new/_RK_0068.JPG);
$url_photo_03:  url(../imgs/new/_RK_0079.JPG);
$url_photo_04:  url(../imgs/new/_RK_0105.JPG);
$url_photo_05:  url(../imgs/new/_RK_5680.JPG);
$url_photo_06:  url(../imgs/new/_RK_5691.JPG);
$url_photo_07:  url(../imgs/new/_RK_5715.JPG);
$url_photo_08:  url(../imgs/new/_RK_5724.JPG);
$url_photo_09:  url(../imgs/new/_RK_5773.JPG);
$url_photo_10:  url(../imgs/new/_RK_5799.JPG);
$url_photo_11:  url(../imgs/new/_RK_5878.JPG);
$url_photo_12:  url(../imgs/new/_RK_5912.JPG);
$url_photo_13:  url(../imgs/new/_RK_5947.JPG);
$url_photo_koleno:  url(../imgs/jedlo/_RK_0105.JPG);
$url_photo_licka:  url(../imgs/tatarak.jpg);

$url_photo_etikety : url(../imgs/etikety.jpg);
$url_photo_slad : url(../imgs/degustacia1.jpg);


$url_photo_rebra:  url(../imgs/jedlo/rebra.JPG);
$url_photo_interier:  url(../imgs/interier.JPG);
$url_photo_podpivnik:  url(../imgs/podpivnik.jpg);
$url_pivo_01:  url(../imgs/pivo/pivo1.jpg);
$url_pivo_02:  url(../imgs/pivo/pivo2.jpg);
$url_pivo_05:  url(../imgs/pivo/pivo5.JPG);
$url_photo_bg-beerhand: url(../imgs/pivo_ruky.jpg);
$url_photo_3beers:  url(../imgs/pivo/3beers.jpg);
$url_photo_sandb:  url(../imgs/pivo/smallandbig.jpg);
$url_photo_predajnicka:  url(../imgs/predajnicka.jpg);


$url_photo_pension1: url(../imgs/pension/pension01.jpg);
$url_photo_pension2: url(../imgs/pension/pension02.jpg);
$url_photo_sudok: url(../imgs/exterier/sudok.jpg);
$url_photo_exterier: url(../imgs/exterier/vonku.jpg);
$url_photo_pivo_flase: url(../imgs/pivo.vitrina2.JPG);
$url_photo_tankovna: url(../imgs/varenie/tankovna.JPG);

$url_photo_spa1: url(../imgs/spa/kupele1.jpg);
$url_photo_spa2: url(../imgs/spa/kupele2.jpg);
$url_photo_spa3: url(../imgs/spa/kupele3.jpg);
$url_photo_spa4: url(../imgs/spa/kupele4.jpg);
$url_photo_spa5: url(../imgs/spa/kupele5.jpg);
$url_photo_spa6: url(../imgs/spa/kupele6.jpg);
$url_photo_spa7: url(../imgs/spa/massage.jpg);

$url_photo_pension01: url(../imgs/pension/pension1.jpg);
$url_photo_pension02: url(../imgs/pension/pension2.jpg);
$url_photo_pension03: url(../imgs/pension/pension3.jpg);
$url_photo_pension04: url(../imgs/pension/pension4.jpg);
$url_photo_pension05: url(../imgs/pension/pension5.jpg);
$url_photo_pension06: url(../imgs/pension/pension6.jpg);
$url_photo_pension07: url(../imgs/pension/pension7.jpg);
$url_photo_pension08: url(../imgs/pension/pension8.jpg);

$url_photo_jacobus: url(../imgs/jacobus.jpg);
$url_img_texture: url(../imgs/texture.jpg);
$url_img_leather: url(../imgs/leather.png);

$url_korunka_2017: url(../imgs/zlata_korunka_2017.png);
$url_korunka_2018: url(../imgs/zlata_korunka_2018.png);