

$url_logo:  url(../imgs/tatras_logo.png);
$url_logo_silueta:  url(../imgs/tatry-silueta.svg);

$url_photo_01:  url(../imgs/new/_RK_0005.JPG);
$url_photo_02:  url(../imgs/new/_RK_0068.JPG);
$url_photo_03:  url(../imgs/new/_RK_0079.JPG);
$url_photo_04:  url(../imgs/new/_RK_0105.JPG);
$url_photo_05:  url(../imgs/new/_RK_5680.JPG);
$url_photo_06:  url(../imgs/new/_RK_5691.JPG);
$url_photo_07:  url(../imgs/new/_RK_5715.JPG);
$url_photo_08:  url(../imgs/new/_RK_5724.JPG);
$url_photo_09:  url(../imgs/new/_RK_5773.JPG);
$url_photo_10:  url(../imgs/new/_RK_5799.JPG);
$url_photo_11:  url(../imgs/new/_RK_5878.JPG);
$url_photo_12:  url(../imgs/new/_RK_5912.JPG);
$url_photo_13:  url(../imgs/new/_RK_5947.JPG);

$url_photo_rebra:  url(../imgs/jedlo/rebra.JPG);
$url_photo_interier:  url(../imgs/interier.JPG);
$url_photo_podpivnik:  url(../imgs/podpivnik.jpg);
$url_pivo_01:  url(../imgs/pivo/pivo1.jpg);
$url_pivo_05:  url(../imgs/pivo/pivo5.JPG);
$url_photo_bg-beerhand: url(../imgs/pivo_ruky.jpg);


$url_photo_pension1: url(../imgs/pension01.jpg);
$url_photo_pension2: url(../imgs/pension02.jpg);
$url_photo_sudok: url(../imgs/sudok.jpg);
$url_photo_exterier: url(../imgs/vonku.jpg);