//* Large Screen *//
@media all and(min-width: 60em) {
  //* helper *//
  body:before {
    content: 'Large Screen';
  }
  .content-wrapper .content-main .center-wrap .category-logo-wrap .category-logo {
    padding: 3em 0 1.5em 0;
  }
  h1.main-title {
    font-size: 3em;
  }
  h2.category-title {
    font-size: 3em;
  }
  h1.logo-title {
    font-size: 4em;
    line-height: 1em;
  }
  h3.moto-title {
    font-size: 2.4em;
    margin-top: 0.3em;
  }
  .content-main p.welcome-text {
    font-size: 1.5em;
    line-height: 2em;
  }
  .content-main .daily-menu-list {
    max-width: 44em;
  }
  .content-main .daily-menu-list .daily-menu-item {
    padding: 1em 2em;
  }
  .content-main .daily-menu-list .daily-menu-item table tr h5 {
    font-size: 1.5em;
  }
  .content-main .daily-menu-list .daily-menu-item table tr p, .content-main .daily-menu-list .daily-menu-item table tr span {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  .content-main {
    &.content-kontakt{
      padding: 0;
    }
  }

  .content-kontakt .info .item {
    display: table;
    width: 50%;
    text-align: center;
    float: left;
    padding: 2em 0;
  }

  .content-main .table-info .table-info-item span {
    font-size: 1.5em;
  }

  .right .content-main .table-info .table-info-item p {
    font-size: 2em;
    line-height: 2em;
  }

  .right .content-wrapper .content-main .boxer .box {
    width: calc(100% /2);
    margin-bottom: 4em;
  }
  .right .content-wrapper .content-main .boxer .box .img {
    height: 20em;
  }

  .content-main .feature-icons-set .feature-icon ng-md-icon svg {
    pointer-events: none;
    display: block;
    width: 3em;
    height: 3em;
  }

  .info .item p {
    padding-bottom: 0;
  }
  .info .item a {
    font-size: 1.25em;
    line-height: 2em;
    padding-bottom: 0;
  }
  .info .item p {
    font-size: 1.25em;
  }

  .content-wrapper {
    .content-main.empty {
      h6.item-label {
        font-size: 2em;
        top: 5em;
      }
    }
    .book .center-wrap {
      .center-content {

        h1.book-title {
          font-size: 4em;
        }
      }
    }
  }
  .content-main {
    .table-info {
      .table-info-item p {
        font-size: 2em;
      }
    }
  }
  .content-wrapper .content-main.bg-beige .main-title {
    padding-top: 1em;
    padding-bottom: 1.5em;
  }
  .right .content-wrapper .content-main .boxer .salon {
    width: 20em;
    padding: 1em;
  }
  .content-wrapper .content-main .boxer .salon p {
    font-size: 1em;
    line-height: 1.75em;
  }
  .content-wrapper .content-main .boxer .salon h5 {
    font-size: 1.5em;
    text-align: center;
  }

  .content-wrapper .content-main .hours .day span {
    font-size: 2em;
  }
  .content-wrapper .content-main .hours {
    max-width: 30em;
    font-size: 1em;
    margin: 4em auto 2em auto;
  }
  .actions {
    margin: 0;
    padding: 1em;
  }
  .right .actions .btn-next {
    right: 1em;
  }

  .book-form .book-wrap {
    display: table;
    width: calc(100% - 4em);
    margin: 4em auto;
    max-width: 50em;
  }
  .book-form .book-wrap .row {
    display: table-cell;
    width: 50%;
    padding: 0 2em;
  }
  .right .sub-menu {
    left: 0;

    &.show {
      left: 200px;
      @include transition(all 0.5s ease);
    }
  }

  .bg {
    background-attachment: fixed;
  }
  .content-wrapper .book .center-wrap .center-content .logo img {
    width: 20em;
    height: 20em;
  }
  .actions.start-btns {
    margin-top: 1em;
  }
  .content-main {
    padding: 5em 0 5em 0;
  }
  .content-wrapper .content-main.empty {
    height: 30em;
    min-height: 30em;
  }

  .content-main .daily-menu-list .daily-menu-item table tr td.item-title {
    display: table-cell;
    width: 15em;
    max-width: 15em;
    min-width: 15em;
  }


  .preview .content-main .daily-menu-list .daily-menu-item {
    padding: 1em 0;

  }
  .preview .content-main .daily-menu-list .daily-menu-item table tr td {
    padding: 1em 0 1em 0;
    text-align: left;
  }

  .content-wrapper .content-main .boxer {
    margin: 0 0 4em 0;
  }

  .content-wrapper .content-main .boxer-big {
    margin: 0;
  }
}
