//* Medium Screen *//
@media all and(min-width: 34em) {
  //* helper *//
  body:before {
    content: 'Medium Screen';
  }
  h1.main-title {
    font-size: 3em;
    line-height: 1em;
  }
  .left {
    width: 50px;
    left: 0;
    &.open {
      width: 200px;
    }
    .shrink {
      display: block;
      left: 0;
      &.open {
        display: none;
      }
    }
    div.left-wrap {
      padding-top: 2em;
    }
    nav ul.main-menu li a {
      font-size: 1em;
      line-height: 2em;
    }
  }
  .fake-left {
    width: 200px;
    &.show {
      width: 200px;
    }
  }
  .right {
    display: table-cell;
    position: relative;
    .sub-menu {
      left: 50px;
      width: 150px;
      &.open {
        left: 200px;
      }
    }
    .right-content {
      display: block;
      position: relative;
      height: auto;
      .top-nav {
        display: none;
      }
    }
    .content-main .table-info .table-info-item {
      display: table-cell;
      width: calc(100% / 3);
    }
    .content-main .table-info .table-info-item p {
      font-size: 2em;
    }
    .content-wrapper .content-main .boxer .salon {
      width: calc(100% / 2 - 1em);
      padding: 1em;
    }
    .content-wrapper .content-main .boxer.salons {
      margin: 2em auto;
    }
    .content-wrapper .content-main .boxer .box-15 {
      width: calc(100% / 3);
    }
    .content-wrapper .content-main .boxer .box .img {
      height: 20em;
    }
    .content-wrapper .small-line {
      width: 20%;
      max-width: 24em;
    }
    .actions {
      .btn-next {
        display: inline-block;
        width: auto;
        min-width: 15em;
      }
    }
  }
  .content-main p {
    font-size: 1.25em;
    padding: 2em 1em;
    width: 620px;
    margin: 0 auto;
  }
  h1.gdpr-title {
    max-width: 620px;
  }
  h2.gdpr-subtitle {
    width: 620px;
    margin: 0 auto;
  }
  h2.category-title {
    font-size: 3em;
  }
  h1.logo-title {
    font-size: 7em;
  }
  h3.moto-title {
    font-size: 2em;
  }
  .book-form .book-wrap {
    padding: 0 2em;
    margin: 4em 0;
  }
  .actions {
    text-align: center;
  }
  nav {
    ul.main-menu {
      li {
        font-size: 1em;
      }
    }
  }
  .content-main .daily-menu-list {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: white;
    max-width: 100%;
    padding: 3em 0;
  }
  .content-main .daily-menu-list .daily-menu-item table tr span {
    font-size: 16px !important;
  }
  .content-main ul.gdpr-list {
    width: 620px;
    margin: 0 auto;
}
  .content-kontakt .info .item a {
    font-size: 1.5em;
    padding: 0;
  }
  .content-wrapper .content-main .hours {
    max-width: 22em;
  }
  .content-wrapper .content-main .hours .day span {
    font-size: 1.5em;
  }
  .content-wrapper .content-main.empty:after {
    height: calc(100% - 3em);
    width: calc(100% - 3em);
    top: 1.5em;
    left: 1.5em;
    border: 1px solid white;
  }
  .bg.bg-spa-3 {
    background-position: 10px center;
  }
  .actions .link-button {
    display: inline-block;
    padding: 0;
    float: left;
  }
  .spa-box {
    padding: 2em 0 0 0;
  }
  .spa-box span {
    font-size: 20px;
  }
  .prices h2 {
    font-size: 20px;
  }
  .content-main .beer-list .beer-type {
    width: calc(100% / 2 - 2em);
    margin: 1em;
  }
  .content-main .beer-list p {
    font-size: 1em;
  }
  .content-main .beer-list .beer-type .beer-head .beer-name h2 {
    font-size: 1.75em;
  }
  .content-wrapper .book .center-wrap .center-content .logo a.award {
    width: auto;
  }
  .content-wrapper .book .center-wrap .center-content .logo a.award:first-child {
    order: 2;
  }
  .prize-box {
    padding: 1em 0;
    max-width: 40em;
    margin: 0 auto;
  }
  .prices-box {
    margin: 1em auto;
    max-width: 20em;
  }
  footer {
    padding: 1em;
  }
  footer p {
    text-align: left;
  }
  footer .copyright {
    padding: 0;
  }
  footer .copyright .row {
    display: table;
    width: 100%;
  }
  footer .copyright .row .col-md-4 {
    display: table-cell;
    width: 33.33%;
    margin: 1em 0;
    padding: 0;
  }
  footer .copyright .row .col-md-4.info-copy {
    text-align: right;
  }
  footer .copyright .row .col-md-4.info-copy p {
    text-align: right;
  }
  footer .copyright .row .col-md-4.facebook {
    text-align: left;
    margin: 0.5em 0;
    padding-left: 2em;
  }
  .content-wrapper .book {
    height: calc(100vh - 100px);
  }
  .content-main .beer-list .beer-type.top.top2017:before,
  .content-main .beer-list .beer-type.top.top2018:before {
    width: 6em;
    height: 6em;
  }
  h3.prize,
  h3.prize-mini {
    font-size: 4em;
    top: 34px;
    left: 10px;
  }
}
