//* Medium Screen *//
@media all and(min-width: 46em) {
  //* helper *//
  body:before {
    content: 'Medium Screen';
  }

  h1.main-title {
    font-size: 3em;
    line-height: 1em;
  }
  .content-main p {
    font-size: 1.5em;
    line-height: 2em;
    padding: 2em 3em 0 3em;
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 24em;
  }
  .left {
    width: 200px;
    left: 0;

    div.left-wrap {
      padding-top: 2em;
    }

    .controls {
      .hamburger {
        display: none;
      }
    }
    nav ul.main-menu li a {
      font-size: 1em;
      line-height: 2em;
    }
  }
  .fake-left {
    &.show {
      width: 256px;
    }
  }
  .right {
    display: table-cell;
    position: relative;

    .sub-menu {
      left: 140px;
      top:0;

      &.open {
        left: 200px;
      }
    }
    .right-content {
      display: block;
      position: relative;
      height: auto;

      .top-nav {
        display: none;
      }
    }
    .content-main .table-info .table-info-item {
      display: table-cell;
      width: calc(100% / 3);
    }
    .content-main .table-info .table-info-item p {
      font-size: 1.5em;
    }
    .content-wrapper .content-main .boxer .salon {
      width: calc(100% / 2.5);
      padding: 0.5em;
    }
    .content-wrapper .content-main .boxer .box-15 {
      width: calc(100% / 3);
    }
    .content-wrapper .content-main .boxer .box {
      width: calc(100% / 2);
    }
    .content-wrapper .content-main .boxer .box .img {
      height: 12em;
    }
    .content-wrapper .small-line {
      width: 100%;
      max-width: 24em;
    }
    .actions {
      .btn-next {
        display: inline-block;
        width: auto;
      }
    }
  }

  h2.category-title {
    font-size: 2em;
  }
  h1.logo-title {
    font-size: 7em;
  }
  h3.moto-title {
    font-size: 2em;
  }
  .book-form .book-wrap {
    padding: 2em;
    margin: 1em 0 0 0;
  }
  .actions {
    text-align: center;
  }

  nav {
    ul.main-menu {
      li {
        font-size: 1em;
      }
    }
  }
  .content-main .daily-menu-list {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: white;
    max-width: 100%;
    padding: 3em 0;
  }
  .content-kontakt .info .item a {
    font-size: 1em;
    padding: 0;
  }
  .content-wrapper .content-main.empty {
    height: 20em;
    min-height: 20em;
  }



  .content-wrapper .content-main.empty:after {
    height: calc(100% - 4em);
    width: calc(100% - 4em);
    top: 2em;
    left: 2em;
    border: 2px solid white;
  }
  .bg.bg-spa-3 {
    background-position: center center;
  }

  .actions .link-button {
    display: table-cell;
    padding: 0;
  }

}
