@charset "UTF-8";

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}
@mixin transition-property($property...) {
  -moz-transition-property:    $property;
  -o-transition-property:      $property;
  -webkit-transition-property: $property;
  transition-property:         $property;
}
@mixin transition-duration($duration...) {
  -moz-transition-property:    $duration;
  -o-transition-property:      $duration;
  -webkit-transition-property: $duration;
  transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function:    $timing;
  -o-transition-timing-function:      $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
  -moz-transition-delay:    $delay;
  -o-transition-delay:      $delay;
  -webkit-transition-delay: $delay;
  transition-delay:         $delay;
}

$color-black: #2b2a29;
$color-red: #e0232e;
$color-beige: #d6b472;
$color-beige-light: #ebdab9;
$color-beige-lightest: #f5eddc;

$font_playfair_url: url(../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
$font_roboto_regular_url: url(../fonts/Roboto/Roboto-Regular.ttf);
$font_roboto_light_url: url(../fonts/Roboto/Roboto-Light.ttf);
$font_roboto_bold_url: url(../fonts/Roboto/Roboto-Bold.ttf);

@font-face {
  font-family: 'Playfair Display';
  src: $font_playfair_url format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: $font_roboto_regular_url format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-light';
  src: $font_roboto_light_url format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-bold';
  src: $font_roboto_bold_url format('truetype');
  font-weight: normal;
  font-style: normal;
}

//* Extra Small Screen *//
@media all and(min-width: 10em) {

  //* helper *//
  body:before {
    content: ' [ Extra Small Screen ]';
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    color: red;
    z-index: 9999;
    background: rgba(255,255,255,0.5);
    padding: 10px;
  }
  body {
    display: block;
    position: relative;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    letter-spacing: 1px;
    background-color: white;
    background-image: url("../imgs/clouds.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-rendering: optimizeLegibility;
    -webkit-backface-visibility: hidden;
    -webkit-user-drag: none;
    -ms-content-zooming: none;
    overflow-x: hidden;

    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


  .center {
    display: block;
    text-align: center;
  }

  /** reset lightbox position **/
  #lightbox-container-image-data-box {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  #content {
    display: block;
    width: 100%;
    padding-bottom: 35px;
  }

  #thumbnails {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        float: left;
        margin-right: 10px;
        margin-bottom: 5px;
        a {
          img {
            border: 5px solid rgba(255, 255, 255, 0.8);
            border-radius: 3px;
            &.preview {
              width: 200px;
            }
          }
          &:hover img {
            border: 5px solid rgba(0, 0, 0, 0.8);;
          }
        }
      }
    }
  }

  .clearfix {
    display: inline-block;
    margin-bottom: 50px;

    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }

  html[xmlns] .clearfix {
    display: block;
  }

  * html .clearfix {
    height: 1%;
  }

  p, span, a {
    font-family: 'Roboto-light', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: normal;
    color: rgb(43, 42, 41);
    text-transform: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h5 {
    margin-bottom: -1em;
  }
  h1.center, h2.center, h3.center, h4.center, h5.center, h6.center {
    text-align: center;
  }

  h1 {
    font-family: 'Playfair Display', serif;
    color: #c02731;
    margin: 0;
    display: inline-block;
    line-height: 1.5em;
    width: 100%;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 1.5em;

    &.main-title {
      font-size: 3em;
      line-height: 1em;
      padding-top: 1em;
      padding-bottom: 1em;
      color: $color-black;
    }
  }

  h2 {
    font-size: 25px;
    padding: 0 35px;
    margin: 0;
    display: block;
    line-height: 25px;
    color: #333;
  }

  h3 {
    font-size: 23px;
    color: #3A3A3A;
    margin: 0;
    line-height: inherit;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }

  .form-control {
    display: block;
    width: 100%;
    border: 1px solid #33373A;
    border-radius: 5px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #528ED7;
    opacity: 1;
  }

  main div h1.motto {
    text-transform: none;
    line-height: 50px;
    display: block;
    position: relative;
    padding: 0;
    letter-spacing: 0px;
    width: 60%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }


  .box {
    padding: 20px;
    display: block;
    background: rgba(250, 250, 250, 0.8);
    border-radius: 0 0 5px 5px;
    height: auto;
    min-height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }

  .toper {
    display: block;
    position: relative;
    z-index: 3;
    width: auto;
    min-width: 100%;
    height: 120px;
  }

  .left {
    display: block;
    position: fixed;
    width: 300px;
    height: 100%;
    min-height: 100%;
    background: $color-black;
    padding: 0 10px;
    z-index: 98;
    vertical-align: top;
    top: 0;
    left: -320px;

    div {
      display: table;
      height: 100%;
      width: 200px;
      margin: 0 auto;

      .logo {
        display: table-row;
        position: relative;
        margin: 0 auto;
        width: 180px;
        z-index: 2;
        height: 20%;

        img {
          width: 100%;
          position: relative;
          padding-top: 20px;
        }
      }

      .info {
        display: table-row;
        position: relative;
        height: 10%;

        p, a {
          display: block;
          position: relative;
          color: #2b2a29 !important;
          text-align: center;
          text-decoration: none;
          font-size: 15px;
          margin-bottom: 10px;

          &:hover {
            text-decoration: underline;
          }
        }
        .social-contact {
          display: table;
          position: relative;
          width: 100%;
          height: auto;
          margin: 20px 0;

          a {
            display: table-cell !important;
            width: auto;

            img {
              display: block;
              width: 30px;
              margin: 0 auto;
            }
            &:hover {
              cursor: pointer;
              transform: scale(1.3);
              -webkit-transition: all 0.2s;
              -moz-transition: all 0.2s;
              -ms-transition: all 0.2s;
              -o-transition: all 0.2s;
              transition: all 0.2s;
            }
          }
        }
      }

      div {
        display: table-row;
        height: 10%;

        &.call-action {
          display: table-cell;
          vertical-align: bottom;

          button {
            display: inline-block;
            position: absolute;
            font-size: 1em;
            text-align: center;
            -webkit-appearance: none;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            color: #2b2a29;
            font-weight: bold;
            width: 100%;
            background: #f1ebda;
            transition: all 0.25s linear;
            -webkit-transition: all 0.25s linear;
            background: #f1ebda url(../imgs/btn_small.gif);
            background-repeat: no-repeat;
            background-size: 210px 100px;
            background-position: center center;
            bottom: 0;
            left: 0;
            height: 101px;
            border: 0;
            z-index: 1;

            &:before {
              transition-duration: 0.5s;
              transition-property: width;
              transition-delay: 0s;
              transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
              content: '';
              display: block;
              height: 100%;
              top: 0;
              left: 50%;
              background: $color-beige;
              width: 0;
              position: absolute;
              z-index: -1;
              transform: translate3d(-50%, 0, 0);
              opacity: 0.5;
            }

            &:hover {
              &:before {
                width: 100%;
              }
            }
          }
          a {
            display: inline-block;
            position: absolute;
            font-size: 1em;
            text-align: center;
            -webkit-appearance: none;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            color: #2b2a29;
            font-weight: bold;
            width: 100%;
            background: #f1ebda;
            transition: all 0.25s linear;
            -webkit-transition: all 0.25s linear;
            background: #f1ebda url(../imgs/btn_small.gif);
            background-repeat: no-repeat;
            background-size: 210px 100px;
            background-position: center center;
            bottom: 0;
            left: 0;
            height: 101px;
            line-height: 100px;
            border: 0;
            z-index: 1;
            text-decoration: none;

            span {
              font-family: 'Roboto', sans-serif;
              font-weight: bold;
              color: $color-black;
              text-transform: uppercase;
            }

            &:before {
              transition-duration: 0.5s;
              transition-property: width;
              transition-delay: 0s;
              transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
              content: '';
              display: block;
              height: 100%;
              top: 0;
              left: 50%;
              background: $color-beige;
              width: 0;
              position: absolute;
              z-index: -1;
              transform: translate3d(-50%, 0, 0);
              opacity: 0.5;
            }

            &:hover {
              &:before {
                width: 100%;
              }
            }
          }
        }
      }
      .navigation {
        position: relative;
        display: table-row;
        height: 50%;

        nav {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
  .fake-left {
    display: inline-block;
    position: relative;
    background: transparent;
    width: 0;
    height: 100%;
  }
  .right {
    display: table-cell;
    position: relative;
    width: 100%;
    min-height: 100%;
    vertical-align: top;
    z-index: 3;

    .sub-menu {
      display: block;
      position: fixed;
      top: 0;
      left: -50px;
      width: 50px;
      height: 100%;
      background: white;
      z-index: 9999;
      transition: left 0.5s linear;
      -webkit-transition: left 0.5s linear;

      &.open {
        left: 0;
        opacity: 1;
        transition: left 0.5s linear;
        -webkit-transition: left 0.5s linear;
      }

      div {
        display: block;
        position: absolute;
        height: 100%;
        top: 0;
        width: 100%;
        background: white;

        ul {
          list-style: none;
          display: block;
          height: 100%;
          width: 100%;
          padding: 0;
          margin: 0;

          li {
            display: table;
            height: 20%;
            width: 50px;
            table-layout: fixed;

            a, span {
              display: table-cell;
              position: relative;
              text-decoration: none;
              font-family: 'Roboto', sans-serif;
              font-size: 1em;
              line-height: 1em;
              color: $color-black;
              text-align: center;
              text-transform: uppercase;
              transform: rotate(-90deg);
              margin: 0 auto;
              vertical-align: middle;
              cursor: pointer;

            }
            &:hover {
              background: $color-beige;
            }
            &.active {
              box-shadow: inset -5px -1px 0 -1px $color-beige;

            }
          }
        }
      }
    }
    .right-content {
      display: block;
      position: relative;
      height: auto;
    }
    .graphic {
      padding: 20px 0;
      margin: 0 auto;
      width: 100%;
      height: 150px;
      position: relative;
      display: inline-block;
      background: url(../imgs/tatry-silueta-biela.svg) no-repeat center;
      background-size: contain;
      margin: 0 auto;
      transform: scale(1);
    }
  }

  nav {
    color: rgb(43, 42, 41);
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;

    ul.main-menu {
      margin: 0;
      padding: 0;
      display: table;
      width: 100%;

      li {
        color: white;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5em;
        width: auto;
        line-height: 1em;
        vertical-align: middle;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        letter-spacing: 1px;
        text-align: center;
        padding: 1em 0;

        transition-duration: 0.75s, 1s;
        transition-property: transform, opacity;
        transition-delay: 0s;
        transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        transform: translate3d(0, 0, 0);
        opacity: 1;

        &.language {
          padding-top: 2em;

          span {
            cursor: pointer;
            position: relative;
            padding-top: 1em;
            border-top: 1px solid $color-beige-light;
            color: $color-beige-light;
          }
        }
        a {
          color: white;
          display: inline-block;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 1.2em;
          width: auto;
          line-height: 1.2em;
          vertical-align: middle;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          letter-spacing: 1px;
          text-align: right;

          &.ng-hide {
            display: none;
          }

          &:before {
            transition-duration: .45s;
            transition-property: width;
            transition-delay: 0s;
            transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            content: '';
            width: 0%;
            height: 1px;
            background: $color-beige-light;
            display: block;
            position: absolute;
            top: 0;
            left: -1px;
          }
          &:after {
            transition-duration: .45s;
            transition-property: width;
            transition-delay: 0s;
            transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            content: '';
            width: 0%;
            height: 1px;
            background: $color-beige-light;
            display: block;
            position: absolute;
            bottom: 0;
            right: 1px;
          }

          &:hover {
            cursor: pointer;
            color: #d7b56d;

            &:after, &:before {
              width: 100%;
            }

          }

          &.active {
            color: $color-red;
          }
        }
      }
    }
  }

  .box p {
    text-align: justify;
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 0;
  }

  form p label {
    display: inline-block;
    width: 100%;
  }

  form p input {
    display: inline-block;
    width: 50%;
    padding: 5px;
    padding-bottom: 0;
  }

  form p textarea {
    width: auto;
    min-height: 100px;
    max-height: 150px;
    border: 0;
    padding: 10px;
    display: inline-block;
    min-width: 95%;
    background: #ebdab9;
  }

  .bg-1 {
    background-position: 0 0;
    background-size: cover;
    min-height: 100%;
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .bg-2 {
    background-position: 30% 0;
    background-size: cover;
    min-height: 100%;
    background: url("../../imgs/ta3.jpg");
  }

  .bg-restaurant {
    background-color: white;
    background-image: url("../imgs/interier.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
  }

  .bg-beers {
    background-color: white;
    background-image: url("../imgs/pivo/3beers.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
  }
  .bg-beer {
    background-color: white;
    background-image: url("../imgs/pivo/pivo3.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
  }

  .bg-lukas {
    background-color: white;
    background-image: url("../imgs/varenie/Varenie3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
  }


  .bg-food {
    background-color: white;
    background-image: url("../imgs/jedlo/rebra.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
  }
  .bg-food-licka {
    background-color: white;
    background-image: url("../imgs/jedlo/licka.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
  }

  .bg-spa {
    background-color: white;
    background-image: url("../imgs/beer-spa.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
  }

  .bg-pension {
    background-color: white;
    background-image: url("../imgs/pension.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
  }

  .bg-shop {
    background-color: white;
    background-image: url("../imgs/shop.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;

  }

  .first {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 800px;
    max-height: 100%;
    width: auto;
    z-index: 99;
    background-color: white;
    background-image: url("../imgs/clouds.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;

    .filter {
      position: relative;
      display: block;
      min-height: 100%;
      margin: 0 auto;
      width: 100%;
      background: rgba(255, 255, 255, 0.3);
    }
    .logo-welcome {
      display: block;
      position: relative;

      top: 150px;
      height: 250px;
      width: 250px;
      margin: 0 auto;
      background-image: url("../imgs/tatras_logo.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
    h1.welcome-text {
      color: white;
      position: absolute;
      font-size: 3em;
      bottom: 50px;
      text-align: center;
    }
    a.scroll {
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 20px;
      background-image: url(../imgs/icons/angle-arrow-down-white.svg);
      background-repeat: no-repeat;
      background-size: contain;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;

      &:hover {
        background-image: url(../imgs/icons/angle-arrow-down.svg);
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
      }
    }
  }

  .last {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 300px;
    max-height: 100%;
    width: auto;
    z-index: 99;
    background-color: white;

    .filter {
      position: relative;
      display: block;
      min-height: 100%;
      margin: 0 auto;
      width: 100%;
      background: rgba(255, 255, 255, 0.5);
    }
  }

  .graphic {
    padding: 20px 0;
    margin: 0 auto;
    width: 100%;
    height: 150px;
    position: relative;
    display: block;
    background: url("../imgs/tatry-silueta.svg") no-repeat;
    background-size: contain;
  }

  .wrapper {
    position: relative;
    display: table;
    margin: 0 auto;
    height: 100%;
    max-height: 100%;
    width: auto;
    min-width: 640px;
    //max-width: 960px;
    //max-width: 1020px;
    z-index: 2;

    &::after {
      display: block;
      content: "";
      position: fixed;
      min-width: 100%;
      width: 100%;
      min-height: 100%;
      height: 100%;
      //background: rgba(255,255,255,0.8);
      background: transparent;

      left: 0;
      top: 0;
      z-index: 1;
    }
  }

  .content-wrapper {
    display: block;
    position: relative;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    overflow: hidden;

    .content-main {

      &.bg-25 {
        background: rgba(255, 255, 255, 0.25);
      }
      &.bg-50 {
        background: rgba(255, 255, 255, 0.5);
      }
      &.bg-75 {
        background: rgba(255, 255, 255, 0.75);
      }
      &.bg-100 {
        background: $color-beige-lightest;
      }
      &.empty {
        height: 350px;

        h6.item-title {
          position: absolute;
          display: block;
          right: 20px;
          color: white;
          font-size: 5em;
          top: -1em;
          text-shadow: 0 0 2px $color-black;
        }
        h6.item-label {
          position: absolute;
          display: block;
          right: 0;
          color: $color-black;
          font-size: 3em;
          top: 2em;
          background: white;
          padding: 0.5em;
          padding-top: 0.2em;
        }
      }

      .hours {
        display: table;
        position: relative;
        margin: 0 auto;
        width: auto;
        font-size: 1.5em;

        .day {
          display: table;
          width: 100%;
          padding: 0.4em 0;

          span {
            display: table-cell;
            width: 40%;
            text-align: left;
            color: $color-black;
            margin: 0;
            font-size: 1.1em;
            letter-spacing: 1px;
            padding: 0 1em;
          }
          span.time1, span.time2 {
            text-align: right;
            font-weight: normal;
          }
          span.time1:after {
            display: block;
            content: "-";
            position: relative;
            left: 1em;
            top: 0;
            float: right;
          }
          &.active-day {
            span {
              color: #c02731 !important;
            }
          }
          &.today {
            background: white;
            span {
              font-weight: bold;
            }
          }
        }
      }
    }
    .book {
      display: table;
      position: relative;
      width: 100%;

      .center-wrap {
        display: table-cell;
        position: relative;
        height: 50%;
        width: 50%;
        vertical-align: middle;

        .center-content {
          display: block;
          position: relative;
          vertical-align: middle;
          width: 80%;
          height: 50%;
          margin: 0 auto;

          &.home {
            top: -5em;
          }

          h1.book-title {
            color: white;
            font-size: 5em;
            line-height: 1em;
            font-weight: bold;
            text-shadow: 0 0 6px black;
            padding: 0.5em 0;
          }

          .book-form {
            display: block;
            position: relative;
            background: transparent;
            margin-bottom: 3em;

            .book-wrap {
              display: block;

              .row {
                display: table;
                width: 100%;

                .wrap {
                  display: table-cell;
                  width: 33.3%;
                  text-align: center;
                  background: #f5eddc;
                  border: 25px solid;
                  outline: 0;
                  margin: 10px;
                  border-right: 0;
                  border-top: 50px solid;
                  color: #d6b472;

                  &.four {
                    width: 25%;
                  }

                  &.label {
                    background: transparent;
                    text-align: left;
                    color: $color-beige;
                    border-color: transparent;
                    border-bottom: 0;
                    font-size: 1.5em;
                    top: 40px;
                    z-index: 2;
                    border-top: 0;
                  }
                  &:last-child {
                    border-right: 25px solid;
                  }

                  label {
                    display: inline-block;
                    margin: 0 auto;
                    font-weight: normal;
                    font-size: 1em;
                  }
                  input, select {
                    display: inline-block;
                    margin: 0 auto;
                    position: relative;
                    background: #f5eddc;
                    -webkit-appearance: none;
                    border: 0;
                    border-radius: 0;
                    font-size: 1em;
                    width: auto;
                    height: 45px;
                    text-align: center;
                    font-family: 'Roboto', sans-serif;
                    font-weight: bold;
                    color: $color-black;
                    text-transform: uppercase;

                    &::-webkit-input-placeholder {
                      font-family: 'Roboto', sans-serif;
                      text-align: center;
                      font-weight: bold;
                      color: $color-black;
                    }
                  }
                }
              }
            }
          }
          &.bg-white {
            background: white;
          }
        }

        .stick-bottom {
          display: block;
          position: absolute;
          width: 100%;
          bottom: 0;
          height: 80px;
          cursor: pointer;

          @-webkit-keyframes sdb {
            0% {
              border-color:$color-beige-light;
              -webkit-transform: rotate(-45deg) translate(0, 0);
              opacity: 0;
            }
            50% {
              opacity: 1;
              border-color: white;
            }
            100% {
              border-color:$color-beige-light;
              -webkit-transform: rotate(-45deg) translate(-20px, 20px);
              opacity: 0;
            }
          }
          @keyframes sdb {
            0% {
              border-color:$color-beige-light;
              transform: rotate(-45deg) translate(0, 0);
              opacity: 0;
            }
            50% {
              border-color: white;
              opacity: 1;
            }
            100% {
              border-color:$color-beige-light;
              transform: rotate(-45deg) translate(-20px, 20px);
              opacity: 0;
            }
          }
          span {
            position: absolute;
            top: -20px;
            left: 50%;
            width: 50px;
            height: 50px;
            margin-left: -7.5pt;
            border-left: 9pt solid;
            border-bottom: 9pt solid;
            border-color: white;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-animation: sdb 1.5s infinite;
            animation: sdb 1.5s infinite;
            box-sizing: border-box;

          }

          &:hover {
            svg {
              fill: $color-beige;
            }
          }
        }
      }
    }

    .image {
      display: block;
      position: relative;
      width: 100%;
      height: 240px;
      overflow: hidden;
    }

    .line {
      display: block;
      position: relative;
      width: 100%;
      height: 4px;
      background: #d7b56d;
    }
    .small-line {
      display: block;
      position: relative;
      width: 50%;
      height: 2px;
      background: #d7b56d;
      margin: 0 auto;
    }
  }

  footer {
    display: block;
    position: relative;
    height: auto;
    width: auto;
    padding: 35px 0 35px 35px;
    z-index: 999;

    p {
      display: block;
      position: relative;
      margin: 0 auto;
      color: $color-black;
      text-align: center;
      font-size: 12px;
      line-height: 20px;
    }
    a {
      color: $color-black;
      text-decoration: none;
    }
    a:hover {
      cursor: pointer;
      color: #c02731;
    }
    a.flag {
      display: inline-block;
      position: relative;
      width: 18px;
      height: 12px;
      background: url("../imgs/slovakian-flag.svg") no-repeat;
      background-size: contain;
      margin: 0 5px;

    }

    .copyright {
      display: table;
      position: relative;
      padding: 2px;
      width: 100%;
      table-layout: fixed;

      .row {
        display: table-row;

        .col-md-4 {
          display: table-cell;
          width: 33%;
        }
      }
    }
  }

  div.push {
    height: 50px;
  }

  .wrap {
    display: block;
    position: relative;
    padding: 0;
    color: rgb(43, 42, 41);
  }

  div.footer .wrap {
    display: table;
    position: relative;
    margin: 0 auto;
    min-width: 960px;
  }

  footer {
    border-top: 4px solid #d7b56d;
    background: $color-black;

    p, a {
      color: white;
    }
  }

  div.footer .info {
    display: table-cell;
    position: relative;
    padding: 0 10px;
    border-left: 1px solid white;
    vertical-align: middle;
    color: white;
  }

  .footer-link a:hover {
    text-decoration: underline;
  }

  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  form.form p {
    overflow: hidden;

  }

  .text-bg {
    position: absolute;
    padding: 10px 100px;
    margin: 0;
    color: white;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 80px;
    background: rgba(194, 35, 41, 1);
    left: -100px;
    font-size: 20px;
  }

  #content-wrapper {
    display: block;
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    min-height: 100%;
    top: 0;
    padding: 0;
  }

  article {
    display: inline-block;
    position: relative;
    width: 100%;
    min-width: 600px;
    min-height: 100%;
    left: 0;
    margin-bottom: 10px;
  }

  aside {
    display: inline-block;
    position: relative;
    width: 30%;
    min-height: 100%;
    right: 0;
    padding-top: 40px;
    float: right;
  }

  .content-main {
    display: block;
    position: relative;
    padding: 1em 2em 2em 4em;

    p {
      font-size: 1.2em;
      line-height: 1.8em;
      text-align: justify;
      margin-top: 2em;
      margin-bottom: 0em;
    }

    .food-list {
      display: block;
      position: relative;
      height: auto;
      width: 100%;
      margin: 30px 0;

      .food-item {
        display: inline-block;
        position: relative;
        height: auto;
        width: 48.5%;

        img {
          display: block;
          position: relative;
          height: auto;
          width: 100%;
        }
      }
    }
    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        font-size: 1.2em;
        line-height: 1.5em;
        font-family: 'Roboto-light', sans-serif;
      }

      &.text-list {
        list-style-type: circle;
        padding: 2em 0;

        li {
          padding: 0.25em 0;
        }
      }
      &.text-list-number {
        list-style-type: decimal;

        padding: 2em 0;

        li {
          padding: 0.25em 0;
        }
      }
    }
  }

  .content-kontakt {
    display: block;
    position: relative;
    top: 0;

    .info {
      display: table;
      position: relative;
      padding: 25px 0;
      width: 100%;

      .item {
        display: table-cell;
        position: relative;
        padding: 20px 0;
        width: 50%;

        a, p {
          display: block;
          padding: 0;
          padding-bottom: 10px;
          margin: 0;
          color: $color-black;
        }
        a:hover {
          cursor: pointer;
          color: #c02731;
        }
      }
    }
    .formular {
      form {
        display: table;
        width: 100%;

        .left-form,
        .right-form {
          display: table-cell;
          width: 50%;

          p {
            margin: 0 0 20px 0;
            padding: 0;
            label {
              font-weight: normal;
            }
            button {
              -webkit-appearance: none;
              padding: 0.5em 1em;
              font-family: 'Roboto', sans-serif;
              text-transform: uppercase;
              background: transparent;

              &:hover {
                background: $color-black;
              }
            }
          }
        }
        input, textarea {
          border: 0;
          background: white;
          padding: 10px;
          color: $color-black;
          width: 80%;
        }
      }
    }
  }

  .map {
    display: block;
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;

    iframe {
      pointer-events: none;
    }
  }

  #beer-list {
    padding-top: 20px;
    margin-right: -8px;
  }

  .beer-list {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    font-size: 0;
    margin-bottom: 20px;
    overflow: hidden;

    .beer {
      display: inline-block;
      position: relative;
      width: 32.5%;
      height: auto;
      border: 4px solid white;
      margin-left: -4px;
      margin-top: -4px;
      overflow: hidden;
      vertical-align: top;

      .beer-foto {
        display: block;
        position: relative;
        width: auto;
        height: auto;
        overflow: hidden;
        vertical-align: top;

        img {
          display: block;
          width: 100%;
        }
      }
      .beer-name {
        display: block;
        position: absolute;
        z-index: 2;
        width: 100%;
        top: 5%;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;

        h3 {
          display: block;
          color: white;
          font-size: 20px;
          text-transform: uppercase;
          text-align: center !important;
          margin: 0 auto;
          text-shadow: 0 0 3px black;
        }
      }
      .bottom {
        top: 80% !important;
      }
      .beer-info {
        display: block;
        position: absolute;
        width: 100%;
        height: auto;
        left: -100%;
        z-index: 2;
        top: 50%;
        @include transition(all 1s ease-in-out);

        p {
          text-align: center;
          display: block;
          padding: 10px;
          color: black;
          margin: 0;
          font-size: 15px;
          background: rgba(255, 255, 255, 0.8);
        }
      }

      &:hover {
        .beer-foto {
          img {
            -webkit-filter: blur(2px);
            filter: blur(2px);
            @include transition(all 1s ease-in-out);
          }
          cursor: pointer;
        }
        .beer-info {
          left: 0;
          @include transition(all 1s ease-in-out);
        }
      }
    }
  }

  .no-padding {
    padding: 0 !important;
  }

  img.overlay-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    float: left;
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }

  .overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    background: rgba(111, 111, 111, 1);

    &.fade {
      background: rgba(111, 111, 111, 0.1);
      @include transition(all 3s ease-in-out);
    }
  }

  .load-content {
    display: table;
    position: relative;
    top: 0;
    min-width: 100%;
    min-height: 100%;

    .logo-load {
      position: relative;
      display: table-row;
      z-index: 999;

      height: 225px; /* equals max image height */
      width: 225px;
      top: -20px;
      border: 1px solid red;
      white-space: nowrap;
      text-align: center;
      margin: 1em 0;

      .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      .backlight {
        display: block;
        vertical-align: middle;
        position: relative;
        margin: 0 auto;
        background: white;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        top: -170px;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);
        -webkit-transition: all 5s ease-in-out;
        -moz-transition: all 5s ease-in-out;
        -o-transition: all 5s ease-in-out;
        transition: all 5s ease-in-out;
      }

      img {
        vertical-align: middle;
        max-height: 225px;
        position: relative;
        display: block;
        margin: 0 auto;
        z-index: 999;
        -webkit-transition: opacity 3s ease-in-out;
        -moz-transition: opacity 3s ease-in-out;
        -o-transition: opacity 3s ease-in-out;
        transition: opacity 3s ease-in-out;
        cursor: pointer;
      }
      img.color {
        opacity: 0;
        z-index: 2;
      }
      img.bw {
        opacity: 1;
        z-index: 2;
        top: 225px;
      }
      &.loaded {
        .backlight {
          box-shadow: 0px 0px 100px 100px rgba(255, 255, 255, 0.7);
        }
        img {
          opacity: 1;
        }
        img.color {
          opacity: 1;
        }
        img.bw {
          opacity: 0.5;
        }
      }
    }
  }

  .content {
    display: table;
    position: relative;
    top: 0;
    width: 100%;
    padding: 20px;

    .logo {
      display: table-row;
      z-index: 999;

      img {
        width: 25%;
        position: relative;
        display: block;
        margin: 0 auto;
        padding: 20px;
        z-index: 999;
      }
    }

    .hours {
      display: block;
      position: relative;
      margin: 0 auto;
      width: 300px;
      padding: 40px 0;

      .day {
        display: table;
        width: 100%;

        span {
          display: table-cell;
          width: 33%;
          text-align: left;
        }
        span.time1, span.time2 {
          text-align: right;
          font-weight: normal;
        }
        span.time1:after {
          display: block;
          content: "-";
          position: relative;
          left: 25px;
          top: 0;
          float: right;
        }
      }
    }
    .info {
      display: table-row;
      position: relative;
      margin-top: 50px;
      padding: 20px;
      margin-bottom: 100px;

      p, a {
        display: block;
        color: black !important;
        text-align: center !important;
        font-size: 15px;
        text-decoration: none;
        margin: 10px 0;
      }
    }
    .info a:hover {
      text-decoration: underline;
    }
    .more {
      display: block;
      position: relative;
      margin-top: -105px;
      margin-bottom: -50px;
      z-index: 1;

      h2 {
        font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: 100px;
        color: white;
        z-index: 999;
      }
    }

    #container {
      height: 370px;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      top: -20px;
      width: 248px;
      transform: scale(0.6);
    }

    #container div {
      position: absolute;
    }

  }

  .hamburger {
    display: none;
  }

  .submit {
    display: table-cell;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2em;
    border: 7px double;
    color: black;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    background: white;

    svg {
      position: relative;
      left: 5px;
    }

    &:hover {
      color: white;
      border-color: $color-beige-lightest;
      background: $color-black;
      -webkit-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -ms-transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      transition: all 0.25s linear;

      svg {
        fill: white;
        -webkit-transition: all 0.25s linear;
        -moz-transition: all 0.25s linear;
        -ms-transition: all 0.25s linear;
        -o-transition: all 0.25s linear;
        transition: all 0.25s linear;
      }
    }
  }

  @media only screen and (min-device-width: 320px) and (orientation: portrait) {

  }

  @media only screen and (min-width: 320px) and (max-width: 620px) {

    h1 {
      font-size: 25px;
      display: inline-block;
      line-height: 30px;
    }

    .wrapper {
      min-width: 100%;

      .left {
        left: -210px;
        -webkit-transition: all 1s;
        transition: all 1s;;

        &.open {
          left: 0;
          -webkit-transition: all 1s;
          transition: all 1s;
          box-shadow: 0 0 100px 10px #afafaf;
        }
      }
      &.open {
        left: 0;
        -webkit-transition: all 1s;
        transition: all 1s;
        box-shadow: 0 0 100px 10px #afafaf;
      }
      .fake-left {
        width: 0;
      }
      #mobile-menu {
        display: block;
        position: fixed;
        left: 5px;
        top: 10px;
        z-index: 99;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid #d7b56d;
      }

      .content {
        .logo {
          img {
            width: 50%;
          }
        }
      }
    }
    .text-bg {
      padding: 5px 100px;
      top: 45px;
      left: -113px;
      font-size: 15px;
    }

    .content #container {
      top: -20px;
      width: 248px;
      transform: scale(0.5);
    }
    .content .more {
      margin-bottom: -80px;
    }

    .beer-list .beer {
      width: 48.7%;
    }
    .content-main .image {
      height: 200px;
      margin-bottom: -25px;
    }
    .beer-list .beer .beer-name h3 {
      font-size: 20px;
    }
    .content-wrapper .image {
      height: 190px;
    }
    .content-main .food-list .food-item {
      display: inline-block;
      position: relative;
      height: auto;
      width: 48%;
      border-right: 4px solid white;
    }
    .content-wrapper {
      max-width: 0;
    }
  }

  .lang-menu {
    list-style: none;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
    display: block;
    z-index: 999;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    bottom: 50px;

    li {
      display: inline;
      margin: 0 20px;
    }

    .flag {
      display: inline-block;
      position: relative;
      width: 75px;
      height: 49px;
      background-size: 100% auto;
      background-position: center;
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        border-color: $color-beige;
        transform: scale(1.1);
        transition: all 0.25s linear;
      }

      &.slovakia {
        background-image: url("../imgs/slovakia.svg");
      }
      &.english {
        background-image: url("../imgs/english.svg");
      }
    }
  }
  .float-right {
    float: right;
  }
  .float-left {
    float: left;
  }
  .actions {
    display: table;
    position: relative;
    margin: 0 auto;
    top: 1em;
    width: 100%;
    text-align: center;

    .btn-prev {
      display: inline-block;
      position: relative;
      font-family: 'Roboto', sans-serif;
      font-size: 1em;
      font-weight: bold;
      padding: 1.5em 1em 1.5em 2em;
      border: 7px double;
      color: white;
      background: rgba(25,25,25,0.3);
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      -webkit-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -ms-transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      transition: all 0.25s linear;
    }
    .btn-next {
      display: inline-block;
      position: relative;
      font-family: 'Roboto', sans-serif;
      font-size: 1em;
      font-weight: bold;
      padding: 1.5em 1em 1.5em 2em;
      border: 7px double;
      color: white;
      background: rgba(25,25,25,0.3);
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      -webkit-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -ms-transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      transition: all 0.25s linear;

      &:hover {
        color: white;
        border-color: $color-beige;
        background: $color-black;
        -webkit-transition: all 0.25s linear;
        -moz-transition: all 0.25s linear;
        -ms-transition: all 0.25s linear;
        -o-transition: all 0.25s linear;
        transition: all 0.25s linear;
      }
    }
    .btn {
      display: table-cell;
      position: relative;
      font-family: 'Roboto', sans-serif;
      font-size: 1em;
      font-weight: bold;
      padding: 2em;
      border: 7px double;
      color: white;
      margin: 0 10px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      -webkit-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -ms-transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      transition: all 0.25s linear;

      &.book-table {
        &:before {
          content: '';
          display: inline-block;
          position: relative;
          width: 20px;
          height: 20px;
          float: left;
          background: url("../imgs/icons/icon-restaurant.svg") no-repeat center;
          background-size: 100% auto;
          margin-right: 25px;
        }
      }
      &.book-room {
        &:before {
          content: '';
          display: inline-block;
          position: relative;
          width: 20px;
          height: 20px;
          float: left;
          background: url("../imgs/icons/icon-pension.svg") no-repeat center;
          background-size: 100% auto;
          margin-right: 25px;
        }
      }
      &.book-spa {
        &:before {
          content: '';
          display: inline-block;
          position: relative;
          width: 20px;
          height: 20px;
          float: left;
          background: url("../imgs/icons/icon-spa.svg") no-repeat center;
          background-size: 100% auto;
          margin-right: 25px;
        }
      }

      &:hover {
        color: white;
        border-color: $color-beige;
        background: $color-black;
        -webkit-transition: all 0.25s linear;
        -moz-transition: all 0.25s linear;
        -ms-transition: all 0.25s linear;
        -o-transition: all 0.25s linear;
        transition: all 0.25s linear;
      }
    }
  }

  ///* Image SLider */

  .flexslider-container {

    .flexslider {
      border: 0;
      margin: 0;

    }
    .flex-control-nav {
      bottom: 45px;
      z-index: 999;
    }
    .flex-direction-nav a {
      width: 100px;
      height: 100px;
      text-shadow: none;
      color: transparent;

    }
    .flex-direction-nav a:before {
      font-size: 100px;
      color: white;
      line-height: 100px;
    }
    .flexslider:hover .flex-direction-nav .flex-prev {
      left: 50px;
    }
    .flex-control-paging li a {
      width: 20px;
      height: 20px;
      background: white;
    }
    .flex-control-paging li a.flex-active {
      background: #d4ba68;
    }
  }

  .flex-nopadding {
    padding: 0;
    padding-left: 3em;
  }
  .flexslider:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: 2em;
  }

  .slideup {
    .wrapper::after {
      background: #2b2a29;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    &.ng-enter {
      .wrapper::after {
        opacity: 0.5;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }
    &.ng-leave {
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;

      .wrapper::after {
        opacity: 0.5;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }
    &.ng-enter-active {
      .wrapper::after {
        opacity: 1;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }
  }
}


//* Small Screen *//
@media all and(min-width: 24em) {
  //* helper *//
  body:before {
    content: 'Small Screen';
  }
}

//* Medium Screen *//
@media all and(min-width: 46.8em) {
  //* helper *//
  body:before {
    content: 'Medium Screen';
  }

  .fake-left {
    width: 210px;
  }
  .left {
    width: 200px;
    left:0;
  }
  .right {
    .sub-menu {
      left: 170px;

      &.open {
        left: 220px;
      }
    }
  }
  nav {
    ul.main-menu {
      li {
        font-size: 1em;
      }
    }
  }
}

//* Large Screen *//
@media all and(min-width: 50em) {
  //* helper *//
  body:before {
    content: 'Large Screen';
  }
}

//* Extra Large Screen *//
@media all and(min-width: 73em) {
  //* helper *//
  body:before {
    content: 'Extra Large Screen';
  }
}