<!DOCTYPE html>
<html>
<body>
    <h1>{{firstName}} {{lastName}}</h1>
    <h3>, takto hlasoval v Súťaži:</h3>
    <br>
    <table>
            <tr><td>Email:</td><td><a href="mailto:{{email}}" class="email">{{email}}</a></td></tr>
            <tr><td>Dátum</td><td><b>{{creationDatetime}}</b></td></tr>
            <tr><td>Kód Setu:</td><td><b>{{codeSet}}</b></td></tr>
            <tr><td>1.Miesto:</td><td>{{rank1}} = <b>{{rank1Brand}}</b></td></tr>
            <tr><td>2.Miesto:</td><td>{{rank2}} = <b>{{rank2Brand}}</b></td></tr>
            <tr><td>3.Miesto:</td><td>{{rank3}} = <b>{{rank3Brand}}</b></td></tr>
            <tr><td>4.Miesto:</td><td>{{rank4}} = <b>{{rank4Brand}}</b></td></tr>
            <tr><td>5.Miesto:</td><td>{{rank5}} = <b>{{rank5Brand}}</b></td></tr>
    </table>
</body>
</html>
