<footer>
        <div class="copyright admin">

            <div class="row">
                <div class="col-md-4">
                    <p>
                    <a href="mailto:studio&#64gresh&#46io" class="email" target="_self">studio&#64gresh.io</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        © 2015-2018 created by
                        <a href="https://gresh.io/" class="web" target="_blank" title="greshio | creative studio">greshio.</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <a href="tel:00421948876276" target="_self"> +421 (0) 948 876 276</a>
                    </p>
                </div>
            </div>
        </div>
</footer>

