<footer>
        <div class="copyright">
            <div class="row">
                <div class="col-md-4">
                    <p>
                    <a href="mailto:gresrichard&#64gmail&#46com" class="email">gresrichard@gmail.com</a>
                    </p>
                    <p>
                    <a href="tel:00421948876276"> +421 (0) 948 876 276</a>
                    </p>
                </div>
                <div class="col-md-4 info-copy">
                    <p>
                       Created by
                    </p>
                    <p>
                        © 2017 WebAdmin
                        <a href="mailto:gresrichard@gmail.com" class="email">RG</a>
                    </p>
                </div>
            </div>
        </div>
</footer>

