<footer>
        <div class="copyright">
            <div class="row">
                <div class="col-md-4"><p>© 2017 Minipivovar TATRAS s.r.o</p></div>
                <div class="col-md-4">
                    <p>Follow us :
                        <a href="https://www.facebook.com/minipivovartatras/" target="_blank" name="facebook">
                            <ng-md-icon icon="facebook" style="fill: white" size="20"></ng-md-icon>
                        </a>
                    </p>
                </div>
                <div class="col-md-4 info-copy">
                    <p>
                        Designed with
                        <span> ❤ </span>
                        by
                        <a href="mailto:gresrichard@gmail.com" class="email">RG</a>
                    </p>
                </div>
            </div>
        </div>

</footer>

