<footer>
    <!--<b><p>© 2017 Minipivovar TATRAS, s.r.o</p></b>-->
    <!--<p>-->
        <!--Designed with-->
        <!--<span> &#9825; </span>-->
        <!--in-->
        <!--<a class="flag" href="https://en.wikipedia.org/wiki/Slovakia" title="Slovakia"></a>-->
        <!--by-->
        <!--<a href="mailto:gresrichard&#64gmail&#46com" class="email">ECHT TECH</a>-->
    <!--</p>-->


        <div class="copyright">
            <div class="row">
                <div class="col-md-4"><p>© 2017 Minipivovar TATRAS s.r.o</p></div>
                <div class="col-md-4">
                    <p>Follow us :
                        <a href="https://www.facebook.com/" target="_blank">
                            <ng-md-icon icon="facebook" style="fill: white" size="20"></ng-md-icon>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <ng-md-icon icon="twitter" style="fill: white" size="20"></ng-md-icon>
                        </a>
                    </p>
                </div>
                <div class="col-md-4 info-copy">
                    <p>Website by <a href="mailto:gresrichard&#64gmail&#46com" class="email">RG</a></p></div>
            </div>
        </div>

</footer>

<!--<div class="last">-->
<!--<div class="map">-->
<!--<div style="width:100%;max-width:100%;overflow:hidden;height:400px;color:red;"><div id="gmap_display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=+Námestie+svätého+Egídia+60,+058+01+Poprad&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-code" rel="nofollow" href="http://www.szablonypremium.pl" id="enable-map-data">jest tu</a><style>#gmap_display .text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style></div>-->
<!--<script src="https://www.szablonypremium.pl/google-maps-authorization.js?id=0b9110ca-0f66-68b1-8766-544fb0992f0a&c=google-code&u=1475691956" defer="defer" async="async"></script>-->
<!--</div>-->
<!--</div>-->