<div class="wrapper">

    <div ng-include="'templates/left.html'"></div>

    <div class="fake-left"></div>

    <div class="right">
        <div class="sub-menu">
            <div>
                <ul>
                    <li class="active"><a href="#start">start</a></li>
                    <li><a href="#info">info</a></li>
                    <li><a href="#photos">photos</a> </li>
                    <li><a href="#contact">contact</a> </li>
                </ul>
            </div>
        </div>

        <div class="right-content">

            <button class="hamburger hamburger--collapse" type="button">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
            </button>

            <div class="content-wrapper">

                <div id="welcome" class="content-main bg-25">
                    <h1 class="main-title">.</h1>

                    <div class="graphic"></div>

                    <div class="actions">
                        <a href="!" class="btn book-table">Book Table</a>
                        <a href="!" class="btn book-room">Book Room</a>
                        <a href="!" class="btn book-spa">Book SPA</a>
                    </div>
                </div>

                <section id="start" class="content-main bg-100">
                    <h1 id="main-title">header-svk header-svk header-svk header-svk header-svk header-svk header-svk</h1>
                    <div class="small-line"></div>



                    <div class="content-main">
                        <p id="main-text1">
                            text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk
                            text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk
                            text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk
                        </p>
                        <p id="main-text2">
                            text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk
                            text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk
                            text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk
                        </p>
                    </div>
                    <!--<img src="../components/assets/imgs/interier.JPG" width="100%" height="auto"/>-->
                </section>

                <!--<div class="line"></div>-->


                <!--<div id="info">-->
                    <!--<h1 id="title2">header-svk header-svk header-svk header-svk header-svk header-svk </h1>-->
                    <!--<div class="small-line"></div>-->

                    <!--<div class="content-main">-->
                        <!--<p id="main-text3">-->
                            <!--text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk-->
                            <!--text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk-->
                            <!--text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk-->
                        <!--</p>-->
                    <!--</div>-->

                    <!--<div  class="beer-list">-->

                        <!--<div class="beer">-->
                            <!--<div class="beer-name">-->
                                <!--<h3>Leziak 12&#176;</h3>-->
                            <!--</div>-->
                            <!--<div class="beer-info">-->
                                <!--<p>Lorem ipsum pivo bla bla, Lorem ipsum pivo bla bla, Lorem ipsum pivo bla bla</p>-->
                            <!--</div>-->
                            <!--<div class="beer-foto">-->
                                <!--<img src="../components/assets/imgs/pivo/pivo2.JPG" />-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="beer">-->
                            <!--<div class="beer-name">-->
                                <!--<h3>IPA 14&#176;</h3>-->
                            <!--</div>-->
                            <!--<div class="beer-info">-->
                                <!--<p>Lorem ipsum pivo bla bla, Lorem ipsum pivo bla bla, Lorem ipsum pivo bla bla</p>-->
                            <!--</div>-->
                            <!--<div class="beer-foto">-->
                                <!--<img src="../components/assets/imgs/pivo/pivo5.JPG" />-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="beer">-->
                            <!--<div class="beer-name">-->
                                <!--<h3>Horkac 10&#176;</h3>-->
                            <!--</div>-->
                            <!--<div class="beer-info">-->
                                <!--<p>Lorem ipsum pivo bla bla, Lorem ipsum pivo bla bla, Lorem ipsum pivo bla bla</p>-->
                            <!--</div>-->
                            <!--<div class="beer-foto">-->
                                <!--<img src="../components/assets/imgs/pivo/pivo1.jpg" />-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="beer">-->
                            <!--<div class="beer-name bottom">-->
                                <!--<h3>Kvasikove 11&#176;</h3>-->
                            <!--</div>-->
                            <!--<div class="beer-info">-->
                                <!--<p>Lorem ipsum pivo bla bla, Lorem ipsum pivo bla bla, Lorem ipsum pivo bla bla</p>-->
                            <!--</div>-->
                            <!--<div class="beer-foto">-->
                                <!--<img src="../components/assets/imgs/pivo/pivo4.JPG" />-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="beer">-->
                            <!--<div class="beer-name bottom">-->
                                <!--<h3>Tmave 12&#176;</h3>-->
                            <!--</div>-->
                            <!--<div class="beer-info">-->
                                <!--<p>Lorem ipsum pivo bla bla, Lorem ipsum pivo bla bla, Lorem ipsum pivo bla bla</p>-->
                            <!--</div>-->
                            <!--<div class="beer-foto">-->
                                <!--<img src="../components/assets/imgs/pivo/pivo6.JPG" />-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="beer">-->
                            <!--<div class="beer-name bottom">-->
                                <!--<h3>Horkac 10&#176;</h3>-->
                            <!--</div>-->
                            <!--<div class="beer-info">-->
                                <!--<p>Lorem ipsum pivo bla bla, Lorem ipsum pivo bla bla, Lorem ipsum pivo bla bla</p>-->
                            <!--</div>-->
                            <!--<div class="beer-foto">-->
                                <!--<img src="../components/assets/imgs/pivo/pivo3.JPG" />-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->


                <!--<section id="photos" class="content-main">-->
                    <!--<h1 id="main-brewery">Naš Minipivovar-SVK</h1>-->
                    <!--<div class="small-line"></div>-->

                    <!--<p id="main-brewery1">-->
                        <!--text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk-->
                        <!--text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk-->
                        <!--text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk-->
                    <!--</p>-->

                    <!--<div class="food-list">-->

                        <!--<div class="food-item">-->
                            <!--<img src="../components/assets/imgs/varenie/varenie1.jpg" />-->
                        <!--</div>-->
                        <!--<div class="food-item">-->
                            <!--<img src="../components/assets/imgs/varenie/Varenie3.jpg" />-->
                        <!--</div>-->
                        <!--<div class="food-item">-->
                            <!--<img src="../components/assets/imgs/varenie/varenie4.jpg" />-->
                        <!--</div>-->
                        <!--<div class="food-item">-->
                            <!--<img src="../components/assets/imgs/varenie/varenie5.jpg" />-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</section>-->


                <!--<section class="content-main">-->
                    <!--<h1 id="our-food">Restaurant-SVK</h1>-->
                    <!--<div class="small-line"></div>-->

                    <!--<p id="food">-->
                        <!--text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk-->
                        <!--text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk-->
                        <!--text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk-->
                    <!--</p>-->

                    <!--<div class="food-list">-->

                        <!--<div class="food-item">-->
                            <!--<img src="../components/assets/imgs/jedlo/loparik.jpg" />-->
                        <!--</div>-->
                        <!--<div class="food-item">-->
                            <!--<img src="../components/assets/imgs/jedlo/polievka.jpg" />-->
                        <!--</div>-->
                        <!--<div class="food-item">-->
                            <!--<img src="../components/assets/imgs/jedlo/kolacik.jpg" />-->
                        <!--</div>-->
                        <!--<div class="food-item">-->
                            <!--<img src="../components/assets/imgs/jedlo/licka.JPG" />-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--<p id="food-text">-->
                        <!--text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk-->
                        <!--text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk-->
                        <!--text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk-->
                    <!--</p>-->
                    <!--<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fminipivovartatras%2Fposts%2F1171911356210177&width=500" width="100%" height="200" style="border:none;overflow:hidden;margin-top:20px;" frameborder="0" allowTransparency="true"></iframe>-->
                <!--</section>-->



                <section id="contact" class="content-kontakt bg-100">
                    <h1 id="contact-text">Kontaktujte Nás</h1>
                    <div class="small-line"></div>

                    <div class="info">
                        <div class="item">
                            <p>Minipivovar TATRAS, s.r.o</p>
                            <p>Bc. Lukáš Vdovjak</p>
                        </div>
                        <div class="item">
                            <p>IČO: 36450308</p>
                            <p>DIČ: 2021339045</p>
                        </div>
                        <div class="item">
                            <a href="tel:00421948828727">+421 (0) 948828727</a>
                            <a href="mailto:info&#64minipivovartatras&#46sk" class="email">info@minipivovartatras.sk</a>
                        </div>

                    </div>

                    <div class="formular">
                        <form class="form" id="contactform" action="processForm.php" method="post">
                            <div class="left-form">
                                <p class="name">
                                    <label for="name">Meno</label>
                                    <input type="text" name="name" id="name" tabindex="1" placeholder="Name" required
                                           />
                                </p>

                                <p class="email">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" tabindex="2" placeholder="email@email.de"
                                           required/>
                                </p>

                                <p class="tel">
                                    <label for="tel">Tel.Cislo</label>
                                    <input type="tel" name="tel" id="tel" tabindex="3" placeholder="+49 177 8907048"
                                           required/>
                                </p>

                            </div>
                            <div class="right-form">
                                <p class="message">
                                    <label for="message">Nachricht</label>
                                    <textarea name="message" placeholder="..." id="message" required tabindex="4"/></textarea>
                                </p>
                                <p class="submit">
                                    <input class="yellow" type="submit" id="send" value="Senden"/>
                                </p>
                            </div>

                            <p id="response"></p>
                        </form>
                    </div>
                </section>

                <footer>
                    <b><p>© 2017 Minipivovar TATRAS, s.r.o</p></b>
                    <p>
                        Designed with
                        <span> &#9825; </span>
                        in
                        <a class="flag" href="https://en.wikipedia.org/wiki/Slovakia" title="Slovakia"></a>
                        by
                        <a href="mailto:gresrichard&#64gmail&#46com" class="email" >ECHT TECH</a>
                        <!--Foto by <a href="http://tomasgriger.com/sk/" target="_blank">Tomas Griger</a>-->
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>

<!--<div class="last">-->
<!--<div class="map">-->
<!--<div style="width:100%;max-width:100%;overflow:hidden;height:400px;color:red;"><div id="gmap_display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=+Námestie+svätého+Egídia+60,+058+01+Poprad&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-code" rel="nofollow" href="http://www.szablonypremium.pl" id="enable-map-data">jest tu</a><style>#gmap_display .text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style></div>-->
<!--<script src="https://www.szablonypremium.pl/google-maps-authorization.js?id=0b9110ca-0f66-68b1-8766-544fb0992f0a&c=google-code&u=1475691956" defer="defer" async="async"></script>-->
<!--</div>-->
<!--</div>-->




