<div class="wrapper index bg-black">

    <div class="center">

        <div class="right-content">

            <div class="content-wrapper">

                <section id="welcome" class="book transparent" ng-style="{height: displayHeight + 'px'}">
                    <div class="center-wrap">
                        <div class="center-content home">

                            <div class="logo">
                                <img src="./components/assets/imgs/tatras_logo.png" alt="Minipivovar Tatras"/>
                            </div>

                            <!--
                            <h1 class="book-title">WELCOME</h1>
                            -->

                            <div class="actions start-btns">

                                <a href="#/beer/{{lang}}" ng-if="lang != 'eng'" class="btn">{{minipivovar}}</a>
                                <a href="#/beer/{{lang}}" ng-if="lang != 'svk'" class="btn">{{minipivovar}}</a>

                                <a href="#/restaurant/{{lang}}" ng-if="lang != 'eng'" class="btn">{{restaurant}}</a>
                                <a href="#/restaurant/{{lang}}" ng-if="lang != 'svk'" class="btn">{{restaurant}}</a>

                                <a href="#/pension/{{lang}}" ng-if="lang != 'eng'" class="btn">{{pension}}</a>
                                <a href="#/pension/{{lang}}" ng-if="lang != 'svk'" class="btn">{{pension}}</a>

                                <!--<a href="#/spa/{{lang}}" ng-if="lang != 'eng'"-->
                                   <!--class="btn">{{wellness}}</a>-->
                                <!--<a href="#/spa/{{lang}}" ng-if="lang != 'svk'"-->
                                   <!--class="btn">{{wellness}}</a>-->
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>






