<div class="left" id="left">
    <div>
        <div class="logo">
            <img src="../components/assets/imgs/tatras_logo.png" alt="Minipivovar Tatras"/>
        </div>
        <div class="navigation">
            <nav class="shadow">
                <ul class="main-menu">
                    <li>
                        <a href="#home/{{lang}}" ng-class="getClass('/home')" ng-if="lang != 'svk'">MiniBrewery</a>
                        <a href="#home/{{lang}}" ng-class="getClass('/home')" ng-if="lang != 'eng'">Minipivovar</a>
                    </li>
                    <li>
                        <a href="#/restaurant/{{lang}}" ng-class="getClass('/restaurant')" ng-if="lang != 'svk'">Restaurant</a>
                        <a href="#/restaurant/{{lang}}" ng-class="getClass('/restaurant')" ng-if="lang != 'eng'">Reštaurácia</a>
                    </li>
                    <li>
                        <a href="#/pension/{{lang}}" ng-class="getClass('/pension')" ng-if="lang != 'svk'">Pension</a>
                        <a href="#/pension/{{lang}}" ng-class="getClass('/pension')" ng-if="lang != 'eng'">Penzion</a>
                    </li>
                    <li>
                        <a href="#/spa/{{lang}}" ng-class="getClass('/spa')" ng-if="lang != 'svk'">Beer SPA</a>
                        <a href="#/spa/{{lang}}" ng-class="getClass('/spa')" ng-if="lang != 'eng'">Pivné kúpele</a>
                    </li>
                    <li class="language">
                        <span ng-if="lang != 'eng'" ng-click="english()">ENG</span>
                        <span ng-if="lang != 'svk'" ng-click="slovak()">SVK</span>
                    <li>
                </ul>
            </nav>
        </div>

        <!--<div class="info">-->
        <!--<div class="social-contact">-->

        <!--<a href="tel:00421948828727" target="_blank">-->
        <!--<img src="../components/assets/imgs/icons/phone.png">-->
        <!--</a>-->
        <!--<a href="mailto:info&#64minipivovartatras&#46sk" class="email" name="email-kontakt" target="_blank">-->
        <!--<img src="../components/assets/imgs/icons/mail.png">-->
        <!--</a>-->

        <!--<a href="https://www.facebook.com/minipivovartatras/" name="Facebook" target="_blank">-->
        <!--<img src="../components/assets/imgs/icons/fb.png">-->
        <!--</a>-->

        <!--<a href="https://www.google.sk/maps/place/Minipivovar+Tatras/@49.110841,20.0118303,11z/data=!4m8!1m2!2m1!1sminipivovar+tatras!3m4!1s0x473e3a937a825883:0x737d3b4af45f4836!8m2!3d49.0547361!4d20.3021651" target="_blank">-->
        <!--<img src="../components/assets/imgs/icons/location.png">-->
        <!--</a>-->
        <!--</div>-->
        <!--</div>-->
        <div class="call-action">


            <a href="tel:00421948828727" target="_self" name="call-us" class="btn-book" ng-if="isHome">
                <ng-md-icon icon="{{btnIcon}}" style="fill: #2b2a29" size="20"></ng-md-icon>

                <span ng-if="lang != 'eng'">
                    {{btnBookSvk}}
                </span>
                <span ng-if="lang != 'svk'">
                    {{btnBookEng}}
                </span>
            </a>


            <button class="btn-book" du-smooth-scroll="book" ng-if="lang != 'eng' && !isHome">
                <ng-md-icon icon="{{btnIcon}}" style="fill: #2b2a29" size="20"></ng-md-icon>
                {{btnBookSvk}}
            </button>
            <button class="btn-book" du-smooth-scroll="book" ng-if="lang != 'svk' && !isHome">
                <ng-md-icon icon="{{btnIcon}}" style="fill: #2b2a29" size="20"></ng-md-icon>
                {{btnBookEng}}
            </button>
        </div>

    </div>
</div>
