<div class="loading" ng-class="{'close': !isloading}">
    <div class="loading-wrap">
        <div class="loading-align">
            <div class="loading-content">
                <div class="loading-logo"></div>
                <div class="loading-progress" ng-class="{'load': isloading}">
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-cloak class="wrapper" ng-class="{'init': isloading}">

    <!-- include LEFT-NAVI -->
    <div ng-include="'../templates/left.html'"></div>
    <!-- end of LEFT-NAVI include -->

    <div class="fake-left"></div>

    <div class="right">
        <div class="sub-menu" ng-class="{'open': openMobileMenu}">
            <div>
                <ul>
                    <li du-scrollspy="history"><span du-smooth-scroll="history" ng-click="closeMenu()" translate>story</span></li>
                    <li du-scrollspy="welcome"><span du-smooth-scroll="welcome" ng-click="closeMenu()" translate>TATRAS</span></li>
                    <li du-scrollspy="beers"><span du-smooth-scroll="beers" ng-click="closeMenu()" translate>true.beer</span></li>
                    <li du-scrollspy="our-beer"><span du-smooth-scroll="our-beer" ng-click="closeMenu()" translate>pivna.karta</span></li>
                    <li du-scrollspy="pivovica"><span du-smooth-scroll="pivovica" ng-click="closeMenu()" translate>pivovica</span></li>
                    <li du-scrollspy="lukas"><span du-smooth-scroll="lukas" ng-click="closeMenu()">Bc. Luká&#353; Vdovjak</span></li>
                    <li du-scrollspy="contact" offset="100"><span du-smooth-scroll="contact" ng-click="closeMenu()" translate>contact</span></li>
                    <li du-scrollspy="about"><span du-smooth-scroll="about" ng-click="closeMenu()" translate>about.us</span></li>
                </ul>
            </div>
        </div>

        <div class="right-content">
            <div class="top-nav">
                <button class="hamburger hamburger--collapse" type="button" ng-click="mobileMenu()">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                </button>
                <div class="top-bar-logo">
                </div>
                <div class="call">
                    <a href="tel:00421948828727" target="_self" name="call-us" class="btn-book">
                        <ng-md-icon icon="call" style="fill: #f5eddc" size="30"></ng-md-icon>
                    </a>
                </div>
            </div>

            <div class="content-wrapper">
                <section id="beer" class="content-main bg  bg-pivo1 flex-nopadding full-height">
                    <div class="center-wrap">
                        <div class="category-logo-wrap">
                            <div class="category-logo" du-smooth-scroll="history">
                                <h2 class="category-title" translate>{{categoryName}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="stick-bottom">
                        <span du-smooth-scroll="history"></span>
                    </div>
                </section>

                <section id="history" class="content-main bg bg-100">
                    <h1 class="main-title" translate>story</h1>
                    <h2 class="sub-title">Ako sa zrodil TATRAS</h2>
                    <div class="small-line"></div>
                    <p>{{historyText1}}..
                        <span class="more" ng-hide="showMoreHistory == true" ng-click="doShowMoreHistory();" translate>read.more</span></p>
                    <p ng-show="showMoreHistory == true">{{historyText2}}</p>
                </section>

                <section class="content-main empty bg bg-podpivnik" ng-style="{height: teaserHeight + 'px'}">
                </section>

                <section id="welcome" class="content-main bg bg-100 box">
                    <div class="content-main">
                        <h1 class="main-title color-red">TATRAS</h1>
                        <div class="small-line"></div>
                        <p class="content-text">
                            {{minipivovarText1}}
                            <br>
                            <br>
                            {{minipivovarText2}}
                        </p>
                    </div>
                </section>

                <section id="beers" class="content-main bg bg-black">
                    <h1 class="main-title color-red" translate>true.beer</h1>
                    <div class="small-line"></div>
                    <p class="vip  color-light" >{{minipivovarText3}} <b translate> true.beer</b></p>
                </section>

                <section class="content-main empty bg bg-beerhand">
                </section>

                <section id="our-beer" class="content-main bg bg-100 box">

                    <div class="content-main">
                        <h1 class="main-title" translate>pivna.karta</h1>
                        <div class="small-line"></div>

                        <div class="beer-list">
                            <div id="weizen" class="beer-type top" ng-class="{'new' : beer4new.$value, 'not-active' : !beer4active.$value}">
                                <div class="beer-head">
                                    <div class="beer-name">
                                        <h2>{{beer4name.$value}} {{beer4extrakt.$value}}&deg;</h2>
                                        <h6 ng-if="beer4subtitle.$value">{{beer4subtitle.$value}}</h6>
                                        <h4 translate>top</h4>
                                        <h4 class="out" translate>sold.out</h4>
                                    </div>
                                </div>
                                <p class="beer-body">
                                    <b>Extrakt pôvodnej mladiny: {{beer4extrakt.$value}}% </b>
                                    <br>
                                    <b>Alkohol: do {{beer4alkohol.$value}}%	</b>
                                    <br>
                                    <b>Horkosť: {{beer4ibu.$value}} IBU</b>
                                    <br>
                                    <br>
                                    {{beer4text.$value}}
                                    <br>
                                    <br>
                                    <i>Slady: {{beer4slady.$value}}.</i>
                                    <br>
                                    <i>Chmele: {{beer4chmele.$value}}.</i>
                                </p>
                            </div>

                            <div id="epa" class="beer-type" ng-class="{'new' : beer6new.$value, 'not-active' : !beer6active.$value}">
                                <div class="beer-head">
                                    <div class="beer-name">
                                        <h2>{{beer6name.$value}} {{beer6extrakt.$value}}&deg;</h2>
                                        <h6 ng-if="beer6subtitle.$value">{{beer6subtitle.$value}}</h6>
                                        <h4 ng-if="beer6new.$value == true" translate>new</h4>
                                        <h4 class="out" translate>sold.out</h4>
                                    </div>
                                </div>
                                <p class="beer-body">
                                    <b>Extrakt pôvodnej mladiny: {{beer6extrakt.$value}}% </b>
                                    <br>
                                    <b>Alkohol: do {{beer6alkohol.$value}}%	</b>
                                    <br>
                                    <b>Horkosť: {{beer6ibu.$value}} IBU</b>
                                    <br>
                                    <br>
                                    {{beer6text.$value}}
                                    <br>
                                    <br>
                                    <i>Slady: {{beer6slady.$value}}.</i>
                                    <br>
                                    <i>Chmele: {{beer6chmele.$value}}.</i>
                                </p>
                            </div>

                            <div id="pils" class="beer-type" ng-class="{'new' : beer1new.$value, 'not-active' : !beer1active.$value}">
                                <div class="beer-head">
                                    <div class="beer-name">
                                        <h2>{{beer1name.$value}} {{beer1extrakt.$value}}&deg;</h2>
                                        <h6 ng-if="beer1subtitle.$value">{{beer1subtitle.$value}}</h6>
                                        <h4 class="out" translate>sold.out</h4>
                                    </div>
                                </div>
                                <p class="beer-body">
                                    <b>Extrakt pôvodnej mladiny: {{beer1extrakt.$value}} %</b>
                                    <br>
                                    <b>Alkohol: do {{beer1alkohol.$value}} %</b>
                                    <br>
                                    <b>Horkosť: {{beer1ibu.$value}} IBU</b>
                                    <br>
                                    <br>
                                    {{beer1text.$value}}
                                    <br>
                                    <br>
                                    <i>Slady: {{beer1slady.$value}}.</i>
                                    <br>
                                    <i>Chmele: {{beer1chmele.$value}}.</i>
                                </p>
                            </div>

                            <div id="panko" class="beer-type" ng-class="{'new' : beer2new.$value, 'not-active' : !beer2active.$value}">
                                <div class="beer-head">
                                    <div class="beer-name">
                                        <h2>{{beer2name.$value}} {{beer2extrakt.$value}}&deg;</h2>
                                        <h6 ng-if="beer2subtitle.$value">{{beer2subtitle.$value}}</h6>
                                        <h4 class="out" translate>sold.out</h4>
                                    </div>
                                </div>
                                <p class="beer-body">
                                    <b>Extrakt pôvodnej mladiny: {{beer2extrakt.$value}}% </b>
                                    <br>
                                    <b>Alkohol: do {{beer2alkohol.$value}}%	</b>
                                    <br>
                                    <b>Horkosť: {{beer2ibu.$value}} IBU</b>
                                    <br>
                                    <br>
                                    {{beer2text.$value}}
                                    <br>
                                    <br>
                                    <i>Slady: {{beer2slady.$value}}.</i>
                                    <br>
                                    <i>Chmele: {{beer2chmele.$value}}.</i>
                                </p>
                            </div>

                            <div id="tmavak" class="beer-type" ng-class="{'new' : beer3new.$value, 'not-active' : !beer3active.$value}">
                                <div class="beer-head">
                                    <div class="beer-name">
                                        <h2>{{beer3name.$value}} {{beer3extrakt.$value}}&deg;</h2>
                                        <h6 ng-if="beer3subtitle.$value">{{beer3subtitle.$value}}</h6>
                                        <h4 class="out" translate>sold.out</h4>
                                    </div>
                                </div>
                                <p class="beer-body">
                                    <b>Extrakt pôvodnej mladiny: {{beer3extrakt.$value}}% </b>
                                    <br>
                                    <b>Alkohol: do {{beer3alkohol.$value}}%	</b>
                                    <br>
                                    <b>Horkosť: {{beer3ibu.$value}} IBU</b>
                                    <br>
                                    <br>
                                    {{beer3text.$value}}
                                    <br>
                                    <br>
                                    <i>Slady: {{beer3slady.$value}}.</i>
                                    <br>
                                    <i>Chmele: {{beer3chmele.$value}}.</i>
                                </p>
                            </div>

                            <div id="ipl" class="beer-type" ng-class="{'new' : beer5new.$value, 'not-active' : !beer5active.$value}">
                                <div class="beer-head">
                                    <div class="beer-name">
                                        <h2>{{beer5name.$value}} {{beer5extrakt.$value}}&deg;</h2>
                                        <h6 ng-if="beer5subtitle.$value">{{beer5subtitle.$value}}</h6>
                                        <h4 class="out" translate>sold.out</h4>
                                    </div>
                                </div>
                                <p class="beer-body">
                                    <b>Extrakt pôvodnej mladiny: {{beer5extrakt.$value}}% </b>
                                    <br>
                                    <b>Alkohol: do {{beer5alkohol.$value}}%	</b>
                                    <br>
                                    <b>Horkosť: {{beer5ibu.$value}} IBU</b>
                                    <br>
                                    <br>
                                    {{beer5text.$value}}
                                    <br>
                                    <br>
                                    <i>Slady: {{beer5slady.$value}}.</i>
                                    <br>
                                    <i>Chmele: {{beer5chmele.$value}}.</i>
                                </p>
                            </div>

                            <div id="weizen-bok" class="beer-type" ng-class="{'new' : beer7new.$value, 'not-active' : !beer7active.$value}">
                                <div class="beer-head">
                                    <div class="beer-name">
                                        <h2>{{beer7name.$value}} {{beer7extrakt.$value}}&deg;</h2>
                                        <h6 ng-if="beer7subtitle.$value">{{beer7subtitle.$value}}</h6>
                                        <h4 class="out" translate>sold.out</h4>
                                    </div>
                                </div>
                                <p class="beer-body">
                                    <b>Extrakt pôvodnej mladiny: {{beer7extrakt.$value}} %</b>
                                    <br>
                                    <b>Alkohol: do {{beer7alkohol.$value}} %</b>
                                    <br>
                                    <b>Horkosť: {{beer7ibu.$value}} IBU</b>
                                    <br>
                                    <br>
                                    {{beer7text.$value}}
                                    <br>
                                    <br>
                                    <i>Slady: {{beer7slady.$value}}.</i>
                                    <br>
                                    <i>Chmele: {{beer7chmele.$value}}.</i>
                                </p>
                            </div>

                            <div id="apa" class="beer-type" ng-class="{'new' : beer8new.$value, 'not-active' : !beer8active.$value}">
                                <div class="beer-head">
                                    <div class="beer-name">
                                        <h2>{{beer8name.$value}} {{beer8extrakt.$value}}&deg;</h2>
                                        <h6 ng-if="beer8subtitle.$value">{{beer8subtitle.$value}}</h6>
                                        <h4 class="out" translate>sold.out</h4>
                                    </div>
                                </div>
                                <p class="beer-body">
                                    <b>Extrakt pôvodnej mladiny: {{beer8extrakt.$value}} %</b>
                                    <br>
                                    <b>Alkohol: do {{beer8alkohol.$value}} %</b>
                                    <br>
                                    <b>Horkosť: {{beer8ibu.$value}} IBU</b>
                                    <br>
                                    <br>
                                    {{beer8text.$value}}
                                    <br>
                                    <br>
                                    <i>Slady: {{beer8slady.$value}}.</i>
                                    <br>
                                    <i>Chmele: {{beer8chmele.$value}}.</i>
                                </p>
                            </div>
                            <div id="horkac" class="beer-type" ng-class="{'new' : beer9new.$value, 'not-active' : !beer9active.$value}">
                                <div class="beer-head">
                                    <div class="beer-name">
                                        <h2>{{beer9name.$value}} {{beer9extrakt.$value}}&deg;</h2>
                                        <h6 ng-if="beer9subtitle.$value">{{beer9subtitle.$value}}</h6>
                                        <h4 class="out" translate>sold.out</h4>
                                    </div>
                                </div>
                                <p class="beer-body">
                                    <b>Extrakt pôvodnej mladiny: {{beer9extrakt.$value}} %</b>
                                    <br>
                                    <b>Alkohol: do {{beer9alkohol.$value}} %</b>
                                    <br>
                                    <b>Horkosť: {{beer9ibu.$value}} IBU</b>
                                    <br>
                                    <br>
                                    {{beer9text.$value}}
                                    <br>
                                    <br>
                                    <i>Slady: {{beer9slady.$value}}.</i>
                                    <br>
                                    <i>Chmele: {{beer9chmele.$value}}.</i>
                                </p>
                            </div>
                            <div id="stout" class="beer-type" ng-class="{'new' : beer10new.$value, 'not-active' : !beer10active.$value}">
                                <div class="beer-head">
                                    <div class="beer-name">
                                        <h2>{{beer10name.$value}} {{beer10extrakt.$value}}&deg;</h2>
                                        <h6 ng-if="beer10subtitle.$value">{{beer10subtitle.$value}}</h6>
                                        <h4 class="out" translate>sold.out</h4>
                                    </div>
                                </div>
                                <p class="beer-body">
                                    <b>Extrakt pôvodnej mladiny: {{beer10extrakt.$value}} %</b>
                                    <br>
                                    <b>Alkohol: do {{beer10alkohol.$value}} %</b>
                                    <br>
                                    <b>Horkosť: {{beer10ibu.$value}} IBU</b>
                                    <br>
                                    <br>
                                    {{beer10text.$value}}
                                    <br>
                                    <br>
                                    <i>Slady: {{beer10slady.$value}}.</i>
                                    <br>
                                    <i>Chmele: {{beer10chmele.$value}}.</i>
                                </p>
                            </div>
                            <div class="beer-type" ng-class="{'new' : beer11new.$value, 'not-active' : !beer11active.$value}">
                                <div class="beer-head">
                                    <div class="beer-name">
                                        <h2>{{beer11name.$value}} {{beer11extrakt.$value}}&deg;</h2>
                                        <h6 ng-if="beer11subtitle.$value">{{beer11subtitle.$value}}</h6>
                                        <h4 class="out" translate>sold.out</h4>
                                    </div>
                                </div>
                                <p class="beer-body">
                                    <b>Extrakt pôvodnej mladiny: {{beer11extrakt.$value}} %</b>
                                    <br>
                                    <b>Alkohol: do {{beer11alkohol.$value}} %</b>
                                    <br>
                                    <b>Horkosť: {{beer11ibu.$value}} IBU</b>
                                    <br>
                                    <br>
                                    {{beer11text.$value}}
                                    <br>
                                    <br>
                                    <i>Slady: {{beer11slady.$value}}.</i>
                                    <br>
                                    <i>Chmele: {{beer11chmele.$value}}.</i>
                                </p>
                            </div>
                            <div class="beer-type" ng-if="beer12name.$value" ng-class="{'new' : beer12new.$value, 'not-active' : !beer12active.$value}">
                                <div class="beer-head">
                                    <div class="beer-name">
                                        <h2>{{beer12name.$value}} {{beer12extrakt.$value}}&deg;</h2>
                                        <h6 ng-if="beer12subtitle.$value">{{beer12subtitle.$value}}</h6>
                                    </div>
                                </div>
                                <p class="beer-body">
                                    <b>Extrakt pôvodnej mladiny: {{beer12extrakt.$value}} %</b>
                                    <br>
                                    <b>Alkohol: do {{beer12alkohol.$value}} %</b>
                                    <br>
                                    <b>Horkosť: {{beer12ibu.$value}} IBU</b>
                                    <br>
                                    <br>
                                    {{beer12text.$value}}
                                    <br>
                                    <br>
                                    <i>Slady: {{beer12slady.$value}}.</i>
                                    <br>
                                    <i>Chmele: {{beer12chmele.$value}}.</i>
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="boxer boxer-big">
                        <div class="box-15">
                            <img src="/components/assets/imgs/pivo/pivo1.jpg"/>
                        </div>
                        <div class="box-15">
                            <img src="/components/assets/imgs/pivo/pivo2.JPG"/>
                        </div>
                        <div class="box-15">
                            <img src="/components/assets/imgs/pivo/pivo3.JPG"/>
                        </div>
                        <div class="box-15">
                            <img src="/components/assets/imgs/pivo/pivo4.JPG"/>
                        </div>
                        <div class="box-15">
                            <img src="/components/assets/imgs/pivo/pivo5.JPG"/>
                        </div>
                        <div class="box-15">
                            <img src="/components/assets/imgs/pivo/pivo6.JPG"/>
                        </div>
                    </div>
                </section>

                <section id="pivovica" class="content-main bg bg-100">
                    <h1 class="main-title" translate>pivovica</h1>
                    <div class="small-line"></div>
                    <div class="product-wrap">
                       <div class="product-image">
                           <img src="/components/assets/imgs/pivovica_name.png"/>
                       </div>
                    </div>
                    <div class="small-line"></div>
                    <p>{{pivovicaText1}}..
                        <span class="more" ng-hide="showMoreText == true" ng-click="doShowMoreText();" translate>read.more</span></p>
                    <p ng-show="showMoreText == true">{{pivovicaText2}}</p>
                    <div class="product-wrap">
                        <div class="product-image">
                            <img src="/components/assets/imgs/pivovica_photo.jpg"/>
                        </div>
                    </div>
                </section>

                <section class="content-main empty bg bg-lukas" ng-style="{height: teaserHeight + 'px'}">
                </section>

                <section id="lukas" class="content-main bg bg-black">
                    <h1 class="main-title color-white">Bc. Luká&#353; Vdovjak</h1>
                    <div class="small-line"></div>
                    <p class="content-text color-light">{{historyText3}}</p>
                </section>

                <section class="content-main empty bg bg-exterier">
                </section>

                <section id="contact" class="content-main content-kontakt bg bg-red">
                    <h1 class="main-title" translate>contact</h1>
                    <div class="small-line"></div>

                    <div class="info">
                        <div class="item">
                            <ng-md-icon icon="settings_phone" class="icon" style="display: block; position: relative; margin: 0 auto; fill: #2b2a29;"
                                        size="3em"></ng-md-icon>
                            <a href="tel:00421948828727">(+421) 0948 828 727</a>
                        </div>
                        <div class="item">
                            <ng-md-icon icon="mail_outline" class="icon" style="display: block; position: relative; margin: 0 auto; fill: #2b2a29;"
                                        size="3em"></ng-md-icon>
                            <a href="mailto:info&#64minipivovartatras&#46sk" class="email">info@minipivovartatras.sk</a>
                        </div>

                    </div>
                </section>

                <section id="about" class="bg bg-black invert">
                    <div class="content-main info">
                        <div class="item">
                            <p>Minipivovar TATRAS, s.r.o.</p>
                            <p>Námestie sväteho Egídia 60</p>
                            <p>05801 Poprad</p>
                            <br>
                            <p>IČO: 36450308</p>
                            <p>DIČ: 2021339045</p>
                        </div>
                    </div>
                </section>

                <section class="last" ng-style="{height: teaserHeight + 'px'}">
                    <div class="map" ng-style="{height: teaserHeight + 'px'}">
                        <div style="width:100%;max-width:100%;overflow:hidden;height:100%;color:red;">
                            <div id="gmap_display" style="height:100%; width:100%;max-width:100%;">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10458.714031133324!2d20.3021651!3d49.0547361!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x737d3b4af45f4836!2sMinipivovar+Tatras!5e0!3m2!1ssk!2ssk!4v1496950044302"
                                style="height:100%;width:100%;border:0;" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- include FOOTER -->
                <div ng-include="'../templates/footer.html'"></div>
                <!-- end of FOOTER include -->

            </div>
        </div>
    </div>
</div>






