<div class="loading" ng-class="{'close': !isloading}">
    <div class="loading-wrap">
        <div class="loading-align">
            <div class="loading-content">
                <div class="loading-logo"></div>
                <div class="loading-progress" ng-class="{'load': isloading}">
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-cloak class="wrapper" ng-class="{'init': isloading}">

    <!-- include LEFT-NAVI -->
    <div ng-include="'../templates/left.html'"></div>
    <!-- end of LEFT-NAVI include -->

    <div class="fake-left" ng-class="{'show': subMenuState}"></div>

    <div class="right">
        <div class="sub-menu" ng-class="{'open': openMobileMenu, 'show': subMenuState}">
            <div>
                <ul>
                    <li du-scrollspy="welcome"><span du-smooth-scroll="welcome" ng-click="mobileMenu()" translate>welcome</span></li>
                    <li du-scrollspy="beers"><span du-smooth-scroll="beers" ng-click="mobileMenu()" translate>our.beer</span></li>
                    <li du-scrollspy="history"><span du-smooth-scroll="history" ng-click="mobileMenu()" translate>history</span></li>
                    <li du-scrollspy="contact" offset="100"><span du-smooth-scroll="contact" ng-click="mobileMenu()" translate>contact</span></li>
                    <li du-scrollspy="about"><span du-smooth-scroll="about" ng-click="mobileMenu()" translate>about.us</span></li>
                </ul>
            </div>
        </div>

        <div class="right-content">
            <div class="top-nav">

                <button class="hamburger hamburger--collapse" type="button" ng-click="mobileMenu()">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                </button>

                <div class="top-bar-logo">
                </div>
            </div>


            <div class="content-wrapper">

                <section id="beer" class="content-main bg bg-pivo5 flex-nopadding" ng-style="{height: displayHeight + 'px'}">
                    <div class="center-wrap">
                        <div class="category-logo-wrap">
                            <div class="category-logo">
                                <h2 class="category-title" translate>{{categoryName}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="stick-bottom">
                        <span du-smooth-scroll="welcome"></span>
                    </div>
                </section>

                <!--<section class="content-main empty bg bg-podpivnik" ng-style="{height: teaserHeight + 'px'}">-->
                <!--</section>-->

                <section id="welcome" class="content-main bg bg-100 box">

                    <div class="content-main">
                        <h1 class="main-title color-red">TATRAS</h1>
                        <div class="small-line"></div>

                        <p>{{minipivovarText1}}</p>
                    </div>

                    <div class=" boxer boxer-big">
                        <div class="box-15">
                            <img src="/components/assets/imgs/pivo/pivo1.jpg"/>
                        </div>
                        <div class="box-15">
                            <img src="/components/assets/imgs/pivo/pivo2.JPG"/>
                        </div>
                        <div class="box-15">
                            <img src="/components/assets/imgs/pivo/pivo3.JPG"/>
                        </div>
                        <div class="box-15">
                            <img src="/components/assets/imgs/pivo/pivo4.JPG"/>
                        </div>
                        <div class="box-15">
                            <img src="/components/assets/imgs/pivo/pivo5.JPG"/>
                        </div>
                        <div class="box-15">
                            <img src="/components/assets/imgs/pivo/pivo6.JPG"/>
                        </div>
                    </div>
                </section>

                <section id="beers" class="content-main bg bg-black">
                    <h1 class="main-title color-red" translate>true.beer</h1>
                    <div class="small-line"></div>
                    <div class="">
                        <p class="content-text color-light" >{{minipivovarText2}} <b translate> true.beer</b></p>
                    </div>
                </section>



                <section class="content-main empty bg bg-beerhand">
                </section>

                <section id="history" class="content-main bg bg-100">
                    <h1 class="main-title" translate>history</h1>
                    <div class="small-line"></div>

                    <div class="content-main">
                        <p>{{historyText1}}..
                            <span class="more" ng-hide="showMoreHistory == true" ng-click="doShowMoreHistory();" translate>read.more</span></p>
                        <p ng-show="showMoreHistory == true">{{historyText2}}</p>
                    </div>
                </section>

                <section class="content-main empty bg bg-lukas" ng-style="{height: teaserHeight + 'px'}">
                </section>

                <section id="lukas" class="content-main bg bg-black">

                    <h1 class="main-title color-red">Bc. Luká&#353; Vdovjak</h1>
                    <div class="small-line"></div>

                    <div class="content-main">
                        <p class="content-text color-light">{{historyText3}}</p>
                    </div>

                </section>

                <section class="content-main empty bg bg-exterier">
                </section>

                <section id="contact" class="content-main content-kontakt bg bg-red">
                    <h1 class="main-title" translate>contact</h1>
                    <div class="small-line"></div>

                    <div class="info">
                        <div class="item">
                            <ng-md-icon icon="settings_phone" class="icon" style="display: block; position: relative; margin: 0 auto; fill: #2b2a29;"
                                        size="3em"></ng-md-icon>
                            <a href="tel:00421948828727">(+421) 0948 828 727</a>
                        </div>
                        <div class="item">
                            <ng-md-icon icon="mail_outline" class="icon" style="display: block; position: relative; margin: 0 auto; fill: #2b2a29;"
                                        size="3em"></ng-md-icon>
                            <a href="mailto:info&#64minipivovartatras&#46sk" class="email">info@minipivovartatras.sk</a>
                        </div>

                    </div>
                </section>

                <section id="about" class="bg bg-black invert">
                    <div class="content-main info">
                        <div class="item">
                            <p>Minipivovar TATRAS, s.r.o.</p>
                            <p>Námestie sväteho Egídia 60</p>
                            <p>05801 Poprad</p>
                            <br>
                            <p>IČO: 36450308</p>
                            <p>DIČ: 2021339045</p>
                        </div>
                    </div>
                </section>

                <section class="last" ng-style="{height: teaserHeight + 'px'}">
                    <div class="map" ng-style="{height: teaserHeight + 'px'}">
                        <div style="width:100%;max-width:100%;overflow:hidden;height:100%;color:red;">
                            <div id="gmap_display" style="height:100%; width:100%;max-width:100%;">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10458.714031133324!2d20.3021651!3d49.0547361!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x737d3b4af45f4836!2sMinipivovar+Tatras!5e0!3m2!1ssk!2ssk!4v1496950044302"
                                style="height:100%;width:100%;border:0;" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- include FOOTER -->
                <div ng-include="'../templates/footer.html'"></div>
                <!-- end of FOOTER include -->

            </div>
        </div>
    </div>
</div>






