<div class="wrapper">

    <!-- include LEFT-NAVI -->
    <div ng-include="'templates/left.html'"></div>
    <!-- end of LEFT-NAVI include -->

    <div class="fake-left"></div>

    <div class="right">
        <div class="sub-menu" ng-class="{open: subMenuState}">
            <div>
                <ul>
                    <li du-scrollspy="pension"><span du-smooth-scroll="pension">Penzion</span></li>
                    <li du-scrollspy="info"><span du-smooth-scroll="info">Izby</span></li>
                    <li du-scrollspy="open"><span du-smooth-scroll="open">Info</span></li>
                    <li du-scrollspy="info2"><span du-smooth-scroll="info">Sluzby</span></li>
                    <li du-scrollspy="photos"><span du-smooth-scroll="photos">Photos</span></li>
                </ul>
            </div>
        </div>

        <div class="right-content">

            <button class="hamburger hamburger--collapse" type="button">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
            </button>

            <div class="content-wrapper">

                <section id="book" class="book bg-pension" ng-style="{height: displayHeight + 'px'}">

                    <div class="center-wrap">
                        <div class="center-content">
                            <h1 class="book-title">{{categoryName}} TATRAS***</h1>

                            <div class="book-form">

                                <div class="book-wrap" ng-if="bookStep1">
                                    <div class="row">
                                        <div class="wrap four label">
                                            <ng-md-icon icon="date_range"
                                                        style="display: block; position: relative; fill: black; margin: 0 auto;"
                                                        size="25px"></ng-md-icon>
                                        </div>
                                        <div class="wrap four label">
                                            <ng-md-icon icon="date_range"
                                                        style="display: block; position: relative; fill: black; margin: 0 auto;"
                                                        size="25px"></ng-md-icon>
                                        </div>
                                        <div class="wrap four label">
                                            <ng-md-icon icon="group"
                                                        style="display: block; position: relative; fill: black; margin: 0 auto;"
                                                        size="25px"></ng-md-icon>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="wrap four">
                                            <input id="date" class="date" type="date"/>
                                        </div>
                                        <div class="wrap four">
                                            <input id="date" class="date" type="date"/>
                                        </div>
                                        <div class="wrap four">
                                            <input id="amount" type="number" placeholder="2"/>
                                        </div>

                                    </div>
                                </div>


                                <div class="book-wrap" ng-if="bookStep2">
                                    <div class="row">
                                        <div class="wrap label">
                                            <ng-md-icon icon="person"
                                                        style="display: block; position: relative; fill: black; margin: 0 auto;"
                                                        size="25px"></ng-md-icon>
                                        </div>
                                        <div class="wrap label">
                                            <ng-md-icon icon="email"
                                                        style="display: block; position: relative; fill: black; margin: 0 auto;"
                                                        size="25px"></ng-md-icon>
                                        </div>
                                        <div class="wrap label">
                                            <ng-md-icon icon="phone"
                                                        style="display: block; position: relative; fill: black; margin: 0 auto;"
                                                        size="25px"></ng-md-icon>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="wrap">
                                            <input id="name" class="name" type="text" placeholder="Your Name" required/>
                                        </div>
                                        <div class="wrap">
                                            <input id="email" class="email" type="email" placeholder="email" required/>
                                        </div>
                                        <div class="wrap">
                                            <input id="tel" type="number" placeholder="+ 421 901 111 111"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="actions float-right" ng-if="bookStep1">
                                <a href="#/pension/{{lang}}" ng-click="bookIt()" ng-if="lang != 'eng'" class="btn-next">Rezervovat<ng-md-icon icon="keyboard_arrow_right" style="white" size="20"></ng-md-icon></a>
                                <a href="#/pension/{{lang}}" ng-click="bookIt()" ng-if="lang != 'svk'" class="btn-next">Book<ng-md-icon icon="keyboard_arrow_right" style="white" size="20"></ng-md-icon></a>
                            </div>
                            <div class="actions float-right" ng-if="bookStep2">
                                <button class="btn-prev" ng-click="bookStepBack()">
                                    <ng-md-icon icon="keyboard_arrow_left" style="fill: white" size="20"></ng-md-icon>
                                    Back
                                </button>
                                <a href="#/pension/{{lang}}" ng-click="sendIt()" ng-if="lang != 'eng'" class="btn-next"><ng-md-icon icon="check" style="white" size="20"></ng-md-icon>Odoslat
                                    Rezervaciu</a>
                                <a href="#/pension/{{lang}}" ng-click="sendIt()" ng-if="lang != 'svk'" class="btn-next"><ng-md-icon icon="check" style="white" size="20"></ng-md-icon>Confirm
                                    Booking</a>
                            </div>
                        </div>

                        <div class="stick-bottom" du-smooth-scroll="pension">
                            <span></span>
                        </div>
                    </div>
                </section>

                <section id="pension" class="content-main bg-100">
                    <h1 class="main-title">{{categoryName}}</h1>
                    <div class="small-line"></div>

                    <div class="content-main">
                        <p class="content-text">{{pensionText1}}</p>
                    </div>
                </section>

                <section id="info" class="content-main bg-100">
                    <h1 class="main-title">Vybavenie Izby</h1>
                    <div class="small-line"></div>

                    <div class="content-main">
                        <ul class="text-list-number">
                            <li>trojlôžková izba s možnosťou prístelky, vhodná pre viacčlennú rodinu 26 m2</li>
                            <li>dvojlôžková izba 22 m2</li>
                            <li>dvojlôžková izba s možnosťou prístelky 28 m2</li>
                            <li> dvojlôžková izba 28 m2</li>
                        </ul>
                        <p class="content-text">
                            Všetky izby sú vybavené LED televízorom, WI-FI, chladničkou s minibarom, kúpeľňou so sprchovým kútom a fénom, WC. V budove sa nachádza kozmetika, krajčírstvo, zlatník.
                            K dispozícií je privátne parkovisko strážené kamerovým systémom.
                            Chcete si prenajať izbu na jeden či viac mesiacov? Je to možné. U nás sa budete cítiť ako „vo svojom“.
                        </p>
                    </div>
                </section>

                <section class="content-main empty bg-pension">
                    <h6 class="item-title">Izba na noc už od</h6>
                    <h6 class="item-label">29.99 &euro;</h6>
                </section>

                <section id="open" class="content-main bg-100">
                    <h1 class="main-title">Check in & Check out</h1>
                    <div class="small-line"></div>

                    <div class="content-main">
                        <p>Nástup na ubytovanie (check-in): 14,00 hod.</p>
                        <p>Odchod z ubytovania (check-out): 10,00 hod.</p>
                        <p>Recepcia: 8,00 hod. – 22,00 hod.</p>
                    </div>
                </section>

                <section id="info2" class="content-main bg-100">
                    <h1 class="main-title">Služby</h1>
                    <div class="small-line"></div>

                    <div class="content-main">
                        <p class="content-text">
                            Poloha penziónu je skvelým východiskovým bodom pre Vaše ďaľšie aktivity. Ak chcete zažiť pestrú dovolenku, navrhneme Vám program z ktorého si určite vyberiete. Zabezpečíme Vám zľavnené vstupenky.
                        </p>
                        <p class="content-text">
                            Doporučíme sprievodcu, vyhľadáme a zarezervujeme dopravné spojenie a večer môžete zregenerovať a načerpať sily v pivných kúpeloch, povečerať v našej reštaurácií a dobre sa vyspať v  našom útulnom penzióne ktorý si určite zamilu
                        </p>
                    </div>
                </section>

                <section class="content-main empty bg-pension">
                    <h6 class="item-title">Tatranská galéria</h6>
                    <h6 class="item-label">0,7 km, 7 min</h6>
                </section>

                <section id="info3" class="content-main bg-100">
                    <h1 class="main-title">Ponúkame Vám</h1>
                    <div class="small-line"></div>

                    <div class="content-main">
                        <ul class="text-list">
                            <li>prehliadku minipivovaru Tatras s pivnou degustáciou a výkladom</li>
                            <li>možnosť zúčastníť sa varenia piva so sládkom</li>
                            <li>návštevu pivných kúpeľov, sauna, masáž</li>
                            <li>raňajky v reštaurácií Tatras </li>
                        </ul>
                    </div>
                </section>

                <section id="photos" class="content-main bg-100 flex-nopadding">
                    <flex-slider slide="s in mySlides">
                        <li>
                            <img ng-src="{{s}}" alt="img-name"/>
                        </li>
                    </flex-slider>
                </section>



                <!-- include FOOTER -->
                <div ng-include="'templates/footer.html'"></div>
                <!-- end of FOOTER include -->

            </div>
        </div>
    </div>
</div>




