<div class="loading" ng-class="{'close': !isloading}">
    <div class="loading-wrap">
        <div class="loading-align">
            <div class="loading-content">
                <div class="loading-logo"></div>
                <div class="loading-progress" ng-class="{'load': isloading}">
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-cloak class="wrapper" ng-class="{'init': isloading}">

    <!-- include LEFT-NAVI -->
    <div ng-include="'templates/left.html'"></div>
    <!-- end of LEFT-NAVI include -->

    <div class="fake-left" ng-class="{'show': subMenuState}"></div>

    <div class="right">
        <div class="sub-menu" ng-class="{'open': openMobileMenu, 'show': subMenuState}">
            <div>
                <ul>
                    <li du-scrollspy="kitchen"><span du-smooth-scroll="kitchen" ng-click="mobileMenu()" translate>kitchen</span></li>
                    <li du-scrollspy="menu"><span du-smooth-scroll="menu" ng-click="mobileMenu()" translate>daily.menu</span></li>
                    <li du-scrollspy="info2"><span du-smooth-scroll="info2" ng-click="mobileMenu()" translate>lounges</span></li>
                    <li du-scrollspy="book"><span du-smooth-scroll="book" ng-click="mobileMenu()" translate>book.now</span></li>
                    <li du-scrollspy="hours"><span du-smooth-scroll="hours" ng-click="mobileMenu()" translate>open.hours</span></li>
                </ul>
            </div>
        </div>

        <div class="right-content">
            <div class="top-nav">

                <button class="hamburger hamburger--collapse" type="button" ng-click="mobileMenu()">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                </button>

                <div class="top-bar-logo">
                </div>
            </div>

            <div class="content-wrapper">

                <section id="restaurant" class="content-main bg bg-restaurant flex-nopadding" ng-style="{height: displayHeight + 'px'}">
                    <div class="center-wrap">
                        <div class="category-logo-wrap">
                            <div class="category-logo">
                                <h2 class="category-title" translate>{{categoryName}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="stick-bottom">
                        <span du-smooth-scroll="welcome"></span>
                    </div>
                </section>

                <!--<section class="content-main empty bg bg-rebra">-->
                <!--</section>-->

                <section id="welcome" class="content-main bg bg-100 ">
                    <h1 class="main-title" translate>welcome</h1>
                    <div class="small-line"></div>
                    <div class="content-main">
                        <p class="content-text">{{restaurantText1}}</p>
                    </div>
                </section>

                <section id="chefs" class="content-main empty bg bg-kitchen">
                    <h6 class="item-title" translate>our.chefs</h6>
                </section>

                <section id="kitchen" class="content-main bg bg-black">
                    <h1 class="main-title color-red" translate>cook.modern.process</h1>
                    <div class="small-line"></div>
                    <div class="">
                        <p class="content-text color-light">
                            {{restaurantPribehText3}}
                        </p>
                    </div>
                </section>

                <section id="menu" class="content-main bg bg-white">

                    <h1 class="main-title" translate>daily.menu</h1>
                    <div class="small-line"></div>

                    <div class="content-main no-padding">
                        <p class="align-center">
                            {{restaurantText2}}<b>{{restaurantMenuTime}}</b><br>
                            {{restaurantText3}}<b class="red">{{dailyMenuPrice.$value}} &euro; </b>
                        </p>
                        <div class="daily-menu-list">

                            <div class="daily-menu-item" ng-hide="!day1food2.$value || todayName == 'tuesday' || todayName == 'wednesday' || todayName == 'thursday' || todayName == 'friday' || todayName == 'saturday' || todayName == 'sunday' "
                                 ng-class="{'today': todayName == 'monday'}">
                                <table>
                                    <tr class="menu-day">
                                        <td>
                                            <h5 translate>monday</h5>
                                        </td>
                                        <td>
                                        </td>
                                        <td colspan="1">
                                            <h5 class="date">{{day1Date.$value}}</h5>
                                        </td>
                                    </tr>
                                    <tr ng-if="day1food1.$value">
                                        <td class="item-title">
                                            <p translate>food1</p>
                                            <span>{{dailyMenuWeight1.$value}}</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day1food1.$value}}<b> ({{day1allergens1.$value}}) </b></p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day1food2.$value">
                                        <td class="item-title">
                                            <p translate>food2</p>
                                            <span>{{dailyMenuWeight2.$value}}</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day1food2.$value}}<b> ({{day1allergens2.$value}}) </b></p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day1food3.$value">
                                        <td class="item-title">
                                            <p translate>food3</p>
                                            <span>{{dailyMenuWeight3.$value}}</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day1food3.$value}}<b> ({{day1allergens3.$value}}) </b></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="daily-menu-item" ng-hide="!day2food2.$value || todayName == 'wednesday' || todayName == 'thursday' || todayName == 'friday' || todayName == 'saturday' || todayName == 'sunday' "
                                 ng-class="{'today': todayName == 'tuesday'}">
                                <table>
                                    <tr class="menu-day">
                                        <td>
                                            <h5 translate>tuesday</h5>
                                        </td>
                                        <td>
                                        </td>
                                        <td colspan="1">
                                            <h5 class="date">{{day2Date.$value}}</h5>
                                        </td>
                                    </tr>
                                    <tr ng-if="day2food1.$value">
                                        <td class="item-title">
                                            <p translate>food1</p>
                                            <span>{{dailyMenuWeight1.$value}}</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day2food1.$value}}<b> ({{day2allergens1.$value}}) </b></p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day2food2.$value">
                                        <td class="item-title">
                                            <p translate>food2</p>
                                            <span>{{dailyMenuWeight2.$value}}</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day2food2.$value}}<b> ({{day2allergens2.$value}}) </b></p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day2food3.$value">
                                        <td class="item-title">
                                            <p translate>food3</p>
                                            <span>{{dailyMenuWeight3.$value}}</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day2food3.$value}}<b> ({{day2allergens3.$value}}) </b></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="daily-menu-item" ng-hide="!day3food2.$value || todayName == 'thursday' || todayName == 'friday' || todayName == 'saturday' || todayName == 'sunday' "
                                 ng-class="{'today': todayName == 'wednesday'}">
                                <table>
                                    <tr class="menu-day">
                                        <td>
                                            <h5 translate>wednesday</h5>
                                        </td>
                                        <td>
                                        </td>
                                        <td colspan="1">
                                            <h5 class="date">{{day3Date.$value}}</h5>
                                        </td>
                                    </tr>
                                    <tr ng-if="day3food1.$value">
                                        <td class="item-title">
                                            <p translate>food1</p>
                                            <span>{{dailyMenuWeight1.$value}}</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day3food1.$value}}<b> ({{day3allergens1.$value}}) </b></p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day3food2.$value">
                                        <td class="item-title">
                                            <p translate>food2</p>
                                            <span>{{dailyMenuWeight2.$value}}</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day3food2.$value}}<b> ({{day3allergens2.$value}}) </b></p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day3food3.$value">
                                        <td class="item-title">
                                            <p translate>food3</p>
                                            <span>{{dailyMenuWeight3.$value}}</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day3food3.$value}}<b> ({{day3allergens3.$value}}) </b></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="daily-menu-item" ng-hide="!day4food2.$value || todayName == 'friday' || todayName == 'saturday' || todayName == 'sunday' "
                                 ng-class="{'today': todayName == 'thursday'}">
                                <table>
                                    <tr class="menu-day">
                                        <td>
                                            <h5 translate>thursday</h5>
                                        </td>
                                        <td>
                                        </td>
                                        <td colspan="1">
                                            <h5 class="date">{{day4Date.$value}}</h5>
                                        </td>
                                    </tr>
                                    <tr ng-if="day4food1.$value">
                                        <td class="item-title">
                                            <p translate>food1</p>
                                            <span>{{dailyMenuWeight1.$value}}</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day4food1.$value}}<b> ({{day4allergens1.$value}}) </b></p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day4food2.$value">
                                        <td class="item-title">
                                            <p translate>food2</p>
                                            <span>{{dailyMenuWeight2.$value}}</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day4food2.$value}}<b> ({{day4allergens2.$value}}) </b></p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day4food3.$value">
                                        <td class="item-title">
                                            <p translate>food3</p>
                                            <span>{{dailyMenuWeight3.$value}}</span>
                                        </td>
                                        <td colspan="2">
                                             <p>{{day4food3.$value}}<b> ({{day4allergens3.$value}}) </b></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="daily-menu-item" ng-hide="!day5food2.$value || todayName == 'saturday' || todayName == 'sunday' "
                                 ng-class="{'today': todayName == 'friday'}">
                                <table>
                                    <tr class="menu-day">
                                        <td>
                                            <h5 translate>friday</h5>
                                        </td>
                                        <td>
                                        </td>
                                        <td colspan="1">
                                            <h5 class="date">{{day5Date.$value}}</h5>
                                        </td>
                                    </tr>
                                    <tr ng-if="day5food1.$value">
                                        <td class="item-title">
                                            <p translate>food1</p>
                                            <span>{{dailyMenuWeight1.$value}}</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day5food1.$value}}<b> ({{day5allergens1.$value}}) </b></p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day5food2.$value">
                                        <td class="item-title">
                                            <p translate>food2</p>
                                            <span>{{dailyMenuWeight2.$value}}</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day5food2.$value}}<b> ({{day5allergens2.$value}}) </b></p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day5food2.$value">
                                        <td class="item-title">
                                            <p translate>food3</p>
                                            <span>{{dailyMenuWeight3.$value}}</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day5food3.$value}}<b> ({{day5allergens3.$value}}) </b></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </section>

                <section id="graphic" class="content-main empty bg bg-rebra">
                </section>

                <section id="info2" class="content-main bg bg-100">
                    <h1 class="main-title" translate>lounges</h1>
                    <div class="small-line"></div>
                    <div class="boxer">
                        <div class="salon">
                            <h5>Barová pasáž</h5>
                            <p>{{restaurantSalonik1}}</p>
                        </div>
                        <div class="salon">
                            <h5>Pivo-nica</h5>
                            <p>{{restaurantSalonik2}}</p>
                        </div>
                        <div class="salon">
                            <h5>Pivo-banka</h5>
                            <p>{{restaurantSalonik3}}</p>
                        </div>
                        <div class="salon">
                            <h5>Likérka</h5>
                            <p>{{restaurantSalonik4}}</p>
                        </div>
                        <div class="salon">
                            <h5>Komôrka</h5>
                            <p>{{restaurantSalonik5}}</p>
                        </div>
                        <div class="salon">
                            <h5>Galérka</h5>
                            <p>{{restaurantSalonik6}}</p>
                        </div>
                        <div class="salon">
                            <h5>Záhradka</h5>
                            <p>{{restaurantSalonik7}}</p>
                        </div>
                        <div class="salon">
                            <h5>Hudobka</h5>
                            <p>{{restaurantSalonik8}}</p>
                        </div>
                        <div class="salon">
                            <h5>Kapacita</h5>
                            <p>{{restaurantSalonik9}}</p>
                        </div>
                    </div>
                </section>

                <section id="book" class="content-main bg invert">
                    <h1 class="main-title" translate>book.now</h1>

                    <div class="small-line"></div>

                    <div class="book-form">
                        <form name="restaurantBookForm" role="form">

                            <div class="book-wrap" ng-hide="bookFinnish">
                                <div class="row">
                                    <div class="wrap four label">
                                        <ng-md-icon icon="date_range" style="display: inline-block; position: relative; fill: #f5eddc;"
                                                    size="25px"></ng-md-icon>
                                        <label for="date" translate>date</label>
                                    </div>
                                    <div class="wrap four">
                                        <div class="input-wrap">
                                            <datepicker date-format="dd.MM.yyyy" date-week-start-day="1" datepicker-mobile="true">
                                                <input id="date" class="date" type="text" ng-model="date"  placeholder="07.01.2017" required/>
                                            </datepicker>
                                        </div>
                                    </div>

                                    <div class="wrap four label">
                                        <ng-md-icon icon="access_time" style="display: inline-block; position: relative; fill: #f5eddc;"
                                                    size="25px"></ng-md-icon>
                                        <label for="time" translate>time</label>
                                    </div>
                                    <div class="wrap four">
                                        <div class="input-wrap">
                                            <input id="time" name="timer" class="time" type="time" min="11:00:00" max="24:00:00" placeholder="11:00:00"
                                               ng-model="timer" pattern="^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$" required/>
                                        </div>
                                    </div>

                                    <div class="wrap four label">
                                        <ng-md-icon icon="group" style="display: inline-block; position: relative; fill: #f5eddc;"
                                                    size="25px"></ng-md-icon>
                                        <label for="amount" translate>amount</label>
                                    </div>
                                    <div class="wrap four">
                                        <div class="input-wrap">
                                            <input id="amount" name="amount" type="text" placeholder="1-171" ng-model="amount" required/>
                                        </div>
                                    </div>


                                    <div class="wrap four label">
                                        <ng-md-icon icon="local_restaurant" style="display: inline-block; position: relative; fill: #f5eddc;"
                                                    size="25px"></ng-md-icon>
                                        <label for="room-type" translate>room.type</label>
                                    </div>
                                    <div class="wrap four">
                                        <div class="input-wrap">
                                            <select id="room-type" name="room" ng-model="room" required>
                                                <option value="" disabled selected hidden translate>select</option>
                                                <option value="nezalezi" selected translate>Nezáleži</option>
                                                <option value="pivonice">Pivo-nice</option>
                                                <option value="pivobanka">Pivo-banka</option>
                                                <option value="likerka">Likérka</option>
                                                <option value="komorka">Komôrka</option>
                                                <option value="galerka">Galérka</option>
                                                <option value="zahradka">Záhradka</option>
                                                <option value="hudobka">Hudobka</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="wrap label">
                                        <ng-md-icon icon="person"
                                                    style="display: inline-block; position: relative; fill: #f5eddc;"
                                                    size="25px"></ng-md-icon>
                                        <label for="name" translate>name</label>
                                    </div>
                                    <div class="wrap">
                                        <div class="input-wrap">
                                            <input id="name"  type="text" name="name" ng-model="name" class="form-control" placeholder="{{yourName}}" required/>
                                        </div>
                                    </div>
                                    <div class="wrap label">
                                        <ng-md-icon icon="email"
                                                    style="display: inline-block; position: relative; fill: #f5eddc;"
                                                    size="25px"></ng-md-icon>
                                        <label for="email" translate>email</label>
                                    </div>
                                    <div class="wrap">
                                        <div class="input-wrap">
                                            <input id="email" type="email" name="email" ng-model="email"
                                               class="form-control" required/>
                                        </div>
                                    </div>
                                    <div class="wrap label">
                                        <ng-md-icon icon="phone"
                                                    style="display: inline-block; position: relative; fill: #f5eddc;"
                                                    size="25px"></ng-md-icon>
                                        <label for="phone" translate>phone</label>
                                    </div>
                                    <div class="wrap">
                                        <div class="input-wrap">
                                            <input id="phone" type="text" name="phone" ng-model="phone" />
                                        </div>
                                    </div>
                                    <div class="wrap label">
                                        <ng-md-icon icon="textsms"
                                                    style="display: inline-block; position: relative; fill: #f5eddc;"
                                                    size="25px"></ng-md-icon>
                                        <label for="text" translate>note</label>
                                    </div>
                                    <div class="wrap">
                                        <div class="input-wrap">
                                            <input id="text" type="text" name="text" ng-model="addText" placeholder="text"/>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="booking-done" ng-show="bookFinnish">
                                <ng-md-icon icon="check_circle" style="display: block; position: relative;
                                            background: #78fa89; border-radius: 50%;
                                            width: 150px; height:150px;fill: rgb(43, 42, 41);"
                                            size="150"></ng-md-icon>
                                <h4>{{bookingSend1}}</h4>
                                <h4>{{bookingSend2}}</h4>
                            </div>

                            <div class="book-wrap" ng-hide="bookFinnish">
                                <div class="actions" >
                                    <p class="link-button phone" ng-hide="restaurantBookForm.$valid" translate>
                                        please.fill.all.data
                                    </p>
                                    <button ng-click="formsubmit(restaurantBookForm)" ng-disabled="!restaurantBookForm.$valid" class="btn-next btn-submit">
                                        <ng-md-icon icon="check" style="white" size="20"></ng-md-icon>
                                        <span translate>book.now</span>
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </section>

                <section id="contact" class="content-main content-kontakt bg bg-red">
                    <h1 class="main-title" translate>contact</h1>
                    <div class="small-line"></div>
                    <div class="info">
                        <div class="item">
                            <ng-md-icon icon="settings_phone" class="icon" style="display: block; position: relative; margin: 0 auto; fill: #2b2a29;"
                                        size="3em"></ng-md-icon>
                            <a href="tel:00421948828727">(+421) 0948 828 727</a>
                        </div>
                        <div class="item">
                            <ng-md-icon icon="mail_outline" class="icon" style="display: block; position: relative; margin: 0 auto; fill: #2b2a29;"
                                        size="3em"></ng-md-icon>
                            <a href="mailto:restaurant&#64minipivovartatras&#46sk" class="email">restaurant@minipivovartatras.sk</a>
                        </div>
                    </div>
                </section>


                <section class="content-main empty bg bg-salonik">
                </section>

                <section id="hours" class="bg bg-white">
                    <div class="content-main">
                        <h1 class="main-title" translate>open.hours</h1>
                        <div class="small-line"></div>

                        <div class="hours">
                            <div class="day monday" ng-class="{'today' : todayName == 'monday' }">
                                <span translate>monday</span>
                                <span class="time1">{{restMonTimeFrom.$value}}</span>
                                <span class="time2">{{restMonTimeTo.$value}}</span>
                            </div>
                            <div class="day tuesday" ng-class="{'today' : todayName == 'tuesday' }">
                                <span translate>tuesday</span>
                                <span class="time1">{{restTueTimeFrom.$value}}</span>
                                <span class="time2">{{restTueTimeTo.$value}}</span>
                            </div>
                            <div class="day wednesday" ng-class="{'today' : todayName == 'wednesday' }">
                                <span translate>wednesday</span>
                                <span class="time1">{{restWedTimeFrom.$value}}</span>
                                <span class="time2">{{restWedTimeTo.$value}}</span>
                            </div>
                            <div class="day thursday" ng-class="{'today' : todayName == 'thursday' }">
                                <span translate>thursday</span>
                                <span class="time1">{{restThuTimeFrom.$value}}</span>
                                <span class="time2">{{restThuTimeTo.$value}}</span>
                            </div>
                            <div class="day friday" ng-class="{'today' : todayName == 'friday' }">
                                <span translate>friday</span>
                                <span class="time1">{{restFriTimeFrom.$value}}</span>
                                <span class="time2">{{restFriTimeTo.$value}}</span>
                            </div>
                            <div class="day saturday" ng-class="{'today' : todayName == 'saturday' }">
                                <span translate>saturday</span>
                                <span class="time1">{{restSatTimeFrom.$value}}</span>
                                <span class="time2">{{restSatTimeTo.$value}}</span>
                            </div>
                            <div class="day sunday" ng-class="{'today' : todayName == 'sunday' }">
                                <span translate>sunday</span>
                                <span class="time1">{{restSunTimeFrom.$value}}</span>
                                <span class="time2">{{restSunTimeTo.$value}}</span>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="content-main empty bg bg-bar">
                </section>

                <section  id="info" class="content-main bg bg-100">
                    <h1 class="main-title" translate>story</h1>
                    <div class="small-line"></div>

                    <div class="content-main">
                        <p class="content-text">
                            {{restaurantPribehText}}...<span class="more" ng-hide="showMoreHistory == true" ng-click="doShowMoreHistory();" translate>read.more</span>
                        </p>
                        <p class="content-text" ng-show="showMoreHistory == true">
                            <b translate>restaurant</b><b> TATRAS</b> {{restaurantPribehText2}}
                        </p>

                    </div>
                </section>

                <section id="photos" class="content-main bg bg-100 flex-nopadding">

                    <flex-slider slide="s in mySlides">
                        <li>
                             <img ng-src="{{s}}">
                        </li>
                    </flex-slider>

                </section>

                <!-- include FOOTER -->
                <div ng-include="'templates/footer.html'"></div>
                <!-- end of FOOTER include -->

            </div>
        </div>
    </div>
</div>



