<div class="wrapper">

    <!-- include LEFT-NAVI -->
    <div ng-include="'templates/left.html'"></div>
    <!-- end of LEFT-NAVI include -->

    <div class="fake-left"></div>

    <div class="right">
        <div class="sub-menu" ng-class="{open: subMenuState}">
            <div>
                <ul>
                    <li du-scrollspy="category"><span du-smooth-scroll="category">welcome</span></li>
                    <li du-scrollspy="menu"><span du-smooth-scroll="menu">Daily Menu</span></li>
                    <li du-scrollspy="open"><span du-smooth-scroll="open">Open</span></li>
                    <li du-scrollspy="info"><span du-smooth-scroll="info">Info</span></li>
                    <li du-scrollspy="photos"><span du-smooth-scroll="photos">Photos</span></li>
                </ul>
            </div>
        </div>

        <div class="right-content">

            <button class="hamburger hamburger--collapse" type="button">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
            </button>

            <div class="content-wrapper">

                <section id="book" class="book bg-restaurant" ng-style="{height: displayHeight + 'px'}">
                    <div class="center-wrap">
                        <div class="center-content">
                            <h1 class="book-title">Restaurant TATRAS</h1>

                            <div class="book-form">

                               <div class="book-wrap" ng-if="bookStep1">
                                   <div class="row">
                                       <div class="wrap four label">
                                           <ng-md-icon icon="date_range" style="display: block; position: relative; fill: black; margin: 0 auto;" size="25px"></ng-md-icon>
                                       </div>
                                       <div class="wrap four label">
                                           <ng-md-icon icon="access_time" style="display: block; position: relative; fill: black; margin: 0 auto;" size="25px"></ng-md-icon>
                                       </div>
                                       <div class="wrap four label">
                                           <ng-md-icon icon="group" style="display: block; position: relative; fill: black; margin: 0 auto;" size="25px"></ng-md-icon>
                                       </div>
                                       <div class="wrap four label">
                                           <ng-md-icon icon="local_restaurant" style="display: block; position: relative; fill: black; margin: 0 auto;" size="25px"></ng-md-icon>
                                       </div>
                                   </div>
                                   <div class="row">
                                       <div class="wrap four">
                                           <input id="date" class="date" type="date" />
                                       </div>
                                       <div class="wrap four">
                                           <input id="time" class="time" type="time" value="12:00"/>
                                       </div>
                                       <div class="wrap four">
                                           <input id="amount" type="number" placeholder="2" />
                                       </div>
                                       <div class="wrap four">
                                           <select id="room-type">
                                               <option>Galerka</option>
                                               <option>Nezalezi</option>
                                               <option>Pivnicka</option>
                                               <option>Hudobka</option>
                                           </select>
                                       </div>
                                   </div>
                               </div>

                                <div class="book-wrap" ng-if="bookStep2">
                                    <div class="row">
                                        <div class="wrap label">
                                            <ng-md-icon icon="person" style="display: block; position: relative; fill: black; margin: 0 auto;" size="25px"></ng-md-icon>
                                        </div>
                                        <div class="wrap label">
                                            <ng-md-icon icon="email" style="display: block; position: relative; fill: black; margin: 0 auto;" size="25px"></ng-md-icon>
                                        </div>
                                        <div class="wrap label">
                                            <ng-md-icon icon="phone" style="display: block; position: relative; fill: black; margin: 0 auto;" size="25px"></ng-md-icon>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="wrap">
                                            <input id="name" class="name" type="text" placeholder="Your Name" required/>
                                        </div>
                                        <div class="wrap">
                                            <input id="email" class="email" type="email" placeholder="email" required/>
                                        </div>
                                        <div class="wrap">
                                            <input id="tel" type="number" placeholder="+ 421 901 111 111" />
                                        </div>
                                    </div>
                                </div>

                                <div class="actions float-right" ng-if="bookStep1">
                                    <a href="#/restaurant/{{lang}}" ng-click="continueBook()" ng-if="lang != 'eng'" class="btn-next">Rezervovat<ng-md-icon icon="keyboard_arrow_right" style="white" size="20"></ng-md-icon></a>
                                    <a href="#/restaurant/{{lang}}" ng-click="continueBook()" ng-if="lang != 'svk'" class="btn-next">Book<ng-md-icon icon="keyboard_arrow_right" style="white" size="20"></ng-md-icon></a>
                                </div>



                                <div class="actions float-right" ng-if="bookStep2">
                                    <button class="btn-prev" ng-click="bookStepBack()">
                                        <ng-md-icon icon="keyboard_arrow_left" style="fill: white" size="20"></ng-md-icon>
                                        Back
                                    </button>




                                    <a href="#/restaurant/{{lang}}" ng-click="sendIt()" ng-if="lang != 'eng'" class="btn-next"><ng-md-icon icon="check" style="white" size="20"></ng-md-icon>Odoslat Rezervaciu</a>
                                    <a href="#/restaurant/{{lang}}" ng-click="sendIt()" ng-if="lang != 'svk'" class="btn-next"><ng-md-icon icon="check" style="white" size="20"></ng-md-icon>Confirm Booking</a>
                                </div>
                            </div>


                        </div>

                        <div class="stick-bottom" du-smooth-scroll="category">
                            <ng-md-icon icon="expand_more" style="display: block; position: relative; left: -25px; fill: white; margin: 0 auto;" size="100"></ng-md-icon>
                        </div>
                    </div>
                </section>

                <section id="category" class="content-main bg-100">
                    <h1 class="main-title">Restaurant</h1>
                    <div class="small-line"></div>

                    <div class="content-main">
                        <p class="content-text">
                            text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk
                            text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk
                            text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk
                        </p>
                    </div>
                </section>

                <section id="menu" class="content-main bg-100">
                    <h1 class="main-title">Menu</h1>
                    <div class="small-line"></div>
                    <div class="content-main">
                        <p class="content-text">
                            text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk
                            text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk
                            text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk
                        </p>
                    </div>
                </section>

                <section id="open" class="content-main bg-100">
                    <h1 class="main-title">open-hours</h1>
                    <div class="small-line"></div>

                    <div class="content-main">

                        <div class="hours">
                            <div class="day Monday">
                                <span>Pondelok</span>
                                <span class="time1">11:00</span>
                                <span class="time2">23:00</span>
                            </div>
                            <div class="day Tuesday">
                                <span>Utorok</span>
                                <span class="time1">11:00</span>
                                <span class="time2">23:00</span>
                            </div>
                            <div class="day Wednesday">
                                <span>Streda</span>
                                <span class="time1">11:00</span>
                                <span class="time2">23:00</span>
                            </div>
                            <div class="day Thursday">
                                <span>&#138;tvrtok</span>
                                <span class="time1">11:00</span>
                                <span class="time2">23:00</span>
                            </div>
                            <div class="day Friday">
                                <span>Piatok</span>
                                <span class="time1">11:00</span>
                                <span class="time2">01:00</span>
                            </div>
                            <div class="day Saturday">
                                <span>Sobota</span>
                                <span class="time1">12:00</span>
                                <span class="time2">01:00</span>
                            </div>
                            <div class="day Sunday">
                                <span>Nedela</span>
                                <span class="time1">12:00</span>
                                <span class="time2">23:00</span>
                            </div>
                        </div>
                    </div>
                </section>

                <section  id="info" class="content-main bg-100">
                    <h1 class="main-title">info</h1>
                    <div class="small-line"></div>

                    <div class="content-main">
                        <p class="content-text">
                            text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk
                            text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk
                            text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk
                        </p>
                    </div>
                </section>



                <section class="content-main empty bg-food"></section>


                <section id="photos" class="content-main bg-100">
                    <h1 class="main-title">Photos</h1>
                    <div class="small-line"></div>

                    <div class="content-main">
                        <p class="content-text">
                            text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk
                            text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk
                            text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk text-svk
                        </p>
                    </div>
                </section>

                <!-- include FOOTER -->
                <div ng-include="'templates/footer.html'"></div>
                <!-- end of FOOTER include -->

            </div>
        </div>
    </div>
</div>



