<!-- include Loading Component -->
<div ng-include="'templates/loading.html'"></div>
<!-- end of Loading include -->

<div ng-cloak class="wrapper" ng-class="{'init': isloading}">

    <!-- include LEFT-NAVI -->
    <div ng-include="'templates/left.html'"></div>
    <!-- end of LEFT-NAVI include -->

    <div class="fake-left"></div>

    <div class="right">
        <div class="sub-menu" ng-class="{'open': openMobileMenu}">
            <div>
                <ul>
                    <li du-scrollspy="info">
                        <span du-smooth-scroll="info" ng-click="closeMenu()" translate>story</span>
                    </li>
                    <li du-scrollspy="kitchen">
                        <span du-smooth-scroll="kitchen" ng-click="closeMenu()" translate>kitchen</span>
                    </li>
                    <li du-scrollspy="restaurant">
                        <span du-smooth-scroll="restaurant" ng-click="closeMenu()" translate>restaurant</span>
                    </li>
                    <li du-scrollspy="offer">
                        <span du-smooth-scroll="offer" ng-click="closeMenu()" translate>we.recommend</span>
                    </li>
                    <li du-scrollspy="menu">
                        <span du-smooth-scroll="menu" ng-click="closeMenu()" translate>daily.menu</span>
                    </li>
                    <li du-scrollspy="book">
                        <span du-smooth-scroll="book" ng-click="closeMenu()" translate>book.now</span>
                    </li>
                    <li du-scrollspy="hours">
                        <span du-smooth-scroll="hours" ng-click="closeMenu()" translate>open.hours</span>
                    </li>
                    <li du-scrollspy="contact">
                        <span du-smooth-scroll="contact" ng-click="closeMenu()" translate>contact</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="right-content">
            <div class="top-nav">

                <button class="hamburger hamburger--collapse" type="button" ng-click="mobileMenu()">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
                <div class="top-bar-logo">
                </div>
                <div class="call">
                    <a href="tel:00421948828727" target="_self" name="call-us" class="btn-book">
                        <ng-md-icon icon="call" style="fill: #f5eddc" size="30"></ng-md-icon>
                    </a>
                </div>
            </div>

            <div class="content-wrapper">
                <section id="welcome" class="content-main bg bg-restaurant flex-nopadding full-height">
                    <div class="center-wrap">
                        <div class="category-logo-wrap">
                            <div class="category-logo" du-smooth-scroll="info">
                                <h2 class="category-title" translate>{{categoryName}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="stick-bottom">
                        <span du-smooth-scroll="info"></span>
                    </div>
                </section>

                <section id="info" class="content-main bg bg-100">
                    <h1 class="main-title" translate>story</h1>
                    <div class="small-line"></div>
                    <p class="content-text">
                        <span class="odsek"></span>
                        <span translate>restaurant.text.1</span>
                        <button class="btn show-more" ng-hide="showMoreHistory == true" ng-click="doShowMoreHistory();"
                            translate>read.more</button>
                        <br>
                        <br>
                        <span class="content-text" ng-show="showMoreHistory == true">
                            <span class="odsek"></span>
                            <span translate>restaurant.text.2</span>
                        </span>
                    </p>
                </section>

                <section id="chefs" class="content-main empty bg bg-kitchen">
                </section>

                <section id="kitchen" class="content-main bg bg-black">
                    <h1 class="main-title" translate>our.chefs</h1>
                    <div class="small-line"></div>
                    <p class="content-text color-light vip">
                        <span class="odsek"></span>
                        <span translate>restaurant.text.3</span>
                        <br>
                        <span class="odsek"></span>
                        <span translate>restaurant.text.4</span>
                    </p>
                    <div class="small-line"></div>
                    <br>
                </section>

                <section id="graphic" class="content-main empty bg bg-bar">
                </section>

                <section id="restaurant" class="content-main bg bg-100 ">
                    <h1 class="main-title" translate>restaurant</h1>
                    <h2 class="sub-title" translate>restaurant.text.5</h2>
                    <div class="small-line"></div>

                    <div class="boxer salons">
                        <div class="salon">
                            <h5 translate>lounge.name.1</h5>
                            <p translate>lounge.text.1</p>
                        </div>
                        <div class="salon">
                            <h5 translate>lounge.name.2</h5>
                            <p translate>lounge.text.2</p>
                        </div>
                        <div class="salon">
                            <img src="/components/assets/imgs/new/_RK_5912.JPG"
                                style="display: block; width: 100%; margin: 0 auto;">
                        </div>
                        <div class="salon">
                            <h5 translate>lounge.name.3</h5>
                            <p translate>lounge.text.3</p>
                        </div>
                        <div class="salon">
                            <h5 translate>lounge.name.4</h5>
                            <p translate>lounge.text.4</p>
                        </div>
                        <div class="salon">
                            <img src="/components/assets/imgs/komorka.jpg"
                                style="display: block; width: 100%; margin: 0 auto;">
                        </div>
                        <div class="salon">
                            <h5 translate>lounge.name.5</h5>
                            <p translate>lounge.text.5</p>
                        </div>
                        <div class="salon">
                            <h5 translate>lounge.name.6</h5>
                            <p translate>lounge.text.6</p>
                        </div>
                        <div class="salon">
                            <h5 translate>lounge.name.7</h5>
                            <p translate>lounge.text.7</p>
                        </div>
                        <div class="salon">
                            <h5 translate>lounge.name.8</h5>
                            <p translate>lounge.text.8</p>
                        </div>
                    </div>

                    <br>
                    <div class="small-line"></div>
                    <br>
                    <p class="content-text">
                        <span class="odsek"></span>
                        <span translate>restaurant.text.6</span>
                    </p>
                    <br>
                    <h2 class="sub-title" translate>restaurant.text.7</h2>
                </section>

                <section class="content-main empty bg bg-licka">
                </section>

                <section id="offer" class="content-main bg bg-100">
                    <h1 class="main-title" translate>we.recommend</h1>
                    <h2 class="sub-title" translate>restaurant.text.8</h2>
                    <div class="small-line"></div>

                    <div class="boxer salons">
                        <div class="salon">
                            <img src="/components/assets/imgs/jacobus.jpg"
                                style="display: block; width: 100%; margin: 0 auto;" />
                            <h5 translate>set.name.1</h5>
                            <p translate>set.text.1</p>
                        </div>
                        <div class="salon">
                            <img src="/components/assets/imgs/degustacia.jpg"
                                style="display: block; width: 100%; margin: 0 auto;" />
                            <h5 translate>set.name.2</h5>
                            <p translate>set.text.2</p>
                        </div>
                        <div class="salon">
                            <img src="/components/assets/imgs/jedlo/polievka.jpg"
                                style="display: block; width: 100%; margin: 0 auto;" />
                            <h5 translate>set.name.3</h5>
                            <p translate>set.text.3</p>
                        </div>

                        <div class="salon">
                            <img src="/components/assets/imgs/jedlo/_RK_0105.JPG"
                                style="display: block; width: 100%; margin: 0 auto;" />
                            <h5 translate>set.name.4</h5>
                            <p translate>set.text.4</p>
                        </div>
                        <div class="salon">
                            <img src="/components/assets/imgs/jedlo/kolacik.jpg"
                                style="display: block; width: 100%; margin: 0 auto;" />
                            <h5 translate>set.name.5</h5>
                            <p translate>set.text.5</p>
                        </div>
                    </div>

                </section>

                <section class="content-main empty bg bg-rebra">
                </section>

                <section id="menu" class="content-main bg bg-white">

                    <h1 class="main-title color-black" translate>daily.menu</h1>
                    <div class="small-line"></div>

                    <div class="content-main no-padding">
                        <p class="align-center">
                            <span translate>daily.text.1</span>
                            <b translate>daily.text.2</b>
                            <br>
                            <br>
                            <span translate>daily.text.3</span>
                            <b class="red">{{dailyMenuPrice1.$value}} &euro; </b>
                            <br>
                            <span translate>daily.text.4</span>
                            <b class="red">{{dailyMenuPrice2.$value}} &euro; </b>

                        </p>

                        <div class="small-line"></div>

                        <div class="daily-menu-list">

                            <div class="daily-menu-item"
                                ng-hide="!day1food2.$value || todayName == 'tuesday' || todayName == 'wednesday' || todayName == 'thursday' || todayName == 'friday' || todayName == 'saturday' "
                                ng-class="{'today': todayName == 'monday'}">
                                <table>
                                    <tr class="menu-day">
                                        <td>
                                            <h5 class="dayname" translate>monday</h5>
                                            <h5 class="todays" translate>today</h5>
                                        </td>
                                        <td>
                                        </td>
                                        <td colspan="1">
                                            <h5 class="date">{{day1Date.$value}}</h5>
                                        </td>
                                    </tr>
                                    <tr ng-if="day1food1.$value">
                                        <td class="item-title">
                                            <p translate>food1</p>
                                            <span>{{dailyMenuWeight1.$value}} ml</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day1food1.$value}}
                                                <b ng-hide="!day1allergens1.$value"> ({{day1allergens1.$value}}) </b>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day1food2.$value">
                                        <td class="item-title">
                                            <p translate>food2</p>
                                            <span>{{dailyMenuWeight2.$value}} g</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day1food2.$value}}
                                                <b ng-hide="!day1allergens2.$value"> ({{day1allergens2.$value}}) </b>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day1food3.$value">
                                        <td class="item-title">
                                            <p translate>food3</p>
                                            <span>{{dailyMenuWeight3.$value}} g</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day1food3.$value}}
                                                <b ng-hide="!day1allergens3.$value"> ({{day1allergens3.$value}}) </b>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="daily-menu-item"
                                ng-hide="!day2food2.$value || todayName == 'wednesday' || todayName == 'thursday' || todayName == 'friday' || todayName == 'saturday'"
                                ng-class="{'today': todayName == 'tuesday'}">
                                <table>
                                    <tr class="menu-day">
                                        <td>
                                            <h5 class="dayname" translate>tuesday</h5>
                                            <h5 class="todays" translate>today</h5>
                                        </td>
                                        <td>
                                        </td>
                                        <td colspan="1">
                                            <h5 class="date">{{day2Date.$value}}</h5>
                                        </td>
                                    </tr>
                                    <tr ng-if="day2food1.$value">
                                        <td class="item-title">
                                            <p translate>food1</p>
                                            <span>{{dailyMenuWeight1.$value}} ml</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day2food1.$value}}
                                                <b ng-hide="!day2allergens1.$value"> ({{day2allergens1.$value}}) </b>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day2food2.$value">
                                        <td class="item-title">
                                            <p translate>food2</p>
                                            <span>{{dailyMenuWeight2.$value}} g</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day2food2.$value}}
                                                <b ng-hide="!day2allergens2.$value"> ({{day2allergens2.$value}}) </b>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day2food3.$value">
                                        <td class="item-title">
                                            <p translate>food3</p>
                                            <span>{{dailyMenuWeight3.$value}} g</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day2food3.$value}}
                                                <b ng-hide="!day2allergens3.$value"> ({{day2allergens3.$value}}) </b>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="daily-menu-item"
                                ng-hide="!day3food2.$value || todayName == 'thursday' || todayName == 'friday' || todayName == 'saturday' "
                                ng-class="{'today': todayName == 'wednesday'}">
                                <table>
                                    <tr class="menu-day">
                                        <td>
                                            <h5 class="dayname" translate>wednesday</h5>
                                            <h5 class="todays" translate>today</h5>
                                        </td>
                                        <td>
                                        </td>
                                        <td colspan="1">
                                            <h5 class="date">{{day3Date.$value}}</h5>
                                        </td>
                                    </tr>
                                    <tr ng-if="day3food1.$value">
                                        <td class="item-title">
                                            <p translate>food1</p>
                                            <span>{{dailyMenuWeight1.$value}} ml</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day3food1.$value}}
                                                <b ng-hide="!day3allergens1.$value"> ({{day3allergens1.$value}}) </b>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day3food2.$value">
                                        <td class="item-title">
                                            <p translate>food2</p>
                                            <span>{{dailyMenuWeight2.$value}} g</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day3food2.$value}}
                                                <b ng-hide="!day3allergens2.$value"> ({{day3allergens2.$value}}) </b>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day3food3.$value">
                                        <td class="item-title">
                                            <p translate>food3</p>
                                            <span>{{dailyMenuWeight3.$value}} g</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day3food3.$value}}
                                                <b ng-hide="!day3allergens3.$value"> ({{day3allergens3.$value}}) </b>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="daily-menu-item"
                                ng-hide="!day4food2.$value || todayName == 'friday' || todayName == 'saturday'"
                                ng-class="{'today': todayName == 'thursday'}">
                                <table>
                                    <tr class="menu-day">
                                        <td>
                                            <h5 class="dayname" translate>thursday</h5>
                                            <h5 class="todays" translate>today</h5>
                                        </td>
                                        <td>
                                        </td>
                                        <td colspan="1">
                                            <h5 class="date">{{day4Date.$value}}</h5>
                                        </td>
                                    </tr>
                                    <tr ng-if="day4food1.$value">
                                        <td class="item-title">
                                            <p translate>food1</p>
                                            <span>{{dailyMenuWeight1.$value}} ml</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day4food1.$value}}
                                                <b ng-hide="!day4allergens1.$value"> ({{day4allergens1.$value}}) </b>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day4food2.$value">
                                        <td class="item-title">
                                            <p translate>food2</p>
                                            <span>{{dailyMenuWeight2.$value}} g</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day4food2.$value}}
                                                <b ng-hide="!day4allergens2.$value"> ({{day4allergens2.$value}}) </b>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day4food3.$value">
                                        <td class="item-title">
                                            <p translate>food3</p>
                                            <span>{{dailyMenuWeight3.$value}} g</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day4food3.$value}}
                                                <b ng-hide="!day4allergens3.$value"> ({{day4allergens3.$value}}) </b>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="daily-menu-item" ng-hide="!day5food2.$value || todayName == 'saturday' "
                                ng-class="{'today': todayName == 'friday'}">
                                <table>
                                    <tr class="menu-day">
                                        <td>
                                            <h5 class="dayname" translate>friday</h5>
                                            <h5 class="todays" translate>today</h5>
                                        </td>
                                        <td>
                                        </td>
                                        <td colspan="1">
                                            <h5 class="date">{{day5Date.$value}}</h5>
                                        </td>
                                    </tr>
                                    <tr ng-if="day5food1.$value">
                                        <td class="item-title">
                                            <p translate>food1</p>
                                            <span>{{dailyMenuWeight1.$value}} ml</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day5food1.$value}}
                                                <b ng-hide="!day5allergens3.$value"> ({{day5allergens1.$value}}) </b>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day5food2.$value">
                                        <td class="item-title">
                                            <p translate>food2</p>
                                            <span>{{dailyMenuWeight2.$value}} g</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day5food2.$value}}
                                                <b ng-hide="!day5allergens2.$value"> ({{day5allergens2.$value}}) </b>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr ng-if="day5food3.$value">
                                        <td class="item-title">
                                            <p translate>food3</p>
                                            <span>{{dailyMenuWeight3.$value}} g</span>
                                        </td>
                                        <td colspan="2">
                                            <p>{{day5food3.$value}}
                                                <b ng-hide="!day5allergens3.$value"> ({{day5allergens3.$value}}) </b>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </section>

                <!--<section class="content-main empty bg bg-interier">-->
                <!--</section>-->

                <section id="book" class="content-main bg bg-black">
                    <h1 class="main-title color-white" translate>book.now</h1>

                    <div class="small-line"></div>

                    <div class="book-form">
                        <form name="restaurantBookForm" role="form">

                            <div class="book-wrap" ng-hide="bookFinnish">
                                <div class="row">


                                    <div class="wrap four">
                                        <label for="date" class="wrap four label">
                                            <ng-md-icon icon="date_range"
                                                style="display: inline-block; position: relative; fill: #f5eddc;"
                                                size="25px"></ng-md-icon>
                                            <span translate>date</span>
                                        </label>
                                        <div class="input-wrap">
                                            <datepicker date-format="dd.MM.yyyy" date-week-start-day="1"
                                                datepicker-mobile="true">
                                                <input id="date" class="date" type="text" ng-model="date"
                                                    placeholder="{{today}}" tabindex="1" required />
                                            </datepicker>
                                        </div>
                                    </div>


                                    <div class="wrap four">
                                        <label for="time" class="wrap four label">
                                            <ng-md-icon icon="access_time"
                                                style="display: inline-block; position: relative; fill: #f5eddc;"
                                                size="25px"></ng-md-icon>
                                            <span translate>time</span>
                                        </label>
                                        <div class="input-wrap">
                                            <input id="time" name="timer" class="time timepicker" type="text"
                                                tabindex="2" ng-model="timer" ng-class="{'ng-invalid' : invalidTime }"
                                                ng-change="showTimer(timer);" required />
                                            <span class="warning" ng-show="invalidTime"
                                                translate>this.time.is.close</span>
                                        </div>
                                    </div>


                                    <div class="wrap four">
                                        <label for="amount" class="wrap four label">
                                            <ng-md-icon icon="group"
                                                style="display: inline-block; position: relative; fill: #f5eddc;"
                                                size="25px"></ng-md-icon>
                                            <span translate>amount</span>
                                        </label>
                                        <div class="input-wrap">
                                            <input id="amount" name="amount" type="text" placeholder="1-200"
                                                ng-model="amount" tabindex="3" required />
                                        </div>
                                    </div>



                                    <div class="wrap four">
                                        <label for="room-type" class="wrap four label">
                                            <ng-md-icon icon="local_restaurant"
                                                style="display: inline-block; position: relative; fill: #f5eddc;"
                                                size="25px"></ng-md-icon>
                                            <span translate>room.type</span>
                                        </label>
                                        <div class="input-wrap">
                                            <select id="room-type" name="room" ng-model="room" tabindex="4" required>
                                                <option value="" disabled selected hidden translate>select</option>
                                                <option value="nezalezi" selected translate>Nezáleži</option>
                                                <option value="pivonice" translate>lounge.name.2</option>
                                                <option value="pivobanka" translate>lounge.name.3</option>
                                                <option value="likerka" translate>lounge.name.4</option>
                                                <option value="komorka" translate>lounge.name.5</option>
                                                <option value="galerka" translate>lounge.name.6</option>
                                                <option value="zahradka" translate>lounge.name.7</option>
                                                <option value="hudobka" translate>lounge.name.8</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="wrap">
                                        <label class="wrap label" for="name">
                                            <ng-md-icon icon="person"
                                                style="display: inline-block; position: relative; fill: #f5eddc;"
                                                size="25px"></ng-md-icon>
                                            <span translate>name.and.surname</span>
                                        </label>
                                        <div class="input-wrap">
                                            <input id="name" type="text" name="name" ng-model="name"
                                                class="form-control" tabindex="5" required />
                                        </div>
                                    </div>


                                    <div class="wrap">
                                        <label for="email" class="wrap label">
                                            <ng-md-icon icon="email"
                                                style="display: inline-block; position: relative; fill: #f5eddc;"
                                                size="25px"></ng-md-icon>
                                            <span translate>email</span>
                                        </label>
                                        <div class="input-wrap">
                                            <input id="email" type="email" name="email" ng-model="email"
                                                class="form-control" tabindex="6" required />
                                        </div>
                                    </div>


                                    <div class="wrap">
                                        <label for="phone" class="wrap label">
                                            <ng-md-icon icon="phone"
                                                style="display: inline-block; position: relative; fill: #f5eddc;"
                                                size="25px"></ng-md-icon>
                                            <span translate>phone.number</span>
                                        </label>
                                        <div class="input-wrap">
                                            <input id="phone" type="text" name="phone" ng-model="phone" tabindex="7" />
                                        </div>
                                    </div>


                                    <div class="wrap">
                                        <label for="text" class="wrap label">
                                            <ng-md-icon icon="textsms"
                                                style="display: inline-block; position: relative; fill: #f5eddc;"
                                                size="25px"></ng-md-icon>
                                            <span translate>note</span>
                                        </label>
                                        <div class="input-wrap">
                                            <input id="text" type="text" name="text" ng-model="addText" tabindex="8" />
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="booking-done" ng-show="bookFinnish">
                                <ng-md-icon icon="check_circle" style="display: block; position: relative;
                                            background: #78fa89; border-radius: 50%;
                                            width: 150px; height:150px;fill: rgb(43, 42, 41);" size="150"></ng-md-icon>
                                <h4 translate>booking.text.1</h4>
                                <h4 translate>booking.text.2</h4>
                            </div>

                            <div class="book-wrap" ng-hide="bookFinnish || loader || showError"
                                style="margin: 1em auto;">
                                <div class="row">
                                    <input type="checkbox" name="suhlas" id="suhlas" ng-model="suhlas" required>
                                    <label class="wrap label gdpr-label check" for="suhlas">
                                        <p translate>gdpr.text.normal</p>
                                        <a ng-href="#!/gdpr" target="_self" translate>privacy.policy</a>
                                    </label>
                                </div>
                            </div>

                            <div class="book-wrap" ng-hide="bookFinnish">
                                <div class="actions">
                                    <p class="link-button phone" ng-hide="restaurantBookForm.$valid" translate>
                                        please.fill.all.data
                                    </p>
                                    <button ng-click="formsubmit(restaurantBookForm)"
                                        ng-disabled="!restaurantBookForm.$valid" class="btn-next btn-submit"
                                        tabindex="9">
                                        <ng-md-icon icon="check" style="white" size="20"></ng-md-icon>
                                        <span translate>book.now</span>
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </section>


                <section id="hours" class="content-main bg bg-white">
                    <div class="content-main">
                        <h1 class="main-title" translate>open.hours</h1>
                        <div class="small-line"></div>

                        <div class="hours">
                            <div class="day monday" ng-class="{'today' : todayName == 'monday' }">
                                <span translate>monday</span>
                                <span class="time1">{{restMonTimeFrom.$value}}</span>
                                <span class="time2">{{restMonTimeTo.$value}}</span>
                            </div>
                            <div class="day tuesday" ng-class="{'today' : todayName == 'tuesday' }">
                                <span translate>tuesday</span>
                                <span class="time1">{{restTueTimeFrom.$value}}</span>
                                <span class="time2">{{restTueTimeTo.$value}}</span>
                            </div>
                            <div class="day wednesday" ng-class="{'today' : todayName == 'wednesday' }">
                                <span translate>wednesday</span>
                                <span class="time1">{{restWedTimeFrom.$value}}</span>
                                <span class="time2">{{restWedTimeTo.$value}}</span>
                            </div>
                            <div class="day thursday" ng-class="{'today' : todayName == 'thursday' }">
                                <span translate>thursday</span>
                                <span class="time1">{{restThuTimeFrom.$value}}</span>
                                <span class="time2">{{restThuTimeTo.$value}}</span>
                            </div>
                            <div class="day friday" ng-class="{'today' : todayName == 'friday' }">
                                <span translate>friday</span>
                                <span class="time1">{{restFriTimeFrom.$value}}</span>
                                <span class="time2">{{restFriTimeTo.$value}}</span>
                            </div>
                            <div class="day saturday" ng-class="{'today' : todayName == 'saturday' }">
                                <span translate>saturday</span>
                                <span class="time1">{{restSatTimeFrom.$value}}</span>
                                <span class="time2">{{restSatTimeTo.$value}}</span>
                            </div>
                            <div class="day sunday" ng-class="{'today' : todayName == 'sunday' }">
                                <span translate>sunday</span>
                                <span class="time1">{{restSunTimeFrom.$value}}</span>
                                <span class="time2">{{restSunTimeTo.$value}}</span>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="contact" class="content-main content-kontakt bg bg-beige">
                    <h1 class="main-title color-white" translate>contact</h1>
                    <div class="small-line white"></div>
                    <div class="info">
                        <div class="item">
                            <ng-md-icon icon="settings_phone" class="icon"
                                style="display: block; position: relative; margin: 0 auto; fill: #2b2a29;" size="3em">
                            </ng-md-icon>
                            <a href="tel:00421948828727" target="_self">(+421) 0948 828 727</a>
                        </div>
                        <div class="item">
                            <ng-md-icon icon="mail_outline" class="icon"
                                style="display: block; position: relative; margin: 0 auto; fill: #2b2a29;" size="3em">
                            </ng-md-icon>
                            <a href="mailto:restaurant&#64minipivovartatras&#46sk" class="email"
                                target="_self">restaurant@minipivovartatras.sk</a>
                        </div>


                        <div class="item" style="padding-top: 1em;">
                            <ng-md-icon icon="facebook" class="icon"
                                style="display: block; position: relative; margin: 0 auto; fill: #2b2a29;" size="3em">
                            </ng-md-icon>
                            <a href="https://www.facebook.com/minipivovartatras" class="email"
                                target="_blank">facebook</a>
                        </div>
                        <div class="item" style="padding-top: 1em;">
                            <img src="/components/assets/imgs/icons/instagram.svg"
                                style="display: block; width: 3em; margin: 0.5em auto;" />
                            <a href="https://www.instagram.com/restauracnyminipivovartatras/" class="email"
                                target="_blank">instagram</a>
                        </div>
                        <div class="item" style="padding-top: 1em;">
                            <img src="/components/assets/imgs/tripadvisor.png"
                                style="display: block; height: 4em; margin: 0 auto;" />
                            <a href="https://www.tripadvisor.sk/Restaurant_Review-g274938-d11948183-Reviews-Restauracny_minipivovar_TATRAS-Poprad_Presov_Region.html"
                                class="email" target="_blank">tripadvisor Reviews</a>
                        </div>
                    </div>
                </section>

                <!-- include FOOTER -->
                <div ng-include="'templates/footer.html'"></div>
                <!-- end of FOOTER include -->

            </div>
        </div>
    </div>
</div>