<div class="loading" ng-class="{'close': !isloading}">
    <div class="loading-wrap">
        <div class="loading-align">
            <div class="loading-content">
                <div class="loading-logo"></div>
                <div class="loading-progress" ng-class="{'load': isloading}">
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-cloak class="wrapper" ng-class="{'init': isloading}">

    <!-- include LEFT-NAVI -->
    <div ng-include="'templates/left.html'"></div>
    <!-- end of LEFT-NAVI include -->

    <div class="fake-left"></div>

    <div class="right">
        <div class="sub-menu" ng-class="{'open': openMobileMenu}">
            <div>
                <ul>
                    <li du-scrollspy="category"><span du-smooth-scroll="category" ng-click="closeMenu()" translate>perfect.relax</span>
                    </li>
                    <li du-scrollspy="info"><span du-smooth-scroll="info" ng-click="closeMenu()"
                                                  translate>treatment</span></li>
                    <!--<li du-scrollspy="massage"><span du-smooth-scroll="massage" ng-click="closeMenu()"-->
                                                     <!--translate>massages</span></li>-->
                    <li du-scrollspy="sauna"><span du-smooth-scroll="sauna" ng-click="closeMenu()"
                                                   translate>sauna</span>
                    </li>
                    <li du-scrollspy="book"><span du-smooth-scroll="book" ng-click="closeMenu()"
                                                  translate>book.now</span></li>
                    <li du-scrollspy="hours"><span du-smooth-scroll="hours" ng-click="closeMenu()"
                                                   translate>open.hours</span></li>
                    <li du-scrollspy="contact"><span du-smooth-scroll="contact" ng-click="closeMenu()"
                                                     translate>contact</span></li>
                </ul>
            </div>
        </div>

        <div class="right-content">
            <div class="top-nav">
                <button class="hamburger hamburger--collapse" type="button" ng-click="mobileMenu()">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                </button>
                <div class="top-bar-logo">
                </div>
                <div class="call">
                    <a href="tel:00421948028025" target="_self" name="call-us" class="btn-book" >
                        <ng-md-icon icon="call" style="fill: #f5eddc" size="30"></ng-md-icon>
                    </a>
                </div>
            </div>

            <div class="content-wrapper">
                <section id="spa" class="content-main bg bg-spa-3 flex-nopadding"
                         ng-style="{height: displayHeight + 'px'}">
                    <div class="center-wrap">
                        <div class="category-logo-wrap">
                            <div class="category-logo">
                                <h2 class="category-title" translate>{{categoryName}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="stick-bottom">
                        <span du-smooth-scroll="category"></span>
                    </div>
                </section>

                <!-- category -->
                <section id="category" class="content-main bg-100">
                    <h1 class="main-title" translate>perfect.relax</h1>
                    <div class="small-line"></div>
                    <p class="content-text">
                        <span class="odsek"></span>
                            <span translate>spa.text.1</span>
                            <button class="btn show-more" ng-hide="showMoreRelax == true" ng-click="doShowMoreRelax();" translate>show.more</button>
                        <br>
                        <br>
                        <b ng-show="showMoreRelax == true" style="font-weight: lighter;">
                            <span class="odsek"></span>
                            <span translate>spa.text.2</span>
                            <br><br>
                            <span class="odsek"></span>
                            <span translate>spa.text.3</span>
                            <br><br>
                            <span class="odsek"></span>
                            <span translate>spa.text.4</span>
                        </b>
                    </p>
                </section>

                <section class="content-main empty bg bg-spa-4">
                </section>

                <!-- info -->
                <section id="info" class="content-main bg-white">

                    <h1 class="main-title" translate>spa.treatment</h1>
                    <div class="small-line"></div>

                    <div class="spa-box">
                        <ng-md-icon icon="done"
                                    style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"
                                    size="20"></ng-md-icon>
                        <h4 translate>sauna</h4>
                        <span translate>spa.treatment.1</span>

                        <ng-md-icon icon="done"
                                    style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"
                                    size="20"></ng-md-icon>
                        <h4 translate>ice.tube</h4>
                        <span translate>spa.treatment.2</span>

                        <ng-md-icon icon="done"
                                    style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"
                                    size="20"></ng-md-icon>
                        <h4 translate>beer.bath</h4>
                        <span translate>spa.treatment.3</span>

                        <ng-md-icon icon="done"
                                    style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"
                                    size="20"></ng-md-icon>
                        <h4 translate>tapping.of.beer</h4>
                        <span translate>spa.treatment.4</span>

                        <ng-md-icon icon="done"
                                    style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"
                                    size="20"></ng-md-icon>
                        <h4 translate>oat.bed</h4>
                        <span translate>spa.treatment.5</span>

                        <!--<ng-md-icon icon="access_time"-->
                                    <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"-->
                                    <!--size="20"></ng-md-icon>-->
                        <!--<h4 translate>{{spaLiTime}} </h4>-->
                    </div>
                    
                    <br><br>
                    <div class="boxer">
                        <div class="spa-box">
                            <div class="prices-box">
                                <h4 translate>spa.treatment</h4>
                                <div>
                                    <ng-md-icon icon="access_time"
                                                style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"
                                                size="20"></ng-md-icon>
                                    <span>{{spaLiTime}}</span>
                                </div>

                                <div class="price">
                                    <span>{{spaPrice1.$value}} - {{spaPrice14.$value}} €</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="row">
                        <div class="col-xs-12 col-md-2"></div>
                        <div class="col-xs-12 col-md-8 no-padding">
                            <div class="table-responsive">
                                <table id="prices-spa" class="table table-bordered prices">
                                    <tbody>
                                    <tr>
                                        <td  rowspan="2" colspan="2">
                                            <h4 translate>price.list</h4>

                                        </td>
                                        <td colspan="4">
                                            <h3><span translate>bathtubs</span></h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><h3><span>1 </span></h3></td>
                                        <td class="text-center"><h3><span>2 </span></h3></td>
                                        <td class="text-center"><h3><span>3 </span></h3></td>
                                        <td class="text-center"><h3><span>4 </span></h3></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="8">
                                            <h3 class="rotate"><span translate>people</span></h3>
                                        </td>
                                        <td>
                                            <h3><span>1 </span></h3>
                                        </td>
                                        <td>
                                            <h2>&euro; {{spaPrice1.$value}}</h2>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3><span>2 </span></h3>
                                        </td>
                                        <td>
                                            <h2>&euro; {{spaPrice2.$value}}</h2>
                                        </td>
                                        <td>
                                            <h2>&euro; {{spaPrice3.$value}}</h2>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3><span>3</span></h3>
                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            <h2>&euro; {{spaPrice4.$value}}</h2>
                                        </td>
                                        <td>
                                            <h2>&euro; {{spaPrice5.$value}}</h2>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3><span>4</span></h3>
                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            <h2>&euro; {{spaPrice6.$value}}</h2>
                                        </td>
                                        <td>
                                            <h2>&euro; {{spaPrice7.$value}}</h2>
                                        </td>
                                        <td>
                                            <h2>&euro; {{spaPrice8.$value}}</h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3><span>5 </span></h3>
                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                            <h2>&euro; {{spaPrice9.$value}}</h2>
                                        </td>
                                        <td>
                                            <h2>&euro; {{spaPrice10.$value}}</h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3><span>6</span></h3>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                            <h2>&euro; {{spaPrice11.$value}}</h2>
                                        </td>
                                        <td>
                                            <h2>&euro; {{spaPrice12.$value}}</h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3><span>7</span></h3>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                            <h2>&euro; {{spaPrice13.$value}}</h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3><span>8</span></h3>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                            <h2>&euro; {{spaPrice14.$value}}</h2>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-2"></div>
                    </div>
                </section>

                <!--<section class="content-main empty bg bg-spa-massage">-->
                <!--</section>-->

                <!--&lt;!&ndash; massages &ndash;&gt;-->
                <!--<section id="massage" class="content-main bg-100">-->
                    <!--<h1 class="main-title" translate>massages</h1>-->
                    <!--<div class="small-line"></div>-->
                    <!--<p class="content-text">-->
                        <!--<span class="odsek"></span>{{massageText1}}-->
                    <!--</p>-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<div class="boxer">-->
                        <!--<div class="spa-box">-->
                            <!--<h4 translate>Klasická masáž</h4>-->
                            <!--<span>{{massageText2}}</span>-->
                            <!--<div class="prices-box">-->
                                <!--<div>-->
                                    <!--<ng-md-icon icon="access_time"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"-->
                                                <!--size="20"></ng-md-icon>-->
                                    <!--<span>{{massage1Time1.$value}} min</span>-->
                                <!--</div>-->

                                <!--<div class="price">-->
                                    <!--<ng-md-icon icon="euro_symbol"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #e0232e;"-->
                                                <!--size="30"></ng-md-icon>-->
                                    <!--<span>{{massage1Price1.$value}}</span>-->
                                <!--</div>-->
                                <!--<div>-->
                                    <!--<ng-md-icon icon="access_time"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"-->
                                                <!--size="20"></ng-md-icon>-->
                                    <!--<span>{{massage1Time2.$value}} min</span>-->
                                <!--</div>-->

                                <!--<div class="price">-->
                                    <!--<ng-md-icon icon="euro_symbol"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #e0232e;"-->
                                                <!--size="30"></ng-md-icon>-->
                                    <!--<span>{{massage1Price2.$value}}</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="spa-box">-->
                            <!--<button class="btn show-more" ng-click="toggle=!toggle">{{toggle ? 'Menej' : 'Zobraziť viac'}}</button>-->
                        <!--</div>-->


                        <!--<div class="spa-box" ng-show="toggle">-->
                            <!--<h4 translate>Intuitívna masáž</h4>-->
                            <!--<span>{{massageText3}}</span>-->

                            <!--<div class="prices-box">-->
                                <!--<div>-->
                                    <!--<ng-md-icon icon="access_time"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"-->
                                                <!--size="20"></ng-md-icon>-->
                                    <!--<span>{{massage2Time1.$value}} min</span>-->
                                <!--</div>-->

                                <!--<div class="price">-->
                                    <!--<ng-md-icon icon="euro_symbol"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #e0232e;"-->
                                                <!--size="30"></ng-md-icon>-->
                                    <!--<span>{{massage2Price1.$value}}</span>-->
                                <!--</div>-->
                                <!--<div>-->
                                    <!--<ng-md-icon icon="access_time"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"-->
                                                <!--size="20"></ng-md-icon>-->
                                    <!--<span>{{massage2Time2.$value}} min</span>-->
                                <!--</div>-->

                                <!--<div class="price">-->
                                    <!--<ng-md-icon icon="euro_symbol"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #e0232e;"-->
                                                <!--size="30"></ng-md-icon>-->
                                    <!--<span>{{massage2Price2.$value}}</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="spa-box" ng-show="toggle">-->
                            <!--<h4 translate>Bankovanie</h4>-->
                            <!--<span>{{massageText4}}</span>-->
                            <!--<div class="prices-box">-->
                                <!--<div>-->
                                    <!--<ng-md-icon icon="access_time"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"-->
                                                <!--size="20"></ng-md-icon>-->
                                    <!--<span>{{massage3Time1.$value}} min</span>-->
                                <!--</div>-->

                                <!--<div class="price">-->
                                    <!--<ng-md-icon icon="euro_symbol"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #e0232e;"-->
                                                <!--size="30"></ng-md-icon>-->
                                    <!--<span>{{massage3Price1.$value}}</span>-->
                                <!--</div>-->
                                <!--<div>-->
                                    <!--<ng-md-icon icon="access_time"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"-->
                                                <!--size="20"></ng-md-icon>-->
                                    <!--<span>{{massage3Time2.$value}} min</span>-->
                                <!--</div>-->

                                <!--<div class="price">-->
                                    <!--<ng-md-icon icon="euro_symbol"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #e0232e;"-->
                                                <!--size="30"></ng-md-icon>-->
                                    <!--<span>{{massage3Price2.$value}}</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="spa-box" ng-show="toggle">-->
                            <!--<h4 translate>Relaxačná / Aromatická masáž</h4>-->
                            <!--<span>{{massageText5}}</span>-->
                            <!--<div class="prices-box">-->
                                <!--<div>-->
                                    <!--<ng-md-icon icon="access_time"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"-->
                                                <!--size="20"></ng-md-icon>-->
                                    <!--<span>{{massage4Time1.$value}} min</span>-->
                                <!--</div>-->

                                <!--<div class="price">-->
                                    <!--<ng-md-icon icon="euro_symbol"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #e0232e;"-->
                                                <!--size="30"></ng-md-icon>-->
                                    <!--<span>{{massage4Price1.$value}}</span>-->
                                <!--</div>-->
                                <!--<div>-->
                                    <!--<ng-md-icon icon="access_time"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"-->
                                                <!--size="20"></ng-md-icon>-->
                                    <!--<span>{{massage4Time2.$value}} min</span>-->
                                <!--</div>-->

                                <!--<div class="price">-->
                                    <!--<ng-md-icon icon="euro_symbol"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #e0232e;"-->
                                                <!--size="30"></ng-md-icon>-->
                                    <!--<span>{{massage4Price2.$value}}</span>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                        <!--<div class="spa-box" ng-show="toggle">-->
                            <!--<h4 translate>Športová masáž</h4>-->
                            <!--<span>{{massageText6}}</span>-->
                            <!--<div class="prices-box">-->
                                <!--<div>-->
                                    <!--<ng-md-icon icon="access_time"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"-->
                                                <!--size="20"></ng-md-icon>-->
                                    <!--<span>{{massage5Time1.$value}} min</span>-->
                                <!--</div>-->

                                <!--<div class="price">-->
                                    <!--<ng-md-icon icon="euro_symbol"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #e0232e;"-->
                                                <!--size="30"></ng-md-icon>-->
                                    <!--<span>{{massage5Price1.$value}}</span>-->
                                <!--</div>-->
                                <!--<div>-->
                                    <!--<ng-md-icon icon="access_time"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"-->
                                                <!--size="20"></ng-md-icon>-->
                                    <!--<span>{{massage5Time2.$value}} min</span>-->
                                <!--</div>-->

                                <!--<div class="price">-->
                                    <!--<ng-md-icon icon="euro_symbol"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #e0232e;"-->
                                                <!--size="30"></ng-md-icon>-->
                                    <!--<span>{{massage5Price2.$value}}</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="spa-box" ng-show="toggle">-->
                            <!--<h4 translate>Myofasciálna masáž</h4>-->
                            <!--<span>{{massageText7}}</span>-->
                            <!--<div class="prices-box">-->
                                <!--<div>-->
                                    <!--<ng-md-icon icon="access_time"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"-->
                                                <!--size="20"></ng-md-icon>-->
                                    <!--<span>{{massage6Time1.$value}} min</span>-->
                                <!--</div>-->

                                <!--<div class="price">-->
                                    <!--<ng-md-icon icon="euro_symbol"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #e0232e;"-->
                                                <!--size="30"></ng-md-icon>-->
                                    <!--<span>{{massage6Price1.$value}}</span>-->
                                <!--</div>-->
                                <!--<div>-->
                                    <!--<ng-md-icon icon="access_time"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #000;"-->
                                                <!--size="20"></ng-md-icon>-->
                                    <!--<span>{{massage6Time2.$value}} min</span>-->
                                <!--</div>-->

                                <!--<div class="price">-->
                                    <!--<ng-md-icon icon="euro_symbol"-->
                                                <!--style="display: inline-block; position: relative; margin: 0 auto; fill: #e0232e;"-->
                                                <!--size="30"></ng-md-icon>-->
                                    <!--<span>{{massage6Price2.$value}}</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->



                    <!--</div>-->
                    <!--<p><span class="odsek"></span>{{massageText8}}</p>-->

                <!--</section>-->

                <section class="content-main empty bg bg-spa-2">
                </section>

                <!-- sauna -->
                <section id="sauna" class="content-main bg-100">
                    <h1 class="main-title" translate>Sauna</h1>
                    <div class="small-line"></div>
                    <div class="boxer">
                        <div class="spa-box">
                            <span translate>spa.treatment.1</span>
                            <div class="prices-box">
                                    <h4 translate>price</h4>
                                    <span>{{saunaTime.$value}} min</span>

                                <div class="price">
                                    <span>{{saunaPrice.$value}} €</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- book -->
                <section id="book" class="content-main bg bg-black">
                    <h1 class="main-title color-white" translate>book.now</h1>

                    <div class="small-line white"></div>

                    <div class="book-form">
                        <form name="spaBookForm" role="form">

                            <div class="book-wrap" ng-hide="bookFinnish">

                                <div class="row">
                                    <label class="wrap four label" for="treatment">
                                        <ng-md-icon icon="spa"
                                                    style="display: inline-block; position: relative; fill: #f5eddc;"
                                                    size="25px"></ng-md-icon>
                                        <span translate>treatment</span>
                                    </label>
                                    <div class="wrap four">
                                        <div class="input-wrap select">
                                            <!--<select id="treatment" name="treatment"-->
                                            <!--ng-model="treatment" ng-change="showPrice()"-->
                                            <!--ng-options= "treatment.no as treatment.type for treatment in treatments">-->
                                            <!--</select>-->

                                            <select id="treatment" name="treatment" ng-model="treatment"
                                                    ng-change="checkPrices()" required>
                                                <option value="" disabled selected hidden translate>select</option>
                                                <option value="1" translate>wellness</option>
                                                <option value="2" translate>Sauna</option>
                                                <!--<option value="3" translate>massages</option>-->
                                            </select>
                                        </div>
                                    </div>



                                    <label class="wrap four label" for="amount2" ng-show="treatment == 3">
                                        <ng-md-icon icon="space_bar"
                                                    style="display: inline-block; position: relative; fill: #f5eddc;"
                                                    size="25px"></ng-md-icon>
                                        <span translate>type.of.massage</span>
                                    </label>
                                    <div class="wrap four" ng-show="treatment == 3">
                                        <div class="input-wrap select">
                                            <select id="massageType" name="massageType" ng-model="massageType"
                                                    ng-change="checkPrices()">
                                                <option value="" disabled selected hidden translate>select</option>
                                                <option value="1" translate>classic.massage.short</option>
                                                <option value="2" translate>classic.massage.long</option>
                                                <option value="3" translate>intuitive.massage.short</option>
                                                <option value="4" translate>intuitive.massage.long</option>
                                                <option value="5" translate>aromatic.massage.short</option>
                                                <option value="6" translate>aromatic.massage.long</option>
                                                <option value="7" translate>sport.massage.short</option>
                                                <option value="8" translate>sport.massage.long</option>
                                                <option value="9" translate>myofascial.massage.short</option>
                                                <option value="10" translate>myofascial.massage.long</option>
                                                <option value="11" translate>bankovanie.short</option>
                                                <option value="12" translate>bankovanie.long</option>
                                            </select>
                                        </div>
                                    </div>


                                    <label class="wrap four label" for="amount">
                                        <ng-md-icon icon="group"
                                                    style="display: inline-block; position: relative; fill: #f5eddc;"
                                                    size="25px"></ng-md-icon>
                                        <span translate>number.of.persons</span>
                                    </label>
                                    <div class="wrap four">
                                        <div class="wrap four">
                                            <div class="input-wrap select">

                                                <select id="amount" name="amount" ng-model="amount"
                                                        ng-init="checkPrices()" ng-change="checkPrices()" required>
                                                    <option value="" disabled selected hidden translate>select</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option ng-if="treatment == 1 || treatment == 2" value="3">3
                                                    </option>
                                                    <option ng-if="treatment == 1 || treatment == 2" value="4">4
                                                    </option>
                                                    <option ng-if="treatment == 1 || treatment == 2" value="5">5
                                                    </option>
                                                    <option ng-if="treatment == 1" value="6">6</option>
                                                    <option ng-if="treatment == 1" value="7">7</option>
                                                    <option ng-if="treatment == 1" value="8">8</option>
                                                </select>


                                            </div>
                                        </div>
                                    </div>
                                    <label class="wrap four label" for="amount2" ng-show="treatment == 1">
                                        <ng-md-icon icon="space_bar"
                                                    style="display: inline-block; position: relative; fill: #f5eddc;"
                                                    size="25px"></ng-md-icon>
                                        <span translate>number.of.bathtubs</span>
                                    </label>
                                    <div class="wrap four" ng-show="treatment == 1">
                                        <div class="input-wrap select">

                                            <!--<select id="amount2" ng-model="filterCondition.bath" ng-change="checkPrices()">-->
                                            <!--<option ng-selected="{{bath.value == filterCondition.bath}}"-->
                                            <!--ng-repeat="bath in baths"-->
                                            <!--value="{{bath.value}}" translate>-->
                                            <!--{{bath.displayName}}-->
                                            <!--</option>-->
                                            <!--</select>-->

                                            <select id="amount2" name="amount2" ng-model="amount2"
                                                    ng-change="checkPrices()" ng-required="treatment == 1">
                                                <option value="" disabled selected hidden translate>select</option>
                                                <option ng-if="amount >= 1 && amount <= 2" value="1">1</option>
                                                <option ng-if="amount >= 2 && amount <= 4" value="2">2</option>
                                                <option ng-if="amount >= 3 && amount <= 6" value="3">3</option>
                                                <option ng-if="amount >= 4 && amount <= 8" value="4">4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!-- time and Date -->
                                <div class="row">
                                    <label class="wrap four label" for="date">
                                        <ng-md-icon icon="date_range"
                                                    style="display: inline-block; position: relative; fill: #f5eddc;"
                                                    size="25px"></ng-md-icon>
                                        <span translate>date</span>
                                    </label>
                                    <div class="wrap four">
                                        <div class="input-wrap">
                                            <datepicker date-format="MM/dd/yyyy" date-week-start-day="1"
                                                        datepicker-mobile="true">
                                                <input id="date" class="date" type="text" ng-model="date"
                                                       placeholder="* vyberte" ng-change="checkTimes()" required/>
                                            </datepicker>
                                        </div>
                                    </div>

                                    <label class="wrap four label" for="termin" ng-show="dateSelected">
                                        <ng-md-icon icon="access_time"
                                                    style="display: inline-block; position: relative; fill: #f5eddc;"
                                                    size="25px"></ng-md-icon>
                                        <span translate>time</span>
                                    </label>
                                    <div class="wrap four" ng-show="dateSelected">
                                        <div class="input-wrap select">
                                            <select id="termin" name="termin" ng-model="termin" required ng-hide="hideMeAll">
                                                <option value="" disabled selected hidden translate>select</option>
                                                <option ng-if="spaTime1.$value" ng-hide="hideMe1" value="{{spaTime1.$value}}">
                                                    {{spaTime1.$value}}
                                                </option>
                                                <option ng-if="spaTime2.$value" ng-hide="hideMe2" value="{{spaTime2.$value}}">
                                                    {{spaTime2.$value}}
                                                </option>
                                                <option ng-if="spaTime3.$value" ng-hide="hideMe3" value="{{spaTime3.$value}}">
                                                    {{spaTime3.$value}}
                                                </option>
                                                <option ng-if="spaTime4.$value" ng-hide="hideMe4" value="{{spaTime4.$value}}">
                                                    {{spaTime4.$value}}
                                                </option>
                                                <option ng-if="spaTime5.$value" ng-hide="hideMe5" value="{{spaTime5.$value}}">
                                                    {{spaTime5.$value}}
                                                </option>
                                                <option ng-if="spaTime6.$value" ng-hide="hideMe6" value="{{spaTime6.$value}}">
                                                    {{spaTime6.$value}}
                                                </option>
                                                <option ng-if="spaTime7.$value" ng-hide="hideMe7" value="{{spaTime7.$value}}">
                                                    {{spaTime7.$value}}
                                                </option>
                                            </select>
                                            <p ng-show="hideMeAll" class="alert" translate>select.other.day</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="time-table" ng-hide="!treatment || !amount || !selectedDate || bookFinnish">
                                <h4 translate>select.time</h4>
                                <div class="time-wrap">
                                    <div ng-if="spaTime1.$value">
                                        <button>{{spaTime1.$value}}</button>
                                    </div>
                                    <div ng-if="spaTime2.$value">
                                        <button>{{spaTime2.$value}}</button>
                                    </div>
                                    <div ng-if="spaTime3.$value">
                                        <button class="unavailable">{{spaTime3.$value}}</button>
                                    </div>
                                    <div ng-if="spaTime4.$value">
                                        <button>{{spaTime4.$value}}</button>
                                    </div>
                                    <div ng-if="spaTime5.$value">
                                        <button class="unavailable">{{spaTime5.$value}}</button>
                                    </div>
                                    <div ng-if="spaTime6.$value">
                                        <button>{{spaTime6.$value}}</button>
                                    </div>
                                    <div ng-if="spaTime7.$value">
                                        <button class="unavailable">{{spaTime7.$value}}</button>
                                    </div>

                                </div>
                            </div>

                            <div class="book-wrap" ng-hide="bookFinnish">

                                <div class="row">

                                    <label class="wrap label" for="name">
                                        <ng-md-icon icon="person"
                                                    style="display: inline-block; position: relative; fill: #f5eddc;"
                                                    size="25px"></ng-md-icon>
                                        <span translate>name.and.surname</span>
                                    </label>
                                    <div class="wrap">
                                        <div class="input-wrap input">
                                            <input id="name" type="text" name="name" ng-model="name"
                                                   class="form-control" required/>
                                        </div>
                                    </div>
                                    <label class="wrap label" for="email">
                                        <ng-md-icon icon="email"
                                                    style="display: inline-block; position: relative; fill: #f5eddc;"
                                                    size="25px"></ng-md-icon>
                                        <span translate>email</span>
                                    </label>
                                    <div class="wrap">
                                        <div class="input-wrap input">
                                            <input id="email" type="email" name="email" ng-model="email"
                                                   class="form-control" required/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="wrap label" for="phone">
                                        <ng-md-icon icon="phone"
                                                    style="display: inline-block; position: relative; fill: #f5eddc;"
                                                    size="25px"></ng-md-icon>
                                        <span translate>phone</span>
                                    </label>
                                    <div class="wrap">
                                        <div class="input-wrap input">
                                            <input id="phone" type="text" name="phone" ng-model="phone"/>
                                        </div>
                                    </div>
                                    <label class="wrap label" for="text">
                                        <ng-md-icon icon="textsms"
                                                    style="display: inline-block; position: relative; fill: #f5eddc;"
                                                    size="25px"></ng-md-icon>
                                        <span translate>note</span>
                                    </label>
                                    <div class="wrap">
                                        <div class="input-wrap input">
                                            <input id="text" type="text" name="text" ng-model="text"/>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>

                            <div class="book-wrap" ng-hide="bookFinnish">
    
                                    <div class="row">
                                        <label class="wrap label suhlas" for="suhlas">
                                                <input type="checkbox" name="suhlas" id="suhlas" ng-model="suhlas" required>
                                                <span translate>agree.terms</span>
                                        </label>
                                        <br>
                                        <label class="wrap label" for="price" ng-hide="!treatment && !amount">
                                            <ng-md-icon icon="local_offer"
                                                        style="display: inline-block; position: relative; fill: #f5eddc;"
                                                        size="25px"></ng-md-icon>
                                            <span translate>price</span>
                                        </label>
    
                                        <div id="price" class="wrap form-price" ng-hide="!treatment && !amount">
                                            <h1 ng-if="!finalPrice"><span> 0.00 &euro;</span></h1>
                                            <h1 ng-if="finalPrice"><span> {{finalPrice}}.00 &euro;</span></h1>
                                        </div>

                                    </div>
                                    <div class="row">
                                            <h5 class="link-button phone" ng-show="!spaBookForm.$valid" translate>
                                                    please.fill.all.data</p>
                                    </div>
                                    
                                </div>

                            <div class="booking-done" ng-show="bookFinnish">
                                <ng-md-icon icon="check_circle" style="display: block; position: relative;
                                            background: #78fa89; border-radius: 50%;
                                            width: 150px; height:150px;fill: rgb(43, 42, 41);"
                                            size="150"></ng-md-icon>
                                    <h4 translate>booking.text.1</h4>
                                    <h4 translate>booking.text.2</h4>
                            </div>

                            <div class="book-wrap" ng-hide="bookFinnish">
                                <div class="actions">

                                    <button ng-click="formsubmit(spaBookForm)" ng-disabled="!spaBookForm.$valid"
                                            class="btn-next btn-submit">
                                        <ng-md-icon icon="check" style="white" size="20"></ng-md-icon>
                                        <span translate>book.now</span>
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </section>

                <section id="hours" class="content-main bg-100">
                    <h1 class="main-title" translate>open.hours</h1>
                    <div class="small-line"></div>
                    <div>
                        <div class="hours">
                            <div class="day monday" ng-class="{'today' : todayName == 'monday' }">
                                <span translate>monday</span>
                                <span class="time1" ng-if="spaMonTimeFrom.$value">{{spaMonTimeFrom.$value}}</span>
                                <span class="time3" ng-if="!spaMonTimeFrom.$value"  style="text-align: center" translate>closed</span>
                                <span class="time2" ng-if="spaMonTimeTo.$value">{{spaMonTimeTo.$value}}</span>
                            </div>
                            <div class="day tuesday" ng-class="{'today' : todayName == 'tuesday' }">
                                <span translate>tuesday</span>
                                <span class="time1">{{spaTueTimeFrom.$value}}</span>
                                <span class="time2">{{spaTueTimeTo.$value}}</span>
                            </div>
                            <div class="day wednesday" ng-class="{'today' : todayName == 'wednesday' }">
                                <span translate>wednesday</span>
                                <span class="time1">{{spaWedTimeFrom.$value}}</span>
                                <span class="time2">{{spaWedTimeTo.$value}}</span>
                            </div>
                            <div class="day thursday" ng-class="{'today' : todayName == 'thursday' }">
                                <span translate>thursday</span>
                                <span class="time1">{{spaThuTimeFrom.$value}}</span>
                                <span class="time2">{{spaThuTimeTo.$value}}</span>
                            </div>
                            <div class="day friday" ng-class="{'today' : todayName == 'friday' }">
                                <span translate>friday</span>
                                <span class="time1">{{spaFriTimeFrom.$value}}</span>
                                <span class="time2">{{spaFriTimeTo.$value}}</span>
                            </div>
                            <div class="day saturday" ng-class="{'today' : todayName == 'saturday' }">
                                <span translate>saturday</span>
                                <span class="time1">{{spaSatTimeFrom.$value}}</span>
                                <span class="time2">{{spaSatTimeTo.$value}}</span>
                            </div>
                            <div class="day sunday" ng-class="{'today' : todayName == 'sunday' }">
                                <span translate>sunday</span>
                                <span class="time1">{{spaSunTimeFrom.$value}}</span>
                                <span class="time2">{{spaSunTimeTo.$value}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="small-line"></div>
                    <br>
                    <br>
                    <h2 class="sub-title align-center ">
                            <br>
                        <b translate>spa.text.5</b>
                        <br>
                        <b translate>spa.text.6</b></h2>

                </section>

                <section id="contact" class="content-main content-kontakt bg bg-beige">
                    <h1 class="main-title color-white" translate>contact</h1>
                    <div class="small-line white"></div>

                    <div class="info">
                        <div class="item">
                            <ng-md-icon icon="settings_phone" class="icon"
                                        style="display: block; position: relative; margin: 0 auto; fill: #2b2a29;"
                                        size="3em"></ng-md-icon>
                            <a href="tel:00421948028025">(+421) 0948 028 025</a>
                        </div>
                        <div class="item">
                            <ng-md-icon icon="mail_outline" class="icon"
                                        style="display: block; position: relative; margin: 0 auto; fill: #2b2a29;"
                                        size="3em"></ng-md-icon>
                            <a href="mailto:spa&#64minipivovartatras&#46sk" class="email">spa@minipivovartatras.sk</a>
                        </div>
                        <div class="item" style="float: none; padding-top: 1em;">
                            <ng-md-icon icon="facebook" class="icon" style="display: block; position: relative; margin: 0 auto; fill: #2b2a29;"
                                        size="3em"></ng-md-icon>
                            <a href="https://www.facebook.com/minipivovartatras" class="email">fb.com/minipivovartatras</a>
                        </div>
                    </div>
                </section>

                <!-- include FOOTER -->
                <div ng-include="'templates/footer.html'"></div>
                <!-- end of FOOTER include -->

            </div><!-- content-wraper -->
        </div><!-- /right-content -->

    </div>
</div>






