<div ng-cloak class="wrapper index bg-black">
    <div class="controls">
        <div class="language">
            <span  ng-class="{'active' : language == 'sk'}" ng-click="changeLanguage('sk')">SK</span>
            <span  ng-class="{'active' : language == 'en'}" ng-click="changeLanguage('en')">EN</span>
            <!--<span  ng-class="{'active' : language == 'de'}" ng-click="changeLanguage('de')">DE</span>-->
            <!--<span  ng-class="{'active' : language == 'pl'}" ng-click="changeLanguage('pl')">PL</span>-->
        </div>
    </div>

    <div class="center">

        <div class="right-content">

            <div class="content-wrapper">

                <section id="welcome" class="book transparent" ng-style="{height: displayHeight + 'px'}">
                    <div class="center-wrap">
                        <div class="center-content home">

                            <div class="logo">
                                <img src="./components/assets/imgs/tatras_logo.png" alt="Minipivovar TATRAS Logo"/>
                            </div>

                            <div class="actions start-btns">
                                <div class="category">
                                    <a ng-href="#/beer" class="btn main" target="_self" translate>minipivovar</a>
                                    <br>
                                    <a ng-href="#/beer#beers" class="btn" target="_self" ng-click="scrollTo('beers')" translate>true.beer</a>
                                    <a ng-href="#/beer#history" class="btn" target="_self" ng-click="scrollTo('history')" translate>history</a>
                                    <a ng-href="#/beer#about" class="btn" target="_self" ng-click="scrollTo('about')" translate>about.us</a>
                                    <a ng-href="#/beer#contact" class="btn" target="_self" ng-click="scrollTo('contact')" translate>contact</a>
                                </div>
                                <div class="category">
                                    <a ng-href="#/restaurant" class="btn main" target="_self" translate>restaurant</a>
                                    <br>
                                    <a ng-href="#/restaurant#menu" class="btn" target="_self" ng-click="scrollTo('menu')" translate>daily.menu</a>
                                    <a ng-href="#/restaurant#book" class="btn" target="_self" ng-click="scrollTo('book')" translate>book.now</a>
                                    <a ng-href="#/restaurant#hours" class="btn" target="_self" ng-click="scrollTo('hours')" translate>open.hours</a>
                                    <a ng-href="#/restaurant#contact" class="btn" target="_self" ng-click="scrollTo('contact')" translate>contact</a>
                                </div>
                                <div class="category">
                                    <a ng-href="#/pension" class="btn main" target="_self" translate>pension</a>
                                    <br>
                                    <a ng-href="#/pension#rooms" class="btn" target="_self" ng-click="scrollTo('rooms')" translate>rooms</a>
                                    <a ng-href="#/pension#book" class="btn" target="_self" ng-click="scrollTo('book')" translate>book.now</a>
                                    <a ng-href="#/pension#services" class="btn" target="_self" ng-click="scrollTo('services')" translate>services</a>
                                    <a ng-href="#/pension#contact" class="btn" target="_self" ng-click="scrollTo('contact')" translate>contact</a>
                                </div>
                                <div class="category">
                                    <a ng-href="#/spa" class="btn main" target="_self" translate>wellness</a>
                                    <br>
                                    <a ng-href="#/spa#prices" class="btn" target="_self" ng-click="scrollTo('prices')" translate>price.list</a>
                                    <a ng-href="#/spa#book" class="btn" target="_self"  ng-click="scrollTo('book')" translate>book.now</a>
                                    <a ng-href="#/spa#hours" class="btn" target="_self" ng-click="scrollTo('hours   ')" translate>open.hours</a>
                                    <a ng-href="#/spa#contact" class="btn" target="_self" ng-click="scrollTo('contact')" translate>contact</a>
                                </div>
                                <!-- <a href="/shop" class="btn" translate>shop</a> -->
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

<!-- include FOOTER -->
<div ng-include="'templates/footer.html'"></div>






